<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Steem &#8211; Alt Coin &amp; Me</title>
	<atom:link href="http://altcoinandme.com/tag/steem/feed/" rel="self" type="application/rss+xml" />
	<link>http://altcoinandme.com/</link>
	<description>CryptoCurrency Reviews</description>
	<lastBuildDate>Mon, 07 May 2018 12:52:54 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Steem Cryptocurrency Review</title>
		<link>http://altcoinandme.com/steem-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/steem-cryptocurrency-review/#respond</comments>
				<pubDate>Fri, 27 Apr 2018 11:55:10 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[SBD]]></category>
		<category><![CDATA[Steem]]></category>
		<category><![CDATA[Steem Dollar]]></category>
		<category><![CDATA[Steem Power]]></category>
		<category><![CDATA[SteemIt]]></category>
		<category><![CDATA[Thumbs Up]]></category>

		<guid isPermaLink="false">http://altcoinandme.com/?p=446</guid>
				<description><![CDATA[Steem Website: Project Home Page Overview: Steem is a [sg_popup id=&#8221;33&#8243; event=&#8221;click&#8221;]blockchain[/sg_popup] based social media network. The website SteemIt.com is the primary website that utilizes steem. Contributions towards the SteemIt network are primarily distributed to the authors and curators. Steem actually consists of three currency components. The primary currency is…<p> <a class="continue-reading-link" href="http://altcoinandme.com/steem-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_99" style="width: 210px" class="wp-caption alignleft"><a href="http://altcoinandme.com/steem-cryptocurrency-review/"><img aria-describedby="caption-attachment-99" class="size-full wp-image-99" src="/wp-content/uploads/2018/03/ThumbsUp.jpg" alt="Approved" width="200" height="240" srcset="/wp-content/uploads/2018/03/ThumbsUp.jpg 200w, /wp-content/uploads/2018/03/ThumbsUp-125x150.jpg 125w" sizes="(max-width: 200px) 100vw, 200px" /></a><p id="caption-attachment-99" class="wp-caption-text">Recommended Crypto Currency. To view a detailed analysis of the score-sheet, <a href="https://docs.google.com/spreadsheets/d/1-i_3n4xPTEK7MEos7mZFSACIzJQMOt70B8crmpMXj4I/edit?usp=sharing" target="_blank" rel="noopener">click here!</a></p></div>
<h3>Steem Website:</h3>
<p><a href="https://steem.com/" target="_blank" rel="noopener">Project Home Page</a></p>
<h3>Overview:</h3>
<p>Steem is a [sg_popup id=&#8221;33&#8243; event=&#8221;click&#8221;]blockchain[/sg_popup] based social media network. The website SteemIt.com is the primary website that utilizes steem. Contributions towards the SteemIt network are primarily distributed to the authors and curators. Steem actually consists of three currency components.</p>
<ol>
<li>The primary currency is <span style="text-decoration: underline;">Steem</span> which can be transferred anytime to anyone and can be converted to Steem power within your SteemIt wallet account.</li>
<li><span style="text-decoration: underline;">Steem power (SP)</span> is similar to holding stock in a company. It gives your votes more weight. If you wish to cash out SP it takes 13 weeks and each payment is exactly 1/13 of your balance.</li>
<li><span style="text-decoration: underline;">Lastly, Steem Dollars (SD)</span> are pegged to the US dollar on a $1 to 1 SD conversion. This is not always the case, but they do their best to accomplish this through economic incentives referenced in their whitepaper.</li>
</ol>
<h3>Personal Opinion:</h3>
<p>I live in a country where we are taught that we have &#8220;free speech&#8221; unless you say something unpopular on Twitter or Facebook which will lead to your content being removed or possible legal ramifications. The Steem [sg_popup id=&#8221;33&#8243; event=&#8221;click&#8221;]blockchain[/sg_popup] negates this by making all posted material publicly available. I will note that SteemIt.com (a branch of steem) does censor their content which is understandable considering the aforementioned repercussions. I believe we are only in the infancy stage of this product and I personally plan to shift a good part of my crypto portfolio to STEEM in the future. It will be very interesting to see how this project evolves in the future but I believe the investment is worth supporting the ideals of this project.</p>
<h3>Usability (7/10):</h3>
<p>If you would like to get started fast, I would recommend you use the website &#8220;SteemIt.com&#8221;. <a href="#WalletSetup">To get started click here to scroll down to the setup instructions</a>. It provides everything you need including social media integration. To start a lightweight wallet as a desktop client &#8220;Vessel&#8221; was somewhat easy to use once you set the right server setup as <a href="#LightWeightSetup">explained blow</a>. The initial comprehension of the three different elements of Steem can be confusing for beginners. The website is lacking links to some of the components to get you started. Contributing computing power to a full node wallet or witness is too complicated for a new users. I would highly recommend sticking to the lightweight wallet. The transactional capacity of Steem is impressive at 10,000 transactions per second should the future require it.</p>
<h3>Privacy (5/10):</h3>
<p>Steem uses a standard [sg_popup id=&#8221;33&#8243; event=&#8221;click&#8221;]block-chain[/sg_popup] public ledger that&#8217;s fully transparent. This has obvious benefits but there&#8217;s no apparent privacy enhancing features of Steem.</p>
<h3>Credibility (7.5/10):</h3>
<p>Steem clearly has some brilliant people behind it but they were very difficult to locate from the home page with-ought doing a google search. Listing the team helps add trust in the public eye. Hopefully a member of the team will read this review and add a link on the home page. The information seems to be spread sporadically across the internet, however I was able to locate the company LinkedIn page <a href="https://www.linkedin.com/search/results/people/?facetCurrentCompany=%5B%2210498384%22%5D" target="_blank" rel="noopener">here</a>.</p>
<h3>Innovation (10/10):</h3>
<p>After reading through the whitepaper it&#8217;s very clear that the developers designed this product with every predicted scenario and consideration in mind. All of the promotion that I personally encountered for steem was towards earning rewards for contributions towards the network. However, I believe the most revolutionary aspect of this product is the inability of governments or corporations to censor the content. Any and all contributions posted to the steem network will reside on the public ledger as long as the network is operational.</p>
<h3>Customer Support (5.25/10):</h3>
<p>There were some strong points and some weak points of the community customer support. I was able to make direct contact with one of the developers via Email which by itself is very rare. To immediately reach customer support go to the SteemIt chat <a href="https://steem.chat/" target="_blank" rel="noopener">here</a>. Discord was equally effective in receiving support. To join the Discord chat <a href="https://discord.gg/B29Bbng" target="_blank" rel="noopener">click here</a>. I was unable to receive support on any of the other channels listed on the home page.</p>
<h3>Exchange Support (10/10):</h3>
<p>The easiest way to obtain additional Steem if you already own another cryptocurrency such as Bitcoin is to convert your coins at blocktrades.us by <a href="https://blocktrades.us/?input_coin_type=btc&amp;output_coin_type=steem" target="_blank" rel="noopener">clicking here</a>. The available centralized exchanges listed on the website are Bittrex and Poloniex, however you can pick up Steem on almost any exchange. Exchanges not listed on the website listed in higher to lower volume according to coinmarketcap.com are as follows: UpBit, Binance, GoPax, HitBTC, BuyUCoin and VeBitCoin.</p>
<h3 id="WalletSetup">Getting started:</h3>
<p>The first thing you&#8217;re going to want to do is to navigate to the SteemIt <a href="https://signup.steemit.com/" target="_blank" rel="noopener">signup form my clicking here</a>. Make sure to verify your email address and phone number. After the team reviews your information you will need to wait for verification. Personally, it took five days for my account to be validated however I&#8217;ve been told that it typically only takes a day or two. The customer support indicated that this is to make sure there&#8217;s no impostors pretending to be somebody they&#8217;re not.</p>
<h3>Phone Setup</h3>
<h5>Android:</h5>
<p>There&#8217;s a free nifty little program called SteemPay that you can use to send SBD or STEEM. It&#8217;s available for download from the google play store <a href="https://play.google.com/store/apps/details?id=com.kodaxx.steempay" target="_blank" rel="noopener">here</a>. Once you download the program, use your SteemIt.com login credentials to access the application.</p>
<h5>iPhone:</h5>
<p>None found.</p>
<h3>PC Setup:</h3>
<h5>Online wallet / Light Weight Wallet:</h5>
<p>The simplest way to use a Steem wallet is to use the wallet allocated to you on Steemit.com. Your account name (in my case altcoinandme) is your actual wallet address. Pretty simple right! You can transfer to and from your wallet Steem Power, Steem and Steem dollars. If you need to transfer from an exchange, they may also require you to have a &#8220;memo field&#8221; that you can locate by clicking on your profile photo in the top right hand corner. Next click on &#8220;Wallet&#8221; and then permissions. You will see the memo address listed on the bottom. <span id="LightWeightSetup"></span>Another alternative that gives you a great overview and control of your assets is a product called &#8220;Vessel&#8221; which can be downloaded <a href="https://github.com/aaroncox/vessel/releases" target="_blank" rel="noopener">here</a>. I did encounter some issues with vessel connecting. If you encounter the same issue, I resolved it by clicking on &#8220;Change server&#8221; at the top. The server that I found to work was &#8220;https://steemd.minnowsupportproject.org&#8221;.</p>
<h5>Download a Full Node Wallet (Witness node or Full Wallet):</h5>
<p>Unfortunately, the current method to setup a witness node is extremely complex and requires an extremely high amount of computer resources. The engineers purposely designed the architecture to allocate a large amount of computer memory to ensure network throughput. The current recommended amount of RAM required is 64 GB. If you would still like to proceed I would recommend installing docker CE free edition by <a href="https://www.docker.com/get-docker" target="_blank" rel="noopener">clicking here</a>.</p>
<p>Once you register, docker will appear in the toolbar on the bottom right hand side. Right click on the  docker and select &#8220;Kitematic&#8221;. Download the zip file and extract it to a folder on your desktop. Open the folder and double click on the Kitematic.exe file. You will see an image created by &#8220;teego&#8221;. Click on create and wait for the image to download. Once the image is downloaded click on the container on the left hand side then click on start. You will see the wallet come online with some errors. Now comes the complicated part. You will need to fine tune the config.ini file to optimize your image. This file can be found in: &#8220;C:\Users\{Your User Name}\Documents\Kitematic\steem-wallet\witness_node_data_dir&#8221;.</p>
<p>There&#8217;s an example server config.ini file is located <a href="https://github.com/steemit/steem/blob/master/contrib/fullnode.config.ini" target="_blank" rel="noopener">here</a>. You may need to manually adjust a lot of the parameters to get the image to work therefore disabling or enabling the plugins is a good place to start. Lastly, being compensated for being a witness can be difficult since witnesses are voted on by the public which means consequently you will need a high speed, reliable internet connection and high end hardware to appear on the community radar. There&#8217;s a list of the top witnesses getting paid <a href="https://steemd.com/witnesses" target="_blank" rel="noopener">here</a>. I&#8217;ve also been informed by the developers there&#8217;s no compensation for the actual mining of the blocks, only compensation for serving as a witness node.</p>
<h5>Free Steem Faucets:</h5>
<p>No obvious faucets could be found</p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/steem-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
