<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Thumbs Down &#8211; Alt Coin &amp; Me</title>
	<atom:link href="http://altcoinandme.com/tag/thumbs-down/feed/" rel="self" type="application/rss+xml" />
	<link>http://altcoinandme.com/</link>
	<description>CryptoCurrency Reviews</description>
	<lastBuildDate>Mon, 07 May 2018 17:08:41 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>NEO CryptoCurrency Review</title>
		<link>http://altcoinandme.com/neo-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/neo-cryptocurrency-review/#respond</comments>
				<pubDate>Sun, 06 May 2018 17:23:02 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[NEO]]></category>
		<category><![CDATA[NEOS]]></category>
		<category><![CDATA[Thumbs Down]]></category>

		<guid isPermaLink="false">http://altcoinandme.com/?p=545</guid>
				<description><![CDATA[NEO Website: Project Home Page Overview: NEO is often termed as the &#8220;Chinese Ethereum&#8220;. The reason people refer to this reference is because NEO provides &#8220;smart contracts&#8221; which are an ability for developers to implement applications within the network giving it potential to be whatever the programmers can think up.…<p> <a class="continue-reading-link" href="http://altcoinandme.com/neo-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_101" style="width: 208px" class="wp-caption alignleft"><a href="http://altcoinandme.com/neo-cryptocurrency-review/"><img aria-describedby="caption-attachment-101" class="wp-image-101 size-full" src="/wp-content/uploads/2018/03/ThumbsDown.jpg" alt="I do not recommend this cryptocurrency" width="198" height="240" srcset="/wp-content/uploads/2018/03/ThumbsDown.jpg 198w, /wp-content/uploads/2018/03/ThumbsDown-124x150.jpg 124w" sizes="(max-width: 198px) 100vw, 198px" /></a><p id="caption-attachment-101" class="wp-caption-text">AltCoin recommendation. View the ScoreSheet <a href="https://docs.google.com/spreadsheets/d/1zlo62HA5WYSqeDj4fw0AVT4dDm_XidInQpWBuwe2z9U/edit?usp=sharing" target="_blank" rel="noopener">here</a>:</p></div>
<h3>NEO Website:</h3>
<p><a href="https://neo.org/" target="_blank" rel="noopener">Project Home Page</a></p>
<h3>Overview:</h3>
<p>NEO is often termed as the &#8220;Chinese <a href="http://altcoinandme.com/ethereum-eth-cryptocurrency-review/">Ethereum</a>&#8220;. The reason people refer to this reference is because NEO provides &#8220;smart contracts&#8221; which are an ability for developers to implement applications within the network giving it potential to be whatever the programmers can think up. Another similarity is the transaction fees being covered by &#8220;gas&#8221; which is the amount needed to perform a transaction and is a completely separate cryptocurrency by itself. The main difference is that developers are able to develop in a programming language of their choice on the NEO network which is a big deal. The throughput is also impressive at 1000 practical (not theoretical) transactions per second.</p>
<h3>Personal Opinion:</h3>
<p>This is one of the most difficult ratings I&#8217;ve given since at the beginning of my research I discovered that I had the ability to develop in my native programming language (C#). However, the truth is NEO isn&#8217;t a fully decentralized network. The main reason for the throughput is because they only cover part of the requirements for a decentralized network. This is actually the reason why NEO is able to achieve such throughput. They don&#8217;t hide this fact and have stated they plan on decentralization in the future. <a href="http://altcoinandme.com/ripple-xrp-cryptocurrency-review/" target="_blank" rel="noopener">See my Ripple Review on centralization.</a> Supporting a cryptocurrency that isn&#8217;t fully decentralized is like saying &#8220;I have full trust my government will do the right thing and not intervene&#8221;. The fact that the nodes are based in China is also scary since the Chinese government is known for its censorship policies.</p>
<p>Also very disheartening (taken from their whitepaper):</p>
<blockquote><p>&#8220;10 million tokens (10% total) will be used to motivate NEO developers and members of the NEO Council</p>
<p>10 million tokens (10% total) will be used to motivate developers in the NEO ecosystem</p>
<p>15 million tokens (15% total) will be used to cross-invest in other block-chain projects, which are owned by the NEO Council and are used only for NEO projects</p>
<p>15 million (15% total) will be retained as contingency&#8221;</p></blockquote>
<p>Given their amount of self-distribution or control violates the concept of any one entity containing too much power. This is a huge negative flag and should be taken seriously. It&#8217;s not as awful as <a href="http://altcoinandme.com/ripple-xrp-cryptocurrency-review/" target="_blank" rel="noopener">Ripples distribution</a> of currency however it&#8217;s still a major problem. It encourages the self interest of the party in control and not the community.</p>
<h3>Usability (7/10):</h3>
<p>If you would like to get started quickly with NEOs on a PC I would recommend clicking <a href="#PcSetup">here to scroll</a> down to the &#8220;PC Online / LightWeight Setup&#8221; section. To quickly setup on your phone <a href="#PhoneSetup">click here to scroll down</a> to the phone setup section. Unfortunately the full node doesn&#8217;t include an installer but it pretty straightforward. It took three days to synchronize with the network which is pretty good.</p>
<h3>Privacy (5/10):</h3>
<p>NEO uses a standard [sg_popup id=&#8221;33&#8243; event=&#8221;click&#8221;]block-chain[/sg_popup] public ledger that&#8217;s fully transparent. This has obvious benefits but there&#8217;s no apparent privacy enhancing features of NEO.</p>
<h3>Credibility (10/10):</h3>
<p>Congratulations to the NEO team for getting a 10/10 which is very rare for the cryptocurrencies I review. A full roster of the team can be located <a href="https://neo.org/home/team" target="_blank" rel="noopener">here</a>. If you would like to do your own reading of the documentation (whitepaper) it is located <a href="http://docs.neo.org/en-us/index.html" target="_blank" rel="noopener">here</a>. The code of the project is fully transparent and can be found by navigating <a href="https://github.com/neo-project" target="_blank" rel="noopener">here</a>.</p>
<h3>Innovation (10/10):</h3>
<p>Neo has shown great innovation particularly in the field of enabling any programming language to run on its platform. NEO also contains some trendsetting features labeled NeoFX, NeoFS and NeoQS. For the simplicity of this review I will not be expanding on these topics.</p>
<h3>Customer Support (5.25/10):</h3>
<p>Customer support wasn&#8217;t the best but it does exist. There&#8217;s a couple Chinese support forums that I was unable to evaluate due to not supporting English. If you have a basic question and speak English I would recommend the Neos community <a href="https://discord.gg/DtzSb2Z" target="_blank" rel="noopener">discord chat</a>. The chat can be a hit or miss so you may need to call out an admin to get an answer. For questions you can&#8217;t resolve within the community Neo an email is listed at contact@neo.org which I got a response from within 24 hours. The Facebook messaging doesn&#8217;t work and getting a response from reddit can be a gamble.</p>
<h3>Exchange Support (10/10):</h3>
<p>Unfortunately, I couldn&#8217;t locate any of the exchanges on the website however NEO was able to make the points up with the large amount of support across exchanges. Here&#8217;s a list according to CoinMarketCap.com in order from the highest volume to the lowest volume: UpBit, Binance, Bitfinex, OKEx, CoinEgg, Bittrex, Huobi, LbankLBank, DragonEx, HitBTC.</p>
<h3 id="WalletSetup">Getting started &#8211; Wallet Usability (7/10):</h3>
<p>The development community has developed many different versions on NEO. Several full and lightweight PC versions are located <a href="https://neo.org/client" target="_blank" rel="noopener">here</a>. They don&#8217;t list phone app versions on the website but I&#8217;ve included some below.</p>
<h3 id="PhoneSetup">Phone Setup</h3>
<h5>Android:</h5>
<p>I chose to download and use a wallet by the name of O3Wallet <a href="https://play.google.com/store/apps/details?id=network.o3.o3wallet" target="_blank" rel="noopener">located here</a>. Click &#8220;Create a new wallet&#8221; on the first screen after installation. The next screen will display a public address and a private key. The public address is an address you can give out to receive your funds. Don&#8217;t ever disclose your private address to anybody! The private address is the key to unlock your account. Write it down on a piece of paper and hide it. Screenshots are not recommended because if a person gains access to your photos they essentially will gain access to your wallet.</p>
<h5>iPhone:</h5>
<p>None found.</p>
<h3 id="PcSetup">PC Setup:</h3>
<h5>Online wallet / Light Weight Wallet:</h5>
<p>Download a lightweight wallet by &#8220;CityOfZion&#8221; for Windows or Linux located <a href="https://github.com/CityOfZion/neon-wallet/releases" target="_blank" rel="noopener">here</a>. Click on &#8220;Create a new wallet&#8221; on the next screen or use another one of the options to login. Choose a password and select &#8220;Generate Keys&#8221;. Make sure to copy the information on the next screen in the situation that you may need to recover your wallet. After you are done saving the information the only method I could personally view to start the wallet was to close the window, double click on the application on your desktop. Click on &#8220;login using a saved wallet&#8221;. Select your wallet then enter the passphrase. You now have full access to your wallet, Congratulations!</p>
<h5>Download a Full Node Wallet (Witness node or Full Wallet):</h5>
<p>The full node PC wallet for Windows is available for download by clicking <a href="https://github.com/neo-project/neo-gui/releases/download/v2.6.0/neo-gui-windows.zip">here</a>. Open the zip file and drag and drop the folder your desktop. Next, double click on &#8220;neo-gui.exe&#8221; inside of the folder. Click &#8220;yes&#8221; on installing the certificate and your wallet will automatically start downloading the blocks.</p>
<h5>Free NEO Faucets:</h5>
<p>No obvious faucets could be found. This is because the minimum amount of NEO that can be transferred from wallet to wallet is 1 so the faucet would have to pay out 1 NEO per interaction which is a very large amount.</p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/neo-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Ripple (XRP) Cryptocurrency Review</title>
		<link>http://altcoinandme.com/ripple-xrp-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/ripple-xrp-cryptocurrency-review/#respond</comments>
				<pubDate>Thu, 29 Mar 2018 15:38:14 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[RIpple]]></category>
		<category><![CDATA[Thumbs Down]]></category>
		<category><![CDATA[XRP]]></category>

		<guid isPermaLink="false">https://altcoinandme.com/?p=289</guid>
				<description><![CDATA[Opinion: For this article I will be referring to Ripple and XRP interchangeably since the control Ripple has over XRP is undeniable. I approached this crypto-currency with an open mind as I do with all of my evaluations. Unfortunately, they scored the lowest on customer support of any crypto-currency I&#8217;ve…<p> <a class="continue-reading-link" href="http://altcoinandme.com/ripple-xrp-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_99" style="width: 208px" class="wp-caption alignleft"><a href="http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency"><img aria-describedby="caption-attachment-99" class="wp-image-101 size-full" src="/wp-content/uploads/2018/03/ThumbsDown.jpg" alt="I do not recommend this cryptocurrency" width="198" height="240" srcset="/wp-content/uploads/2018/03/ThumbsDown.jpg 198w, /wp-content/uploads/2018/03/ThumbsDown-124x150.jpg 124w" sizes="(max-width: 198px) 100vw, 198px" /></a><p id="caption-attachment-99" class="wp-caption-text">Recommendation: <br /> Thumbs down. <a href="https://docs.google.com/spreadsheets/d/1_ZWqgux_UeRgRNeSEx-QJCy2SncNaBTMbd5DXxlUX4Q/edit?usp=sharing" target="_blank" rel="noopener">Click here to view a detailed analysis.</a></p></div>
<h3>Opinion:</h3>
<p>For this article I will be referring to Ripple and XRP interchangeably since the control Ripple has over XRP is undeniable. I approached this crypto-currency with an open mind as I do with all of my evaluations. Unfortunately, they scored the lowest on customer support of any crypto-currency I&#8217;ve rated yet so obtaining credible non-bias information was difficult. Here&#8217;s the facts: The &#8220;genius&#8221; programmers didn&#8217;t create Ripple. A real &#8220;genius&#8221; Canadian engineer named &#8220;Ryan Fugger&#8221; was the creator, not the current Ripple company. I was honored to establish direct contact with Ryan and he gave me permission to post his response to my questions. You can view Ryans inspirational email by [sg_popup id=&#8221;17&#8243; event=&#8221;click&#8221;]clicking here![/sg_popup]. Out of respect for Ryan, I won&#8217;t be disclosing any part of our conversation outside of the email above. Ironically between the week I spent researching and writing this article and the publication date the executive below is no longer listed under the leadership of the company. The assumed former executive chairman at Ripple describes Ryans project here:<br />
<code><iframe src="https://www.youtube.com/embed/3zW_DN9pkbM?rel=0&amp;start=15" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></code></p>
<p>The only product Ripple has created is a product they call &#8220;xCurrent&#8221; which is nothing more than proprietary software that banks can use to verify transactions over the ledger. Ripple is distributing 1 billion XRP to themselves monthly for 55 months. Don&#8217;t believe me? Watch the video below:</p>
<p><code><br />
<iframe src="https://www.youtube.com/embed/Y7fDEO15MGI?rel=0&amp;start=56" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe><br />
</code></p>
<p>They claim it&#8217;s to provide &#8220;supply predictability&#8221;. If Ripple were to sell 55 billion at once it would be worth almost nothing. That&#8217;s maximizing profits not obtaining supply predictability since Ripple can distribute or hold as much as they want under one billion XRP a month. At the time of this writing that&#8217;s valued around 500 million USD a month. I&#8217;m a firm believer in the free market but when you&#8217;re abusing the brilliant work of free thinkers for monetary gain you should be exiled from being labeled anything but &#8220;Ripple Bank&#8221;. Look at Ripples team and ask yourself whether you see a development team or a bank: <a href="https://ripple.com/company/leadership/" target="_blank" rel="noopener">View Team</a>.</p>
<h5>Technical issues with Ripple:</h5>
<p>Ripples main claim to fame is their transaction throughput, however if you dig into their &#8220;consensus algorithm&#8221; and architecture you&#8217;ll learn that it handles only part of the conditions required for a decentralized network. If you believe you are going to run a trusted node to contribute, don&#8217;t waste your time. First of all, you will receive no compensation. Secondly, you can get flagged as untrusted for something as simple as a network interruption. Ripple of course is operating the mass majority of the XRP nodes and if you finished watching the video above they&#8217;re planning on adding more in 2018.</p>
<p>The transaction throughput is possible because XRP is metaphorically nothing more than a centralized source of Ripple server databases. Anybody that has access to the internet can obtain the same throughput through the readily available cloud services of Amazon, Microsoft or Google. In the end the only positive contribution of Ripple has been marketing the mass adoption of crypto-currencies.</p>
<h3>Ripple Website:</h3>
<p><a href="https://ripple.com/" target="_blank" rel="noopener">Primary Website</a></p>
<h3>Ripple Whitepaper (documentation):</h3>
<p><a href="https://ripple.com/files/ripple_solutions_guide.pdf" target="_blank" rel="noopener">WhitePaper</a></p>
<h3>Usability:</h3>
<p>Third party applications are available that are extremely easy to use, however they aren&#8217;t listed directly on the Ripple website. If you would simply like to setup your wallet as a new user I would recommend you <a href="#WalletSetup">click here to scroll down</a> to the section titled &#8220;Wallet Setup Instructions&#8221;. For the more advanced users that would like to setup a full node to help support the ripple network, <a href="#NodeSetup">click here to scroll down</a> to the section on running a full node. Ripple refers to their nodes as &#8220;validators&#8221; and there is detailed documentation on how to set it up but it&#8217;s extremely complicated and should be reserved for advanced users only.</p>
<h3>Privacy:</h3>
<p>Nothing special here, they use a public ledger which is about the only resemblance they have to crypto-currencies.</p>
<h3>Credibility:</h3>
<p>The Ripple team is fully transparent and consists of 15 people including executives, marketers, legal council, sales, compliance officers, finance specialists, public relations and developers. A full list of the team is located here: <a href="https://ripple.com/company/" target="_blank" rel="noopener">company team</a>. The code is also open source and located here: <a href="https://github.com/ripple" target="_blank" rel="noopener">Github Project.</a></p>
<h3>Innovation:</h3>
<p>Ripple has created a &#8220;consensus algorithm&#8221; which theoretically allows XRP to handle 1500 transactions per second. Ripple also produces their own software by the name of &#8220;xCurrent&#8221; that enables banks to settle transactions in four seconds internationally. The software combined with the low transaction costs has led to the adoption of many banks worldwide.</p>
<h3>Customer Support:</h3>
<p>Non-existent. I attempted to contact Ripple over Twitter, Facebook and LinkedIn with no response. The email address listed on on the website is support@ripple.com. An immediate auto-reply from the email address will tell you to email another address. I attempted to email the other address twice with two completely different questions. I received the exact canned response twice to read online articles which had nothing to do with my question.</p>
<h3>Exchange Support:</h3>
<p>Ripple (XRP) is one of the most highly available currencies. Below is a list of high volume exchanges in rank from the highest to the lowest according to <a href="https://coinmarketcap.com/exchanges/volume/24-hour/" target="_blank" rel="noopener">https://coinmarketcap.com/exchanges/volume/24-hour/</a>. Exchanges must be listed and easily found on the company website.</p>
<p><a href="https://www.kraken.com" target="_blank" rel="noopener">Kraken(9th)</a><br />
<a href="https://www.bitstamp.net" target="_blank" rel="noopener">BitStamp(13th)</a><br />
<a href="https://coinone.co.kr/exchange/trade/xrp/" target="_blank" rel="noopener">CoinOne(22nd)</a><br />
<a href="https://www.korbit.co.kr/market/xrp_krw" target="_blank" rel="noopener">Korbit(33rd)</a><br />
<a href="https://www.qryptos.com/" target="_blank" rel="noopener">Qryptos(39th)</a></p>
<h3 id="WalletSetup">Wallet Setup Instructions:</h3>
<h5>iPhone and Android users:</h5>
<p>There&#8217;s a great application in the App Store called &#8220;Toast Wallet&#8221;. If you cannot find the toast application in the store you can download the application directly from the Toast website located here <a href="https://toastwallet.com/" target="_blank" rel="noopener">https://toastwallet.com/</a><a href="https://coinomi.com/" target="_blank" rel="noopener"><br />
</a></p>
<h5>PC Users:</h5>
<p>The wallets weren&#8217;t listed on Ripple, however if you navigate  to <a href="https://toastwallet.com" target="_blank" rel="noopener">ToastWallet.com</a>, there&#8217;s plenty of options. ToastWallet currently supports Windows 10, Mac OSX, Linux and even a chrome browser extension. Pretty impressive. After installation it will ask you to setup a pin number and a passphrase.</p>
<p>*(Windows 10 users with Sideloading error)<br />
<span style="font-family: 'Source Sans Pro';">If you encountered an error during installation complaining about &#8220;side-loading&#8221; you will need to reconfigure your settings. Click on the search bar and type &#8220;settings&#8221;. Click on the gear icon that pops up. On the next screen labeled &#8220;windows settings&#8221;. Click on &#8220;Update &amp; Security&#8221; at the bottom of the screen.Click the button on the left hand side of the screen labeled &#8220;For Developers&#8221;. As a last step, click on &#8220;Sideload Apps&#8221;. The installer will work now with-ought any errors.</span></p>
<h5 id="NodeSetup">Supporting the Ripple (XRP) network by running a &#8220;Full Node Validator&#8221;:</h5>
<p>Detailed instructions on how to setup an online node validator are located here: <a href="https://ripple.com/build/rippled-setup/" target="_blank" rel="noopener">online node validator instructions</a>. Setting up a node is extremely complicated and is only meant for advanced users. The node can also stop being trusted for mischievous behavior or erroneous issues such as network failures. If your node is marked as being untrustworthy it will still reside on the network but if there&#8217;s any conflicting transactions the trusted nodes will take precedence. Below is a YouTube video explaining how to set up and contribute to the Ripple network:</p>
<p><code><iframe src="https://www.youtube.com/embed/0-871XWa7qI?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></code></p>
<h5>Free Ripple (XRP) CryptoCurrency Faucets:</h5>
<p><a href="https://xrpfaucet.info/" target="_blank" rel="noopener">https://xrpfaucet.info/</a></p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/ripple-xrp-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Clam Coin (CLAM) CryptoCurrency Review</title>
		<link>http://altcoinandme.com/clam-coin-clam-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/clam-coin-clam-cryptocurrency-review/#respond</comments>
				<pubDate>Fri, 23 Mar 2018 11:52:28 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[Clam]]></category>
		<category><![CDATA[Clam Coin]]></category>
		<category><![CDATA[ClamCoin]]></category>
		<category><![CDATA[Thumbs Down]]></category>

		<guid isPermaLink="false">http://altcoinandme.com/?p=143</guid>
				<description><![CDATA[Opinion: Unfortunately, this is one of the worst reviews I&#8217;ve ever done. If you&#8217;re new to crypto stay away from this one! I do have respect for all CryptoCurrencies since they have made the effort to produce something. Clam Coin almost doesn&#8217;t work and there&#8217;s extremely limited customer support. So,…<p> <a class="continue-reading-link" href="http://altcoinandme.com/clam-coin-clam-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_101" style="width: 208px" class="wp-caption alignleft"><a href="http://altcoinandme.com/clam-coin-cryptocurrency-review/"><img aria-describedby="caption-attachment-101" class="wp-image-101 size-full" src="/wp-content/uploads/2018/03/ThumbsDown.jpg" alt="I do not recommend this cryptocurrency" width="198" height="240" srcset="/wp-content/uploads/2018/03/ThumbsDown.jpg 198w, /wp-content/uploads/2018/03/ThumbsDown-124x150.jpg 124w" sizes="(max-width: 198px) 100vw, 198px" /></a><p id="caption-attachment-101" class="wp-caption-text">Thumbs Down! To view a detailed analysis of the score-sheet, <a href="https://docs.google.com/spreadsheets/d/1gTWRkwRSNmRFu-TVIeD9GFRH3nc3WqlozVr_GFQzEJc/edit?usp=sharing" target="_blank" rel="noopener">click here!</a></p></div>
<h2>Opinion:</h2>
<p>Unfortunately, this is one of the worst reviews I&#8217;ve ever done. If you&#8217;re new to crypto stay away from this one! I do have respect for all CryptoCurrencies since they have made the effort to produce something. Clam Coin almost doesn&#8217;t work and there&#8217;s extremely limited customer support. So, if you plan to use this cryptocurrency you&#8217;re on your own. Simple tasks such as downloading the wallet weren&#8217;t available on the homepage and I had to contact customer support to find the correct download link.</p>
<p>&nbsp;</p>
<h2>Clam Coin Website:</h2>
<p><a href="http://www.clamcoin.org" target="_blank" rel="noopener">Click here to navigate to the home page!</a></p>
<h3>Usability:</h3>
<p>The only helpful links I could find on the primary website &#8220;clamcoin.org&#8221; was a link to their customer support chat: <a href="http://webchat.freenode.net/?channels=CLAMS" target="_blank" rel="noopener">Click here for community support</a>. Everything else was either confusing or not working. Usually it takes a team to produce a product, in this case it takes a team to show a new user how to use it. In regards to using a full node wallet, I gave up after waiting for two weeks with practically no progress. I eventually downloaded the blocks off of another website. Sure, you can surf the internet searching for block downloads but that&#8217;s way beyond the scope of an average user. Since running a full node wallet is almost the only method to send and receive ClamCoins outside of exchanges, it makes ClamCoin almost completely unusable.</p>
<h3>Privacy:</h3>
<p>Clam coin uses the standard blockchain protocol with no enhanced privacy features.</p>
<h3>Credibility:</h3>
<p>Absolutely no credibility. While I&#8217;m sure there&#8217;s a lot of people that have worked on ClamCoin, customer support couldn&#8217;t reference any of them in particular so needless to say there was no page listing the credentials.</p>
<h3>Innovation:</h3>
<p>Proof of stake (POS) is definitely a positive direction in the world of crypto currency. The Clam Coin team claims to be working on a lot of new features but given where the project is currently at it&#8217;s highly unlikely that any of these new features will happen.</p>
<h3>Customer Support:</h3>
<p>As mentioned earlier in the article, the only reliable customer support that I&#8217;ve found is a user by the name of &#8220;tryphe_&#8221; that can be found at:.</p>
<p><a href="http://webchat.freenode.net/?channels=CLAMS" target="_blank" rel="noopener">Community Support</a></p>
<h3>Exchange Support:</h3>
<p><span style="font-family: 'Source Sans Pro';">Clam coin is listed on a three high volume exchanges and a one low volume exchange according to their home page. I gather my market data from CoinMarketCap.com located here: <a href="https://coinmarketcap.com/exchanges/volume/24-hour/" target="_blank" rel="noopener">https://coinmarketcap.com/exchanges/volume/24-hour/</a>. If it&#8217;s not listed on CoinMarketCap, it&#8217;s not eligible to be listed.</span></p>
<p>(High volume &#8211; listed in order)</p>
<p><a href="https://bittrex.com/Market/Index?MarketName=BTC-CLAM" target="_blank" rel="noopener">Bittrex (12th) </a></p>
<p><a href="https://poloniex.com/exchange#btc_clam" target="_blank" rel="noopener">Poloniex (19th) </a></p>
<p><a href="https://www.cryptopia.co.nz/Exchange/?market=CLAM_BTC" target="_blank" rel="noopener">Cryptopia (49th)</a></p>
<p>(Low Volume)</p>
<p><a href="https://bleutrade.com/exchange/CLAM/" target="_blank" rel="noopener">BleuTrade (137th)</a></p>
<h3>How to get started:</h3>
<p>After you have downloaded the wallet, &#8220;attempt&#8221; to sync by leaving your wallet online. If you would like to speed up the process, I&#8217;ve downloaded the blocks and made them available. Next you can use a free faucet to send coins to your address or purchase some currency on an exchange. Clam coins are earned if you hold a balance and leave your wallet online while running as a full node. Important Notice: If you held a balance on May 12th 2014 in a BTC, LTC,or DOGE address then you are entitled to the equal amount of Clam Coin.</p>
<h5>Download Wallet:</h5>
<p><a href="http://clamclient.com/start/download/" rel="noopener">Click here to download the wallet!</a></p>
<h5>Online wallets (N/A):</h5>
<p>None of the online wallets appear to be credible or working.</p>
<h5>Download wallet blocks from AltCoinAndMe.com:</h5>
<p>Close the ClamClient if it&#8217;s open. Make sure you&#8217;re able to show hidden files and folders in your file explorer. You can do this by opening a folder and clicking  &#8220;View&#8221; in the toolbar and making sure &#8220;hidden items&#8221; is checked. Navigate on your computer to &#8220;C:\Users\(Your user name here)\AppData\Roaming\Clam&#8221;. Make sure to backup your wallet.dat file to a separate location to ensure you don&#8217;t lose any balances in your current wallet. Extract the contents of the following zip folder to the directory. Now start your clam client and enjoy.</p>
<p>Snapshot download:</p>
<p><a href="https://altcoinandme.blob.core.windows.net/downloads/ClamCoinSnapshot(3-7-2018).zip" target="_blank" rel="noopener">Download blocks (3-7-2018)</a></p>
<h5>Free Clam Coin Faucets:</h5>
<p>The only legitimate Faucet I cold find is listed below.</p>
<p><a href="https://freebitcoins.com/ask/" target="_blank" rel="noopener">https://freebitcoins.com/ask</a></p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/clam-coin-clam-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
