@import url("../../fonts/fontfaces.css");
.farbtastic {position: absolute !important;z-index: 2;margin-left: 10px;margin-top: -100px;background-color: #f7f7f7;border: 1px solid #ccc;}
.farbtastic * {position: absolute;cursor: crosshair;}
.farbtastic, .farbtastic .wheel {width: 195px;height: 195px;}
.farbtastic .color, .farbtastic .overlay {top: 47px;left: 47px;width: 101px;height: 101px;}
.farbtastic span.mytitle {background: none repeat scroll 0 0 #f7f7f7;background: #333;border: 1px solid #ccc;font-family: "Segoe UI",Arial;font-size: 14px;line-height: 20px;top: 195px;color: #eee;left: -1px;padding: 10px 0;display: block;position: relative;text-align: center;text-transform: uppercase;width: 195px;}
.cryout-admin #main-options {width: 100%;display: block;clear: left;font-family: "Segoe UI",Arial;font-size: 12px;margin-bottom: 10px;}
.cryout-admin #lefty {display: table-cell;min-width: 720px;width: 720px;padding: 0 15px;}
.cryout-admin #righty {display: table-cell;max-width: 500px;vertical-align: top;padding-top: 84px;}
.cryout-admin #righty p, .cryout-admin #righty span, .cryout-admin .form-table small, .cryout-admin #righty ul li {font-size: 12px;color: #444;font-family: Segoe UI;}
.cryout-admin #righty h3 {padding: 10px;background: #444;color: #eee;font-size: 14px;text-transform: uppercase;font-weight: normal;cursor: default;-webkit-text-shadow: none;-moz-text-shadow: none;text-shadow: none;}
.cryout-admin .form-table {margin: 0;}
.cryout-admin .form-table small {font-style: italic;display: block;float: none;clear: both;}
.cryout-admin .donate, .cryout-admin .export, .cryout-admin .news {width: 100%;margin: 0;}
.cryout-admin .postbox h3.hndle {cursor: auto;font-size: 13px;margin: 0;padding: 6px 10px 7px;}
#accordion {width: 100%;font-family: "Segoe UI",Arial;display: block;float: none;}
.cryout-admin #submitDiv {display: block;float: none;height: 30px;font-family: "Segoe UI",Arial;}
.cryout-admin #version {display: block;float: none;clear: both;padding-top: 10px;color: #666;}
#accordion h3, #accordion h2 {display: block;float: none;border: none;background-image: none;background: #2d2d2d;margin: 0;padding: 0;clear: both;font-size: 17px;line-height: 1.3;font-weight: normal;text-transform: uppercase;color: #f0f0f0;border-top: 1px solid #3d3d3d;border-bottom: 1px solid #000;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;-webkit-transition: .3s all ease-in-out;-moz-transition: .3s all ease-in-out;-o-transition: .3s all ease-in-out;transition: .3s all ease-in-out;}
.cryout-admin .admin-menu {display: inline-block;min-width: 100%;line-height: 40px;padding: 0 20px;background: #222;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition: .5s all ease-in-out;-moz-transition: .5s all ease-in-out;-o-transition: .5s all ease-in-out;transition: .5s all ease-in-out;}
#accordion h3:hover .admin-menu, #accordion h2:hover .admin-menu {min-width: 0%;color: #1ec8bb;}
.ui-accordion h3.ui-accordion-header-active, .ui-accordion h2.ui-accordion-header-active {color: #1ec8bb !important;border-bottom: 3px solid #1ec8bb !important;}
#accordion > h3 > span, #accordion > h2 > span {display: none;}
#accordion select option {font-size: 1.1em;}
#accordion select.admin-fonts option {font-size: 1.3em;padding: 2px;line-height: 1.4em;}
#accordion select.admin-fonts optgroup {padding: 10px;}
.cryout-admin .form-table th {width: 170px;padding: 10px;}
.cryout-admin .form-table th, .cryout-admin .form-wrap label {color: #444;font-size: 14px;text-transform: uppercase;padding-top: 14px;}
.cryout-admin .form-table tr {border-bottom: 1px solid #e9e9e9;background-color: transparent;-webkit-box-shadow: 0 1px 0px #fff;-moz-box-shadow: 0 1px 0px #fff;box-shadow: 0 1px 0px #fff;-webkit-transition: .2s background;-moz-transition: .2s background;-o-transition: .2s background;transition: .2s background;}
.cryout-admin .form-table td {vertical-align: middle;padding: 12px;}
.cryout-admin input[type="text"], .cryout-admin select {border: 1px solid #aaa;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.cryout-admin .submit {text-align: right;margin-right: 20px;}
#accordion select {padding: 4px;font-size: 13px;margin: 0;}
#accordion select {min-width: 120px;max-width: 200px;}
#accordion textarea {font-size: 12px;max-width: 90%;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
#accordion .slidebox textarea {max-width: 100%;}
#accordion select.fontnameselect {width: 150px;}
#accordion input.googlefonts {width: 150px;}
#accordion select.fontsizeselect {width: 70px;min-width: 0;}
#accordion input.colorthingy {width: 65px;margin-right: 10px;}
#accordion .form-table h4 {display: inline-block;min-width: 152px;margin: 0 0 9px 0;}
.cryout-admin #presets_button {background: #1ec8bb;color: #fff;font-weight: bold;}
.cryout-admin #righty p.imex-text {display: block;float: left;margin-top: 0;margin-left: 10px;width: 255px;color: #555;}
.cryout-admin .images {display: inline-block;width: 140px;padding: 5px 0;filter: alpha(opacity=100);opacity: 1;}
.cryout-admin .images.presets {width: auto;margin-right: 30px;margin-bottom: 10px;padding: 7px;background: #fff;border: 0;border-bottom: 2px solid #bbb;-webkit-box-shadow: 2px 0px 1px #e8e8ea;-moz-box-shadow: 2px 0px 1px #e8e8ea;box-shadow: 2px 0px 1px #e8e8ea;}
.cryout-admin .images.presets:hover {border: 0;background: #fff;border-bottom: 2px solid #f00;filter: alpha(opacity=100);opacity: 1;}
.cryout-admin .layouts img, .cryout-admin .images img {pointer-events: none;}
.nirvana-image-none {}
.nirvana-image-one {border: 1px solid #1ec8bb;-webkit-box-shadow: 0 0 5px #ccc;-moz-box-shadow: 0 0 5px #ccc;box-shadow: 0 0 5px #ccc;padding: 1px;}
.nirvana-image-two {border-top: 3px solid #1ec8bb;border-bottom: 3px solid #1ec8bb;padding: 0;}
.nirvana-image-three {border: 1px solid #222;padding: 0;}
.nirvana-image-four {border: 1px solid #eee;padding: 5px;-webkit-box-shadow: 0 0 2px #999;-moz-box-shadow: 0 0 2px #999;box-shadow: 0 0 2px #999;}
.nirvana-image-five {border: 3px dashed #ccc;}
.cryout-admin label {display: inline-block;width: auto;font-size: 12px;text-align: center;padding: 5px 2px;border: 1px solid transparent;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.cryout-admin .address_span {margin: 0 3px;}
.cryout-admin input[type="checkbox"], .cryout-admin input[type="radio"] {vertical-align: middle;}
.cryout-admin label.hideareas {display: block;float: none;text-align: left;}
.cryout-admin label:hover {filter: alpha(opacity=80);opacity: .8;}
.cryout-admin label input[type=radio] {display: none;}
.cryout-admin label.layouts {display: block;float: left;padding: 3px;height: 55px;}
.cryout-admin label.layouts:hover, .cryout-admin label.images:hover {background: none;border: 1px solid #ccc;}
.cryout-admin .layouts img {width: 60px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0 0 2px #fff inset;-moz-box-shadow: 0 0 2px #fff inset;box-shadow: 0 0 2px #fff inset;}
.cryout-admin .borderful {border-color: #2595a4 !important;background: rgba(146,210,220,.4) !important;filter: alpha(opacity=100);opacity: 1;}
.cryout-admin label.layouts.checkedClass, .cryout-admin label.images.checkedClass, .cryout-admin label.pins.checkedClass, .cryout-admin label.sidebullets.checkedClass {border-color: #45b5c4;background: rgba(146,210,220,.3);filter: alpha(opacity=100);opacity: 1;}
#accordion input[type="text"] {font-family: "Lucida Console",Monaco,monospace;font-size: 12px;height: 28px;padding: 5px;}
#accordion > * {display: none;}
#accordion > h3, #accordion > h2 {display: block;}
.ui-accordion .ui-accordion-content {border-top: none;border: 1px solid #ddd;overflow: hidden;padding: 0;margin: 6px;position: static;background: #fff;background: -moz-linear-gradient(left,#fff 0%,#fafafa 20%,#f7f7f7 100%);background: -webkit-gradient(linear,left top,right top,color-stop(0%,#fff),color-stop(20%,#fafafa),color-stop(100%,#f7f7f7));background: -webkit-linear-gradient(left,#fff 0%,#fafafa 20%,#f7f7f7 100%);background: -o-linear-gradient(left,#fff 0%,#fafafa 20%,#f7f7f7 100%);background: -ms-linear-gradient(left,#fff 0%,#fafafa 20%,#f7f7f7 100%);background: linear-gradient(to right,#fff 0%,#fafafa 20%,#f7f7f7 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f7f7f7",GradientType=1);-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}
.ui-accordion .ui-accordion-content-overflow {overflow: visible !important;}
.ui-state-active {background: #eee;}
.cryout-admin .darkbg {background: #ddd;}
.cryout-admin #status {font-family: Arial;padding: 5px;}
.cryout-admin ul#files {list-style: none;padding: 0;margin: 0;}
.cryout-admin ul#files li {padding: 10px;margin-bottom: 2px;width: 400px;float: left;margin-right: 10px;}
.cryout-admin ul#files li img {max-width: 180px;max-height: 150px;}
.cryout-admin .success {background: #99f099;border: 1px solid #393;}
.cryout-admin .error {background: #f0c6c3;border: 1px solid #c62;}
.cryout-admin #uploadpreview {max-width: 64px;display: block;float: left;border: 1px solid #ddd;padding: 2px;}
.cryout-admin #filename {display: block;width: auto;float: left;margin-left: 10px;font-weight: bold;}
.cryout-admin #uploadarea {margin-top: 10px;}
.cryout-admin #absolutedim {margin-top: 20px;margin-bottom: 20px;position: relative;}
.cryout-admin #absolutedim small {margin-top: 20px;}
.cryout-admin .slmini, .cryout-admin #cdimensions {display: block;float: none;}
.cryout-admin .slmini {border-bottom: 1px solid #eee;padding: 12px;background: #fefefe;background: -moz-linear-gradient(top,#fefefe 0%,#f9f9f9 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fefefe),color-stop(100%,#f9f9f9));background: -webkit-linear-gradient(top,#fefefe 0%,#f9f9f9 100%);background: -o-linear-gradient(top,#fefefe 0%,#f9f9f9 100%);background: -ms-linear-gradient(top,#fefefe 0%,#f9f9f9 100%);background: linear-gradient(to bottom,#fefefe 0%,#f9f9f9 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefefe",endColorstr="#f9f9f9",GradientType=0);}
.cryout-admin .slmini b {width: 130px;display: inline-block;float: left;color: #555;}
.cryout-admin .slidebox {background: #fff;border: 1px solid #e8e8e8;margin-bottom: 5px;padding: 0;}
.cryout-admin .slidercontent {display: none;padding: 0 10px 10px;}
#accordion .form-table h4.slidetitle {color: #777;padding-left: 10px;margin: 3px;display: block;min-width: inherit;cursor: pointer;-webkit-transition: background .2s ease-in-out;-moz-transition: background .2s ease-in-out;-o-transition: background .2s ease-in-out;transition: background .2s ease-in-out;}
.cryout-admin .slidetitle {background: #fff;-webkit-transition: background .2s ease-in-out;-moz-transition: background .2s ease-in-out;-o-transition: background .2s ease-in-out;transition: background .2s ease-in-out;}
.cryout-admin .slidetitle:hover {background: #f2f7f9;}
#accordion .form-table h4.slidetitle:after {content: "▼";margin-right: 7px;float: right;font-size: 10px;color: #ccc;}
.cryout-admin .slidebox h5 {display: inline-block;float: none;font-size: 12px;background: #fff;color: #777;padding: 0 10px;margin: 10px 0px 0 10px;position: relative;top: 2px;border: 1px solid #dfdfdf;border-bottom: none;}
.cryout-admin .slidebox .description {display: block;float: none;}
.cryout-admin .slidebox input[type="text"], .cryout-admin .slidebox textarea {width: 100%;border-color: #dfdfdf;color: #444;}
.cryout-admin a.upload_image_button {display: block;float: none;padding: 2px 4px;color: #bf4c26;text-decoration: none;-webkit-text-shadow: none;-moz-text-shadow: none;text-shadow: none;font-style: normal;clear: both;}
.cryout-admin .button {height: 25px;text-transform: uppercase;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.slidebox a.upload_image_button {float: right;}
.cryout-admin #submitDiv input.button {font-weight: bold;font-size: 13px;padding: 7px 15px;height: auto;background: #2d2d2d;-moz-text-shadow: none;-webkit-text-shadow: none;text-shadow: none;color: #ddd;border: 0;-webkit-transition: .3s all ease-out;-moz-transition: .3s all ease-out;-o-transition: .3s all ease-out;transition: .3s all ease-out;}
.cryout-admin #submitDiv input.button:hover {background: #cb5920;}
.cryout-admin .header_upload_inputs {width: 300px;}
.cryout-admin #righty ul.news-list {margin-top: 0;}
.cryout-admin #righty .news-list li {background: #fff;padding: 7px;border: 1px solid #eee;}
.cryout-admin #righty span.news-item-date {color: #999;font-size: 11px;display: block;}
.cryout-admin a.news-header {text-decoration: none;color: #4c7373;font-size: 14px;font-weight: bold;text-transform: uppercase;}
.cryout-admin a.news-header:hover, .cryout-admin a.news-read:hover {color: #c47d09;}
.cryout-admin a.news-more {text-decoration: none;color: #4c7307;}
.cryout-admin a.news-more:hover {color: #6c9393;}
.tooltip_div {display: inline-block;clear: none;height: 23px;line-height: 23px;}
a.tooltip {display: inline-block;clear: none;height: 23px;line-height: 28px;margin-left: 7px;}
a.tooltip img {vertical-align: bottom;}
.ui-tooltip {display: block;max-width: 300px;padding: 5px;z-index: 3;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.cryout-admin #admin_header {display: block;float: left;width: 300px;padding-left: 10px;padding-top: 20px;margin-bottom: 20px;}
.cryout-admin #admin_links {display: block;float: right;clear: none;text-align: right;background: #333;padding: 3px 0 3px 6px;}
.cryout-admin #admin_links a {display: block;float: left;margin-left: 3px;margin-right: 9px;text-decoration: none;font-family: "Segoe UI",Arial;font-size: 12px;color: #ccc;text-transform: uppercase;-webkit-transition: .2s color ease-in;-moz-transition: .2s color ease-in;transition: .2s color ease-in;}
.cryout-admin #admin_links a:hover {color: #45b5c4;}
.cryout-admin .wrap div.updated, .cryout-admin .wrap div.error {margin-left: 15px;margin-right: 15px;}
.ui-corner-all {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.ui-slider {width: 90%;float: left;height: 12px;background: #eee;border-top: 1px solid #ccc;border-bottom: 1px solid #fff;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;-webkit-box-shadow: 0px 3px 3px #e7e7e7 inset;-moz-box-shadow: 0px 3px 3px #e7e7e7 inset;box-shadow: 0px 3px 3px #e7e7e7 inset;}
.ui-slider-horizontal .ui-slider-handle {heigh: 16px;border: 0;border: 1px solid #ccc;top: -3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.cryout-admin #contentb {display: block;float: left;position: absolute;margin-top: -25px;color: #555;}
.cryout-admin #barb {margin-left: 40px;color: #1693a5;display: block;float: left;position: absolute;margin-top: -25px;}
.cryout-admin #totalb {margin-left: 0px;color: #555;background: #ccc;display: block;float: left;position: absolute;margin-top: 25px;height: 4px;line-height: 25px;text-align: center;}
.cryout-admin #totalb:before {height: 0;width: 0;content: "";position: absolute;border-left: 8px solid #ccc;border-top: 5px solid transparent;left: 0;top: -5px;}
.cryout-admin #totalb:after {height: 0;width: 0;content: "";position: absolute;border-right: 8px solid #ccc;border-top: 5px solid transparent;right: 0;top: -5px;}
.ui-slider-range {background: #99d1d8;-webkit-box-shadow: 0 1px 10px rgba(255,255,255,.5) inset,0 -6px 2px rgba(0,0,0,.05) inset;-moz-box-shadow: 0 1px 10px rgba(255,255,255,.5) inset,0 -6px 2px rgba(0,0,0,.05) inset;box-shadow: 0 1px 10px rgba(255,255,255,.5) inset,0 -6px 2px rgba(0,0,0,.05) inset;}
.cryout-admin .underSelector {margin-top: 10px;}
.cryout-admin .hndle, .cryout-admin .head-wrap, .cryout-admin .postbox, .cryout-admin #righty h3 {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.cryout-admin .postbox {background: #f9f9f9;border: none;}
#main-options.oldwp a.upload_image_button {display: inline;}
#main-options.oldwp #slider-range + div {padding-top: 30px;}
.cryout-admin .postbox .button {line-height: 24px;display: block;float: left;clear: both;width: 200px;height: auto;padding: 12px 10px;margin-top: 5px;}
.cryout-admin .postbox .handlediv:before {content: "-";line-height: 38px;}
.cryout-admin .postbox.closed .handlediv:before {content: "+";}
.cryout-admin input:-moz-placeholder, .cryout-admin input::-moz-placeholder {color: #666;}
.cryout-admin .wp-core-ui .button, .cryout-admin .wp-core-ui .button-secondary {background: #fff;}
.cryout-admin #loading-big {position: fixed;z-index: 999;top: 0%;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5);display: block;display: none;margin: 0 auto;}
.cryout-admin #loading-big img {position: relative;top: 40%;display: table;margin: 0 auto;}
.cryout-admin #settings-saved {position: fixed;top: 40%;width: 100%;left: 0;display: block;height: 0;}
.cryout-admin #settings-saved span {margin: 0 auto;text-align: center;background: red;padding: 10px 50px;color: #fff;display: table;text-transform: uppercase;fon-weight: bold;font-size: 16px;letter-spacing: .5px;-webkit-animation: myfirst 2s;animation: myfirst 2s;z-index: 9999;position: relative;opacity: 0;}
.cryout-admin .social-buttons {text-align: center;}
.cryout-admin .social-buttons a {display: inline-block;}
.cryout-admin .social-buttons a img {max-width: 32px;max-height: 32px;}
.cryout-admin .social-buttons a img + img {margin-left: 10px;}
@-webkit-keyframes myfirst {0% {opacity: 0;}
	50% {-webkit-transform: translate(0,50px);opacity: 1;}
	100% {-webkit-transform: translate(0,100px);opacity: 0;}}
@keyframes myfirst {0% {opacity: 0;}
	50% {transform: translate(0,50px);opacity: 1;}
	100% {transform: translate(0,100px);opacity: 0;}}
.cryout-admin br.colors-br {display: block;margin-bottom: 10px;}
.cryout-admin #jsAlert {margin: 10px 0 0 0;background-color: #f4f8fa;border-color: #bce8f1;border-style: solid;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-width: 0 0 0 3px;}
.cryout-admin #varlimitalert {background-color: #ffeaea;border-color: #800000;border-radius: 0 0 0 0;border-style: solid;border-width: 0 0 0 3px;padding: 3px 5px;margin: 10px 0;}
.cryout-admin #varlimitalert em {font-size: 1.1em;}
.rtl .slmini b {float: right;}
.rtl a.tooltip {margin-left: 0;margin-right: 7px;}
.rtl #accordion .form-table h4.slidetitle:after {float: left;}
.rtl .slidebox a.upload_image_button {float: left;}
.rtl .slidebox h5 {margin-top: 18px;}
.rtl .postbox .handlediv {float: left;}
.rtl label.layouts {float: right;}
.rtl #totalb {left: 0;}
@media (max-width:1200px) {.cryout-admin #lefty {display: block;}
	.cryout-admin #righty {width: 100%;max-width: 100%;padding: 0 15px;min-width: 720px;}}
@media (max-width:800px) {.cryout-admin #lefty, .cryout-admin #righty {min-width: 300px;max-width: 100%;padding: 0;}
	.cryout-admin .form-table th {width: auto;}
	.cryout-admin .slmini b {width: 100%;margin-bottom: 5px;}
	#accordion select, #accordion input[type="text"], #accordion textarea {display: inline !important;width: auto !important;max-width: 70%;}
	#accordion textarea {max-width: 60% !important;}
	#accordion select {font-family: "Segoe UI",Arial;}
	#accordion .slidebox input[type="text"], #accordion .slidebox textarea {display: block !important;float: none !important;width: 100% !important;max-width: 100% !important;}
	.cryout-admin .slidebox a.upload_image_button {float: none;}}
.nirvana-self-protection-details {display: none;overflow: horizontal;}
.nirvana-self-protection-details ul {margin: 0;}
.nirvana-self-protection-details ul li u {font-size: 13px;}
.nirvana-self-protection-details ul li {font-size: .8em;line-height: 1em;}
#nirvana-settings-placeholder {background: #fff;padding: 0 10px 10px 10px;}
#nirvana-settings-placeholder h3 {background: #444;color: #fff;text-transform: uppercase;font-weight: 400;padding: 10px;margin: 0 -10px;font-size: 14px;}
#nirvana-settings-placeholder a {color: #24c1bb;}
#empty-placeholder-heading-for-wp441-notice-forced-move {padding: 0;}