<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>GridCoin &#8211; Alt Coin &amp; Me</title>
	<atom:link href="http://altcoinandme.com/tag/gridcoin/feed/" rel="self" type="application/rss+xml" />
	<link>http://altcoinandme.com/</link>
	<description>CryptoCurrency Reviews</description>
	<lastBuildDate>Fri, 27 Apr 2018 06:56:01 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>GridCoin (GRC) CryptoCurrency Review</title>
		<link>http://altcoinandme.com/gridcoin-grc-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/gridcoin-grc-cryptocurrency-review/#respond</comments>
				<pubDate>Thu, 22 Mar 2018 15:02:02 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[GRC]]></category>
		<category><![CDATA[Grid Coin]]></category>
		<category><![CDATA[GridCoin]]></category>
		<category><![CDATA[Thumbs Up]]></category>

		<guid isPermaLink="false">http://altcoinandme.com/?p=173</guid>
				<description><![CDATA[Overview: Gridcoin offers rewards for donating your computer power to solving world issues such as cancer research, climate prediction, malaria control and even search for aliens! A full list of the amazing projects that reward GridCoin cryptocurrency are listed here: Project WhiteList. Opinion: I would highly recommend GridCoin because it has…<p> <a class="continue-reading-link" href="http://altcoinandme.com/gridcoin-grc-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_99" style="width: 210px" class="wp-caption alignleft"><a href="http://altcoinandme.com/grid-coin-cryptocurrency/"><img aria-describedby="caption-attachment-99" class="wp-image-99 size-full" src="/wp-content/uploads/2018/03/ThumbsUp.jpg" alt="Recommended Cryptocurrency!" width="200" height="240" srcset="/wp-content/uploads/2018/03/ThumbsUp.jpg 200w, /wp-content/uploads/2018/03/ThumbsUp-125x150.jpg 125w" sizes="(max-width: 200px) 100vw, 200px" /></a><p id="caption-attachment-99" class="wp-caption-text">Thumbs Up! To view a detailed analysis of the score-sheet, <a href="https://docs.google.com/spreadsheets/d/13Cfd9-24MQ7KJ8z7ABjEBvIO4TKRdUMcXB6hNKA7b9A/edit?usp=sharing" target="_blank" rel="noopener">click here!</a></p></div>
<h3>Overview:</h3>
<p>Gridcoin offers rewards for donating your computer power to solving world issues such as cancer research, climate prediction, malaria control and even search for aliens! A full list of the amazing projects that reward GridCoin cryptocurrency are listed here: <a href="https://www.gridcoin.us/Guides/whitelist.htm" target="_blank" rel="noopener">Project WhiteList</a>.</p>
<h3>Opinion:</h3>
<p>I would highly recommend GridCoin because it has a highly stable and supportive community. The contributors believe in not just making money but helping the planet. Optionally, you can just leave your wallet online to earn a 1.5% APY.</p>
<h3>GridCoin Website:</h3>
<p><a href="https://www.gridcoin.us/" target="_blank" rel="noopener">Project HomePage</a></p>
<h3>Usability:</h3>
<p>The online wallet, phone wallet and PC wallet are easy to set up. If you would only like to send and receive GridCoin, scroll down to the section titled &#8220;online wallets&#8221;. However, if you wish to set up mining it&#8217;s a very complicated process. Unfortunately, I believe this is the only major issue with GridCoin. While as a programmer I might understand the steps, it&#8217;s very difficult for a standard user to begin mining. I&#8217;ve included a video in the section titled &#8220;Mining Setup Instructions&#8221; if you would like to learn how to mine. The developers should consider packaging everything in a bundle as a single installer.</p>
<h3>Privacy:</h3>
<p>GridCoin uses the standard blockchain protocol with no enhanced privacy features.</p>
<h3>Credibility:</h3>
<p>The website does not list any of the core developers. The team is located on a third party website located here: <a href="https://gridcoin.science/team.html" target="_blank" rel="noopener">project team</a>. It appears as if the primary developer has chosen to remain anonymous which is understandable but at least he&#8217;s being up front about it. The customer support commented that they would put in a request to get the team listed on the home page.</p>
<h3>Innovation:</h3>
<p>Amazing! This project is a one of a kind attempt to help scientist cure the worlds problems. Most people aren&#8217;t aware of the damage Bitcoin mining is making on the environment. If Bitcoin were a country it would rank 48th in the world for power consumption as you can see here: <a href="https://digiconomist.net/bitcoin-energy-consumption" target="_blank" rel="noopener">https://digiconomist.net/bitcoin-energy-consumption</a>. The team addresses this issue by using that energy to help scientists. It&#8217;s a global effort, so do your best to get the word out.</p>
<h3>Customer Support (tested):</h3>
<p>Excellent customer support. Don&#8217;t hesitate to contact them about any questions you might have. All of my questions were quickly answered with polite and helpful answers. Although they are missing direct chat support there are plenty of other avenues you can use to contact them.</p>
<p>Direct chat support: N/A</p>
<p>Email: <a href="https://www.gridcoin.us/contact.htm" target="_blank" rel="noopener">Contact Page</a></p>
<p>Facebook: <a href="https://www.facebook.com/gridcoins" target="_blank" rel="noopener">Direct Chat</a></p>
<p>Discord: <a href="https://discord.gg/Bt4YHxJ" target="_blank" rel="noopener">Support Group</a></p>
<p>Telegram: <a href="https://web.telegram.org/#/im?p=@gridcoin" target="_blank" rel="noopener">Support Group</a></p>
<h3>Exchange Adoption:</h3>
<p>Gridcoin is supported by two high volume exchanges and one low volume exchange that are listed on their website. A high volume exchange is defined as ranking over 50th place in volume on https://coinmarketcap.com/exchanges/volume/24-hour/. The ranking from the highest volume to the lowest is Bittrex (11th), Poloniex (22nd) and C-Cex (115th).</p>
<h3>Mining Setup Instructions (optional):</h3>
<p>To mine I would suggest you watch the video below. If you would not like to mine scroll down to the section title &#8220;Wallet Setup Instructions&#8221;.<br />
<iframe src="https://www.youtube.com/embed/jm2E6pQ-Ifw?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<h3>Wallet Setup Instructions:</h3>
<h5>Download Wallet:</h5>
<p>To run a full node wallet, Scroll to the bottom of: <a href="https://www.gridcoin.us/" target="_blank" rel="noopener">the teams home page</a> and click on the wallet of your choice.</p>
<h5>Online wallets:</h5>
<p><span style="text-decoration: underline;">PC:</span><br />
An online wallet is the easiest way to send and receive GridCoins. The online wallet is located here: <a href="https://gridcoins.org/" target="_blank" rel="noopener">on their home page by clicking here!</a>.</p>
<p><span style="text-decoration: underline;">Android:</span><br />
Android users can use an application called &#8220;Coinimy&#8221; that supports GridCoin. Simply install the application from the Google Play Store and add the coin &#8220;GridCoin&#8221;. Please note that if you use the phone version you will not collect interest on your GridCoin(s).</p>
<p><span style="text-decoration: underline;">iPhone:</span></p>
<p>I was unable to find any support for the iPhone.</p>
<h5>Download wallet blocks using the GridCoin application:</h5>
<p>After the program has installed, double click on the GridCoin logo on your desktop. Once the client has loaded, click advanced on the toolbar, then click on &#8220;Download Blocks&#8221;.Click on &#8220;ok&#8221; and wait while the wallet brings it up to date.</p>
<h5>Free GridCoin CryptoCurrency Faucets:</h5>
<p><a href="http://uscore.net/" target="_blank" rel="noopener">UScore</a> (highly recommended)</p>
<p><a href="https://gridcoinstats.eu/faucet.php" target="_blank" rel="noopener">GCStats</a></p>
<p><a href="http://gridcoin.ch/faucet.php" target="_blank" rel="noopener">GC.ch</a></p>
<h5>Start collecting interest on your coins:</h5>
<p>You will need at least five GridCoin to start collecting interest. GridCoins are obtainable for free through the faucets, or you can purchase them through the exchanges. I would recommend using <a href="http://uscore.net/" target="_blank" rel="noopener">http://uscore.net/</a> to obtain your original GridCoin because they&#8217;ll send you enough to get started. Once your wallet is online and up to date it will start collecting interest in 24-48 hours.</p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/gridcoin-grc-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
