<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Clam &#8211; Alt Coin &amp; Me</title>
	<atom:link href="http://altcoinandme.com/tag/clam/feed/" rel="self" type="application/rss+xml" />
	<link>http://altcoinandme.com/</link>
	<description>CryptoCurrency Reviews</description>
	<lastBuildDate>Fri, 27 Apr 2018 12:42:49 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Clam Coin (CLAM) CryptoCurrency Review</title>
		<link>http://altcoinandme.com/clam-coin-clam-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/clam-coin-clam-cryptocurrency-review/#respond</comments>
				<pubDate>Fri, 23 Mar 2018 11:52:28 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[Clam]]></category>
		<category><![CDATA[Clam Coin]]></category>
		<category><![CDATA[ClamCoin]]></category>
		<category><![CDATA[Thumbs Down]]></category>

		<guid isPermaLink="false">http://altcoinandme.com/?p=143</guid>
				<description><![CDATA[Opinion: Unfortunately, this is one of the worst reviews I&#8217;ve ever done. If you&#8217;re new to crypto stay away from this one! I do have respect for all CryptoCurrencies since they have made the effort to produce something. Clam Coin almost doesn&#8217;t work and there&#8217;s extremely limited customer support. So,…<p> <a class="continue-reading-link" href="http://altcoinandme.com/clam-coin-clam-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_101" style="width: 208px" class="wp-caption alignleft"><a href="http://altcoinandme.com/clam-coin-cryptocurrency-review/"><img aria-describedby="caption-attachment-101" class="wp-image-101 size-full" src="/wp-content/uploads/2018/03/ThumbsDown.jpg" alt="I do not recommend this cryptocurrency" width="198" height="240" srcset="/wp-content/uploads/2018/03/ThumbsDown.jpg 198w, /wp-content/uploads/2018/03/ThumbsDown-124x150.jpg 124w" sizes="(max-width: 198px) 100vw, 198px" /></a><p id="caption-attachment-101" class="wp-caption-text">Thumbs Down! To view a detailed analysis of the score-sheet, <a href="https://docs.google.com/spreadsheets/d/1gTWRkwRSNmRFu-TVIeD9GFRH3nc3WqlozVr_GFQzEJc/edit?usp=sharing" target="_blank" rel="noopener">click here!</a></p></div>
<h2>Opinion:</h2>
<p>Unfortunately, this is one of the worst reviews I&#8217;ve ever done. If you&#8217;re new to crypto stay away from this one! I do have respect for all CryptoCurrencies since they have made the effort to produce something. Clam Coin almost doesn&#8217;t work and there&#8217;s extremely limited customer support. So, if you plan to use this cryptocurrency you&#8217;re on your own. Simple tasks such as downloading the wallet weren&#8217;t available on the homepage and I had to contact customer support to find the correct download link.</p>
<p>&nbsp;</p>
<h2>Clam Coin Website:</h2>
<p><a href="http://www.clamcoin.org" target="_blank" rel="noopener">Click here to navigate to the home page!</a></p>
<h3>Usability:</h3>
<p>The only helpful links I could find on the primary website &#8220;clamcoin.org&#8221; was a link to their customer support chat: <a href="http://webchat.freenode.net/?channels=CLAMS" target="_blank" rel="noopener">Click here for community support</a>. Everything else was either confusing or not working. Usually it takes a team to produce a product, in this case it takes a team to show a new user how to use it. In regards to using a full node wallet, I gave up after waiting for two weeks with practically no progress. I eventually downloaded the blocks off of another website. Sure, you can surf the internet searching for block downloads but that&#8217;s way beyond the scope of an average user. Since running a full node wallet is almost the only method to send and receive ClamCoins outside of exchanges, it makes ClamCoin almost completely unusable.</p>
<h3>Privacy:</h3>
<p>Clam coin uses the standard blockchain protocol with no enhanced privacy features.</p>
<h3>Credibility:</h3>
<p>Absolutely no credibility. While I&#8217;m sure there&#8217;s a lot of people that have worked on ClamCoin, customer support couldn&#8217;t reference any of them in particular so needless to say there was no page listing the credentials.</p>
<h3>Innovation:</h3>
<p>Proof of stake (POS) is definitely a positive direction in the world of crypto currency. The Clam Coin team claims to be working on a lot of new features but given where the project is currently at it&#8217;s highly unlikely that any of these new features will happen.</p>
<h3>Customer Support:</h3>
<p>As mentioned earlier in the article, the only reliable customer support that I&#8217;ve found is a user by the name of &#8220;tryphe_&#8221; that can be found at:.</p>
<p><a href="http://webchat.freenode.net/?channels=CLAMS" target="_blank" rel="noopener">Community Support</a></p>
<h3>Exchange Support:</h3>
<p><span style="font-family: 'Source Sans Pro';">Clam coin is listed on a three high volume exchanges and a one low volume exchange according to their home page. I gather my market data from CoinMarketCap.com located here: <a href="https://coinmarketcap.com/exchanges/volume/24-hour/" target="_blank" rel="noopener">https://coinmarketcap.com/exchanges/volume/24-hour/</a>. If it&#8217;s not listed on CoinMarketCap, it&#8217;s not eligible to be listed.</span></p>
<p>(High volume &#8211; listed in order)</p>
<p><a href="https://bittrex.com/Market/Index?MarketName=BTC-CLAM" target="_blank" rel="noopener">Bittrex (12th) </a></p>
<p><a href="https://poloniex.com/exchange#btc_clam" target="_blank" rel="noopener">Poloniex (19th) </a></p>
<p><a href="https://www.cryptopia.co.nz/Exchange/?market=CLAM_BTC" target="_blank" rel="noopener">Cryptopia (49th)</a></p>
<p>(Low Volume)</p>
<p><a href="https://bleutrade.com/exchange/CLAM/" target="_blank" rel="noopener">BleuTrade (137th)</a></p>
<h3>How to get started:</h3>
<p>After you have downloaded the wallet, &#8220;attempt&#8221; to sync by leaving your wallet online. If you would like to speed up the process, I&#8217;ve downloaded the blocks and made them available. Next you can use a free faucet to send coins to your address or purchase some currency on an exchange. Clam coins are earned if you hold a balance and leave your wallet online while running as a full node. Important Notice: If you held a balance on May 12th 2014 in a BTC, LTC,or DOGE address then you are entitled to the equal amount of Clam Coin.</p>
<h5>Download Wallet:</h5>
<p><a href="http://clamclient.com/start/download/" rel="noopener">Click here to download the wallet!</a></p>
<h5>Online wallets (N/A):</h5>
<p>None of the online wallets appear to be credible or working.</p>
<h5>Download wallet blocks from AltCoinAndMe.com:</h5>
<p>Close the ClamClient if it&#8217;s open. Make sure you&#8217;re able to show hidden files and folders in your file explorer. You can do this by opening a folder and clicking  &#8220;View&#8221; in the toolbar and making sure &#8220;hidden items&#8221; is checked. Navigate on your computer to &#8220;C:\Users\(Your user name here)\AppData\Roaming\Clam&#8221;. Make sure to backup your wallet.dat file to a separate location to ensure you don&#8217;t lose any balances in your current wallet. Extract the contents of the following zip folder to the directory. Now start your clam client and enjoy.</p>
<p>Snapshot download:</p>
<p><a href="https://altcoinandme.blob.core.windows.net/downloads/ClamCoinSnapshot(3-7-2018).zip" target="_blank" rel="noopener">Download blocks (3-7-2018)</a></p>
<h5>Free Clam Coin Faucets:</h5>
<p>The only legitimate Faucet I cold find is listed below.</p>
<p><a href="https://freebitcoins.com/ask/" target="_blank" rel="noopener">https://freebitcoins.com/ask</a></p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/clam-coin-clam-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
