<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>ETH &#8211; Alt Coin &amp; Me</title>
	<atom:link href="http://altcoinandme.com/tag/eth/feed/" rel="self" type="application/rss+xml" />
	<link>http://altcoinandme.com/</link>
	<description>CryptoCurrency Reviews</description>
	<lastBuildDate>Sun, 29 Apr 2018 15:18:06 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Ethereum (ETH) CryptoCurrency Review</title>
		<link>http://altcoinandme.com/ethereum-eth-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/ethereum-eth-cryptocurrency-review/#respond</comments>
				<pubDate>Fri, 13 Apr 2018 10:36:17 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[ETH]]></category>
		<category><![CDATA[Ethereum]]></category>
		<category><![CDATA[Thumbs Up]]></category>
		<category><![CDATA[Vitalik Buterin]]></category>

		<guid isPermaLink="false">https://altcoinandme.com/?p=351</guid>
				<description><![CDATA[Overview: Ethereum is a platform that provides the tools necessary for developers to innovate applications on the top of its network. Ethereum has strong community support that has made major contributions to the evolution of this project. Opinion: Ethereum has been a pioneer in its field and has a bright future.…<p> <a class="continue-reading-link" href="http://altcoinandme.com/ethereum-eth-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_99" style="width: 210px" class="wp-caption alignleft"><a href="http://altcoinandme.com/ethereum-eth-cryptocurrency/"><img aria-describedby="caption-attachment-99" class="wp-image-99 size-full" src="/wp-content/uploads/2018/03/ThumbsUp.jpg" alt="Recommended Cryptocurrency!" width="200" height="240" srcset="/wp-content/uploads/2018/03/ThumbsUp.jpg 200w, /wp-content/uploads/2018/03/ThumbsUp-125x150.jpg 125w" sizes="(max-width: 200px) 100vw, 200px" /></a><p id="caption-attachment-99" class="wp-caption-text">Thumbs Up! To view the score-sheet  <a href="https://docs.google.com/spreadsheets/d/1qCzyysjsOh2yzjvbOZoYboOv3fQ6mwtg95X9r9l3nM8/edit?usp=sharing" target="_blank" rel="noopener">Click Here!</a></p></div>
<h3>Overview:</h3>
<p>Ethereum is a platform that provides the tools necessary for developers to innovate applications on the top of its network. Ethereum has strong community support that has made major contributions to the evolution of this project.</p>
<h3>Opinion:</h3>
<p>Ethereum has been a pioneer in its field and has a bright future. The primary developer of Ethereum is a man by the name of <a href="https://en.wikipedia.org/wiki/Vitalik_Buterin" target="_blank" rel="noopener">Vitalik Buterin</a> that is solely focused on benefiting humanity and not financial profits. I firmly believe that it&#8217;s these beliefs that will pave the way for the future. Vitalik has set down a roadmap for the next few years that will lead to a lot of market innovation but it will undoubtedly cause some market instability. Unfortunately, the price of Ethereum has boomed in the previous year so it&#8217;s currently very expensive to purchase. If you decide to invest it should be viewed as a long term investment in the ideals of Ethereum and not for profit. This isn&#8217;t to say that it won&#8217;t be profitable but if market volatility causes you a lot of stress you should stay away.</p>
<h3>Ethereum Website:</h3>
<p><a href="https://ethereum.org" target="_blank" rel="noopener">Home Page</a></p>
<h3>Whitepaper (documentation):</h3>
<p><a href="http://www.ethdocs.org/en/latest/introduction/what-is-ethereum.html" target="_blank" rel="noopener">White Paper</a></p>
<h3>Usability (9/10):</h3>
<p>I was able to sync properly at high speeds but the program seemed to hang a bit at startup while &#8220;looking for peers&#8221;. Be patient and it will eventually come online. Due to the popularity, there&#8217;s a large amount of available applications. The primary PC client for Windows and Linux are available on their <a href="https://ethereum.org" target="_blank" rel="noopener">home page</a>.</p>
<p>There is a lightweight version of the wallet inside of the main application. It&#8217;s not truly lightweight in the sense that there is a small amount of hardware that&#8217;s needed but overall it&#8217;s great. If you would like to setup a wallet on your PC, <a href="#WalletSetup">click here to scroll down</a> for instructions on setting up a wallet on your computer. If you would like to setup the wallet on your phone <a href="#PhoneSetup">click here to scroll down</a> to the phone setup section.</p>
<h3>Privacy (5/10):</h3>
<p>Although privacy seems to be on the forefront of the next implementations of Ethereum it currently only comes with standard privacy. There is currently a project called ZoKrates that has been able to implement a technology called [sg_popup id=&#8221;24&#8243; event=&#8221;click&#8221;]zkSnarks[/sg_popup] to provide anonymous transactions. I was able to contact the lead developer of the project (Jacob Ebert). Here&#8217;s a description of ZoKrates in his own words:</p>
<blockquote><p>Hi Chris, <a href="https://github.com/JacobEberhardt/ZoKrates" target="_blank" rel="noopener">ZoKrates</a> is a research project I am working on. It also has community contributors and an active gitter community. It can be used to implement zkSnarks on Ethereum. We are working on adding more features and improving usability so these applications can become more powerful, performant and easier to use.</p></blockquote>
<p>Clearly this project has a bright future with the ongoing efforts of Jacob and the community. As Jacob mentioned it&#8217;s very difficult to implement and is only feasible for advanced users. ZoKrates is working to make the process easier for mass adoption. If you would like to contribute to the development of ZoKrates the homepage is listed here: <a href="https://github.com/JacobEberhardt/ZoKrates" target="_blank" rel="noopener">ZoKrates</a>.</p>
<h3>Credibility (10/10):</h3>
<p>The listed Ethereum team is small but there are large amounts of programmers contributing across the globe. It&#8217;s very easy to research Vitalik and his knowledge by searching for Vitalik Buterin on YouTube or by clicking here: <a href="https://www.youtube.com/results?search_query=vitalik+buterin" target="_blank" rel="noopener">Search YouTube</a>. If you would like to view the team listed on the website click here: <a href="https://www.ethereum.org/foundation" target="_blank" rel="noopener">View Team.</a> Everything with Ethereum has been and will be open source which enables the contribution of programmers across the globe. If you would like to contribute to the development of Ethereum their official GitHub page is located here: <a href="https://github.com/ethereum" target="_blank" rel="noopener">GitHub</a>.</p>
<p><span style="color: #444444; font-family: inherit; font-size: 2.0345em;">Innovation (10/10):</span></p>
<p>Ethereum has not only set the bar for other crypto-currencies but has created a structure to enable them to succeed. This currency may become the next big thing simply due to the fact that it&#8217;s constantly evolving to add technological improvements.</p>
<h3>Customer Support (6/10):</h3>
<p>It should be noted that although they scored a 6 out of 10, the customer support that I did receive was the best I&#8217;ve received yet. They are the only currency so far that has an operational chat box on their home page where you can receive immediate support. If you need support, <a href="https://www.ethereum.org/" target="_blank" rel="noopener">click here</a> then click on the chat box in the bottom right hand corner. The next best option is to post your question to the community forum. The forum can be found here: <a href="https://ethereum.stackexchange.com" target="_blank" rel="noopener">StackExchange</a>. I was unable to locate a customer support email address on the website and I did not receive a response on the Ethereum Reddit page.</p>
<h3>Exchange Support (10/10):</h3>
<p>Unfortunately, the exchanges are difficult to find on the website. They are linked on the home page through the documentation but it&#8217;s very difficult to locate. Luckily for Ethereum, they scored a 10 simply because of the large amount of exchanges available. Hopefully a developer at Ethereum will read through this review and make the changes.</p>
<p>The list of popular exchanges can be found here: <a href="http://www.ethdocs.org/en/latest/ether.html" target="_blank" rel="noopener">exchanges</a>. The exchanges listed in order are Poloniex, Kraken, Gatecoin, Bitfinex, Bittrex, Bluetrade, HitBTC, LiveCoin, Coinsquare and Bittylicious.</p>
<h3 id="WalletSetup">Wallet Setup Instructions (8/10):</h3>
<p>The PC version is located directly on the home page however if you would like to setup Ethereum on a phone you will find it in the app store. The team has introduced an installer in the beta version however this version isn&#8217;t the the main download listed on the website.</p>
<h5 id="PhoneSetup">iPhone and Android Users:</h5>
<p>The easiest way to get started is to search the app store for an application named &#8220;Ethereum wallet by FreeWallet. Sign in with an email address or a social media account. If you would like a tutorial on how to use the application click on &#8220;Explore your wallet&#8221; within the app.</p>
<h5>PC Users:</h5>
<p>Create a folder on your desktop and label it &#8220;Ethereum&#8221;. Next, download the zip file located here: <a href="https://github.com/ethereum/mist/releases/download/v0.10.0/Ethereum-Wallet-win32-0-10-0.zip">Wallet Download</a>. Open the file and press &#8220;ctrl + a&#8221; inside the window. Now, drag and drop the contents to the folder you created on the desktop.</p>
<p>Open the folder and double click on the icon labeled &#8220;Ethereum Wallet&#8221;. By default the application is set to &#8220;light mode&#8221; which synchronizes fast but you will need to wait until the &#8220;downloading blocks&#8221; screen disappears. Now that you&#8217;re inside the app, feel free to click around and explore.<br />
Note: If you would like to experiment with the beta version with an installer <a href="https://github.com/ethereum/mist/releases/download/v0.10.0/Ethereum-Wallet-installer-0-10-0.exe">click here</a>.</p>
<h5>Online wallets:</h5>
<p><a href="https://www.myetherwallet.com" target="_blank" rel="noopener">MyEtherWallet</a> is one of the most common online wallets. I&#8217;ve included a video below to explain how to setup an easy lightweight Ethereum account.<br />
<iframe src="https://www.youtube.com/embed/phht73IvUDI?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<h5>Free Ethereum CryptoCurrency Faucets:</h5>
<p>Get free Ethereum to get you started by clicking here: <a href="https://ethereum-faucet.org/" target="_blank" rel="noopener">Free Faucet.</a></p>
<h3>Mining Setup Instructions:</h3>
<p>Ethereum currently uses an algorithm known as EThash and was designed to utilize GPUs such as AMD or NVidia. Watch the video below for instructions on how to get started.</p>
<p><iframe src="https://www.youtube.com/embed/IMG98V6DPoU?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/ethereum-eth-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
