html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;}
html {-webkit-box-sizing: border-box;box-sizing: border-box;}
*, *::before, *::after {-webkit-box-sizing: inherit;box-sizing: inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {-webkit-font-smoothing: antialiased;-moz-font-smoothing: grayscale;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";content: none;}
table {border-collapse: collapse;border-spacing: 0;}
h1, h2, h3, h4, h5, h6 {clear: both;font-weight: normal;}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {clear: none;}
.entry-content h1 {font-size: 32px;}
.entry-content h2 {font-size: 28px;}
.entry-content h3 {font-size: 24px;}
.entry-content h4 {font-size: 20px;}
.entry-content h5 {font-size: 16px;}
.entry-content h6 {font-size: 12px;}
.entry-content blockquote {display: table;position: relative;padding: 2em;margin: 0 auto;width: auto;font-style: italic;}
.entry-content blockquote:before {position: absolute;left: 1em;top: 0;content: "";font-family: "elusive";font-size: 1em;color: rgba(0,0,0,.05);z-index: 0;}
.entry-content blockquote:after {position: absolute;right: 1em;bottom: 0;content: "";font-family: "elusive";font-size: 1em;color: rgba(0,0,0,.05);z-index: 0;-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
#content blockquote p {margin-bottom: 0;font-size: 1.2em;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
a img {border: none;}
.entry-content .wp-block-archives, .entry-content .wp-block-categories, .entry-content .wp-block-latest-posts {padding: 0;list-style: none;}
.wp-block-quote.is-large, .wp-block-quote.is-style-large {padding: 2em;font-size: 1.2em;}
.aligncenter[class^='wp-block']:not([class^='wp-block-cover']) {display: table;}
.wp-block-separator {max-width: 25%;}
.wp-block-separator.is-style-wide {max-width: 100%;}
.wp-block-separator.is-style-dots::before {color: inherit;}
.wp-block-button {transition: .2s opacity;}
.wp-block-button:hover {opacity: .85;}
.wp-block-pullquote {text-align: inherit;}
#container {float: none;margin: 0;width: 100%;}
#content {margin-bottom: 0;}
.sidey {display: block;float: left;}
#footer {clear: both;width: 100%;}
pre {font-family: "Courier 10 Pitch",Courier,monospace;}
code {font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;}
.entry-content pre {border-left: 10px solid;padding: 1.3em;white-space: nowrap;line-height: 1.5;overflow: auto;}
.entry-content code {}
div.menu, #colophon, #branding, #main, #header {margin: 0 auto;}
#forbottom {clear: both;display: block;margin: 0 auto;padding: 40px 0;min-height: 400px;}
#masthead {background-position: 50% top;background-repeat: repeat-x;}
#branding {display: block;clear: both;height: 75px;padding: 0;position: relative;overflow: hidden;margin: 0 auto;}
a#logo {display: inline;height: 100%;}
#linky {background-image: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");display: block;width: 100%;height: 100%;}
#footer-widget-area {overflow: hidden;}
.footerfour .widget-area {float: left;margin-right: 2%;width: 23.5%;}
.footerthree .widget-area {float: left;margin-right: 2%;width: 32%;}
.footertwo .widget-area {float: left;margin-right: 2%;width: 49%;}
.footerone .widget-area {float: left;width: 100%;}
.footertwo #second, .footerthree #third, .footerfour #forth {margin-right: 0;}
#footer-widget-area #fourth {margin-right: 0;}
#site-generator {float: right;width: 220px;}
html {font-size: 17px;line-height: 1.8;}
hr {border: 1px solid transparent;clear: both;height: 1px;}
.entry-content ul {margin-left: 1.6em;}
.entry-content ul[class^='wp-block'], .entry-content [class^='wp-block'] ul {margin-left: 0;}
.entry-content ul li, .entry-content ol li {padding: 2px 0;}
.entry-content ul {list-style-type: disc;}
.entry-content ol > li {text-indent: 0;}
.entry-content  li li {margin-left: 1em;}
ol {list-style-type: decimal;margin-left: 1.8em;}
ol ol {list-style-type: upper-alpha;}
ol ol ol {list-style-type: lower-roman;}
ol ol ol ol {list-style-type: lower-alpha;}
ul ul, ol ol, ul ol, ol ul {margin-bottom: 0;}
dl {margin: 0 0 24px 0;}
dt {font-weight: bold;}
strong {font-weight: bold;}
cite, em, i {font-style: italic;}
big {font-size: 131.25%;}
ins {text-decoration: none;}
pre {line-height: 1.5;padding: 1.5em;}
abbr, acronym {border-bottom: 1px dotted transparent;cursor: help;}
sup, sub {position: relative;height: 0;line-height: 1;}
textarea, select, input[type="text"], input[type="password"], input[type="email"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"] {max-width: 100%;border: 1px solid transparent;padding: 7px 5px;font-family: inherit;font-size: 1em;background: transparent;-webkit-transition: background-color .2s;transition: background-color .2s;}
input[type="submit"], input[type="reset"] {border: 1px solid transparent;padding: 10px 15px;cursor: pointer;font-size: .9em;}
input[type="file"] {font-size: initial;}
input:focus, textarea:focus {outline: none;}
select option {padding: .25em;}
select optgroup, select option {font-family: inherit;}
input::-moz-focus-inner {border: 0;padding: 0;}
a:link, a:visited {text-decoration: none;}
.screen-reader-text {position: absolute;left: -9000px;}
#header {background: none;}
#site-title {float: left;font-size: 32px;line-height: 1.1;}
#site-title a {text-decoration: none;display: block;font-weight: 300;padding: 5px 0;}
#site-description {display: inline;float: left;font-size: 1.2em;line-height: 1.5;clear: both;font-weight: 300;}
#bg_image {display: block;margin: 0 auto;}
#header-container {display: block;position: relative;float: none;top: 0;bottom: 0;left: 0;right: 0;margin: 0 auto;height: auto;}
#branding #bg_image + #header-container {position: absolute;}
#header:after {content: "";display: table;clear: both;}
#header-widget-area {display: block;position: absolute;right: 0;top: 5px;overflow: hidden;height: 100%;width: 50%;z-index: 251;}
#nav-toggle {display: none;}
#access {display: block;float: left;margin: 0 auto;width: 100%;}
#access ul {line-height: 1.6;}
#access ul li.current_page_item, #access ul li.current-menu-item {}
#access a {display: block;text-decoration: none;font-size: 14px;}
#access a > span {display: block;padding: 17px 18px;text-transform: uppercase;}
#access > .menu > ul {margin-left: -10px;}
#access > .menu > ul li > a:not(:only-child) > span:after {font-family: "Elusive";content: "";position: absolute;right: 9px;top: 16px;z-index: 5;-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#access > .menu > ul ul > li a:not(:only-child) > span:after {top: 11px;-webkit-transform: rotate(270deg);-ms-transform: rotate(270deg);transform: rotate(270deg);}
#access > .menu li a:not(:only-child) > span {padding-right: 18px;}
#access > .menu > ul > li:hover > a:not(:only-child) > span:after {top: 20px;filter: alpha(opacity=0);opacity: 0;}
#access > .menu > ul ul > li:hover > a:not(:only-child) > span:after {right: -20px;opacity: 0;filter: alpha(opacity=0);}
#access > .menu > ul > li > a:not(:only-child) > span {padding-right: 24px;}
#access ul li {position: relative;display: block;float: left;white-space: nowrap;}
#access ul ul {display: none;position: absolute;clear: both;z-index: 260;margin-left: 0;min-width: 125%;}
#access ul li a {letter-spacing: 1px;}
#access ul ul li {display: table;position: relative;margin: 0;width: 100%;float: left;clear: both;}
#access ul ul li:last-child {}
#access ul ul ul li:last-child {}
#access ul ul li a span {padding: 15px 18px;}
#access ul ul ul {position: absolute;left: 100%;top: 0;margin: 0;min-width: 150px;}
#access ul ul ul li {width: 100%;display: block;float: none;}
#access ul ul ul ul li {}
#access ul ul a, #access ul ul ul a {display: table;float: none;min-width: 150px;width: 100%;}
#access ul ul li:hover, #access ul ul ul li:hover {}
#access li, #access ul ul li {-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
#access ul ul :hover > a {}
#access ul li:hover > ul {display: block;}
#access ul li.current_page_item > a, #access ul li.current-menu-item > a {}
#access ul ul li.current_page_item, #access ul ul li.current-menu-ancestor, #access ul ul li.current-menu-item, #access ul ul li.current-menu-parent {}
#access ul li.current_page_item a, #access ul li.current-menu-ancestor a, #access ul li.current-menu-item a, #access ul li.current-menu-parent a, #access ul li a:hover {}
.nirvana-menu-center #access > .menu {display: table;margin: 0 auto;float: none;}
.nirvana-menu-center #access > .menu {text-align: center;}
.nirvana-menu-center #access > .menu > ul > li > a > span {text-align: center;}
.nirvana-menu-center #access > .menu > ul > li {display: inline-block;float: initial;vertical-align: middle;}
.nirvana-menu-center #access > .menu > ul > * {text-align: initial;}
.nirvana-menu-center #access > .menu > ul > li.menu-main-search {margin-top: 0;}
.nirvana-menu-right #access  ul.menu {float: right;}
.nirvana-menu-right #nav-toggle {text-align: right;}
.nirvana-menu-rightmulti #access ul li {float: right;}
.nirvana-menu-rightmulti #nav-toggle {text-align: right;}
.nirvana-menu-left #nav-toggle {text-align: left;}
.topmenu {display: inline;float: right;width: auto;}
.topmenu ul {margin-top: 7px;}
.topmenu ul li {display: block;float: left;line-height: 2.2;}
.topmenu ul li a {display: block;margin: 0 3px;padding: 0 10px;letter-spacing: .4px;font-size: 12px;text-transform: uppercase;border-radius: 2px;-webkit-transition: all .2s ease-in;transition: all .2s ease-in;}
.footermenu {padding: 5px 0;display: table;margin: 0 auto;}
.footermenu > ul {float: left;}
.footermenu ul li {display: block;float: left;margin: 5px;text-align: center;white-space: nowrap;border: 1px solid transparent;-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.footermenu ul li a {display: block;padding: 5px 10px;font-size: 12px;text-transform: uppercase;letter-spacing: .5px;}
#topbar {display: block;height: 42px;width: 100%;border-bottom: 1px solid transparent;position: relative;z-index: 270;-webkit-transition: .2s opacity;transition: .2s opacity;}
#topbar:hover {filter: alpha(opacity=100);opacity: 1;}
#topbar-inner {display: block;margin: 0 auto;}
body.nirvana-topbarfull #topbar-inner {max-width: 95%;}
body.nirvana-topbarhide #topbar {display: none;}
body.nirvana-topbarfixed #topbar {position: fixed;top: 0;z-index: 300;opacity: .8;}
body.nirvana-topbarfixed #header-full {margin-top: 42px;}
body.nirvana-topbarfixed.admin-bar #topbar {top: 32px;}
#main {clear: both;padding: 0;margin-top: 20px;}
#content {font-size: inherit;line-height: inherit;}
.entry-meta a, .widget-container a, .footer2 a {border-bottom: 1px dotted transparent;-webkit-transition: .25s ease all;transition: .25s ease all;}
#content ul ul, #content ol ol, #content ul ol, #content ol ul {margin-bottom: 0;}
#content pre, #content kbd, #content tt, #content var {font-size: 1em;line-height: 1.5;overflow: auto;font-family: "Courier New",Courier,monospace;}
#content code {font-size: .9em;}
#content dt, #content th {}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {line-height: 1.5;margin: 20px 0 0;}
#content table {border: 0;margin: 0 0px 24px 0;text-align: left;width: 100%;vertical-align: top;}
#content tr {vertical-align: top;}
#content .alternate {}
#content tr th, #content thead th {padding: 9px 24px;font-weight: 600;}
#content tr td {border-top: 1px solid transparent;padding: 6px 24px;}
#content tr td:last-child, #content tr th:last-child {border-right: none;}
#content tr.odd td {}
.page-header {display: block;float: none;padding: 10px 0px;}
body:not(.author) .page-header {margin-bottom: 26px;}
.page-header .category-archive-meta {padding-top: 5px;}
.page-title {font-size: 1em;font-weight: bold;display: block;border-bottom: 1px solid transparent;}
.page-title-text {display: inline-block;border-bottom: 1px solid transparent;padding: 3px 0 3px 6px;margin-bottom: -1px;}
.page-title span {font-size: 1em;font-style: italic;font-weight: normal;display: inline-block;margin-bottom: -4px;padding: 6px;border-bottom: 1px solid transparent;}
.page-title a:link, .page-title a:visited {text-decoration: none;}
.page-title a:active, .page-title a:hover {}
body:not(.author) .taxonomy-description {padding: 14px 7px;}
#content .entry-title {font-weight: 300;line-height: 1.2;padding: 0;margin: 0;word-wrap: break-word;}
.entry-title a {font-weight: 300;}
.entry-title a:link, .entry-title a:visited {color: inherit;text-decoration: none;}
.entry-title a:active, .entry-title a:hover {}
.entry-meta {display: block;font-size: 12px;clear: both;overflow: hidden;border-bottom: 1px solid transparent;border-top: 1px solid transparent;margin: 4px 0 20px 0;padding: 7px 4px;}
h1.entry-title + .entry-meta {margin-bottom: 30px;}
div > footer.entry-meta {border: 0;}
.entry-meta span, .entry-utility span {display: block;float: left;line-height: 28px;margin-right: 15px;font-size: 16px;}
.entry-meta span a {font-size: 16px;}
.entry-meta time.updated {display: none;}
.entry-utility {clear: both;font-size: 16px;}
.footer-tags {display: block;float: left;font-size: 16px;}
.entry-utility span.bl_bookmark {float: none;display: inline;padding: 0;}
.comments-link {float: right;line-height: 28px;}
.comments-link * {font-size: 15px;}
.comments-link b {font-weight: normal;}
#content span.entry-format {display: inline;float: left;font-size: .6em;line-height: 2;padding: 0 3px;}
h3.entry-format > i:before {cursor: default;}
.entry-meta abbr, .entry-utility abbr {border: none;}
.entry-meta abbr:hover, .entry-utility abbr:hover {border-bottom: 1px dotted transparent;}
.entry-content, .entry-summary {clear: both;padding-top: 8px;word-wrap: break-word;}
#content .entry-summary p:last-child {margin-bottom: 12px;}
.entry-content fieldset {margin: 0 0 24px 0;}
.entry-content fieldset legend {font-weight: bold;}
.entry-content sup, .entry-content sub {font-size: 10px;}
.entry-content blockquote.left {float: left;margin-left: 0;margin-right: 24px;text-align: right;width: 33%;}
.entry-content blockquote.right {float: right;margin-left: 24px;margin-right: 0;text-align: left;width: 33%;}
.tag-links {margin-left: 30px;}
.page-link {margin: 10px 0;clear: both;}
.page-link a, .page-link > span > em {font-weight: normal;text-decoration: none;padding: 0 10px;border-right: 1px solid transparent;}
.page-link em {font-style: normal;}
.page-link  a:last-child, .page-link > span > em:last-child {border-right: none;}
.page-link a:hover {}
span.edit-link {float: right;display: block;margin: 0 0 0 10px;padding: 0;font-size: 12px;}
#author-info {clear: both;line-height: 1.5;margin: -10px 0 24px 0;overflow: hidden;padding: 0 0 15px 0;}
#author-info #author-avatar {float: left;height: 80px;margin: 0 -100px 0 20px;}
#author-info #author-description {float: left;margin: 15px 0 0 130px;}
#entry-author-info {clear: both;line-height: 1.5;margin: 30px 0;overflow: hidden;padding: 0 0 18px 0px;border-top: 1px solid transparent;}
#entry-author-info #author-avatar {float: left;height: 80px;margin: 0 -100px 0 20px;}
#author-avatar .avatar {border-radius: 0 0 100% 100%;}
#entry-author-info #author-description {float: left;margin: 0 0 0 130px;}
#entry-author-info h2 {font-size: 100%;font-weight: bold;margin: .75em 0 .5em;}
#author-link {margin-top: .75em;}
#content .video-player {padding: 0;}
.home #content .format-aside p, .home #content .category-asides p {line-height: 20px;margin-bottom: 10px;margin-top: 0;}
.home #content .format-aside .entry-content, .home #content .category-asides .entry-content {padding-top: 0;}
#content .format-aside .entry-title {display: none;}
#content .format-aside .entry-format {font-size: 1.5em;line-height: 1.5;padding-top: 10px;}
#content .format-aside .entry-content, #content .format-aside .entry-summary {clear: right;}
#content .format-aside .author, #content .format-aside  .bl_categ {display: none;}
.gallery {margin-bottom: 20px;margin-left: -4px;}
.gallery-item {float: left;margin: 0 4px 4px 0;overflow: hidden;position: relative;}
.gallery-columns-1.gallery-size-medium, .gallery-columns-1.gallery-size-thumbnail, .gallery-columns-2.gallery-size-thumbnail, .gallery-columns-3.gallery-size-thumbnail {display: table;margin: 0 auto 20px;}
.gallery-columns-1 .gallery-item, .gallery-columns-2 .gallery-item, .gallery-columns-3 .gallery-item {text-align: center;}
.gallery-columns-4 .gallery-item {max-width: 23%;max-width: calc(25% - 4px);}
.gallery-columns-5 .gallery-item {max-width: 19%;max-width: calc(20% - 4px);}
.gallery-columns-6 .gallery-item {max-width: 15%;max-width: calc(16.7% - 4px);}
.gallery-columns-7 .gallery-item {max-width: 13%;max-width: calc(14.28% - 4px);}
.gallery-columns-8 .gallery-item {max-width: 11%;max-width: calc(12.5% - 4px);}
.gallery-columns-9 .gallery-item {max-width: 9%;max-width: calc(11.1% - 4px);}
.gallery-columns-1 .gallery-item:nth-of-type(1n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n) {margin-right: 0;}
.gallery-icon {line-height: 0;}
.gallery-caption {position: absolute;bottom: 0;left: 0;width: 100%;max-height: 50%;padding: 2px 8px;margin: 0;color: #fff;font-size: 1em;line-height: 1.3;filter: alpha(opacity=0);opacity: 0;text-align: left;cursor: default;background-color: rgba(0,0,0,.7);-webkit-transition: opacity 400ms ease;transition: opacity 400ms ease;}
.gallery-item:hover .gallery-caption {filter: alpha(opacity=1);opacity: 1;}
.gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {display: none;}
.format-chat p {font-family: Monaco,"Courier New",monospace;}
.format-quote blockquote, .format-quote blockquote p {font-family: Georgia,"Bitstream Charter",serif;font-size: 1.1em;}
.format-status .entry-title {}
.status_content {}
.format-status .avatar {display: block;width: auto;float: left;margin: 10px 10px 10px 0;}
.attachment .entry-content .entry-caption {font-size: 140%;margin-top: 24px;}
.post_thumbnail {max-width: 100%;height: auto;}
.entry-content img {max-width: 100%;height: auto;}
.sidey select {max-width: 100%;}
.sidey img {max-width: 100%;height: auto;}
#content table img {max-width: inherit;vertical-align: top;}
.alignleft, img.alignleft, .alignleft img {float: left;margin-right: 26px;margin-top: 4px;}
.alignright, img.alignright, .alignright img {float: right;margin-left: 34px;margin-top: 4px;}
.aligncenter, img.aligncenter, .aligncenter img {clear: both;margin-left: auto;margin-right: auto;}
img.aligncenter {display: block;}
img.alignleft, img.alignright, img.aligncenter {margin-bottom: 12px;}
img.alignleft, img.alignright, img.aligncenter, img.alignnone, .wp-caption img {filter: alpha(opacity=99);opacity: .99;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
img.alignleft:hover, img.alignright:hover, img.aligncenter:hover, img.alignnone:hover, .wp-caption img:hover {filter: alpha(opacity=85);opacity: .85;}
.wp-caption {margin-bottom: 20px;text-align: center;max-width: 100%;position: relative;}
.wp-caption img {border: none;padding: 0;-webkit-box-shadow: none;box-shadow: none;width: 100%;}
.wp-caption > a, .wp-caption > a {line-height: 0;display: block;}
.wp-caption .wp-caption-text, .wp-caption .wp-caption-text {bottom: 0;margin-bottom: 0;padding: 10px 5px;position: absolute;text-align: center;text-indent: 0;width: 100%;}
.wp-smiley {margin: 0;width: 1em;background: none;border: 0;vertical-align: middle;-webkit-box-shadow: none;box-shadow: none;}
.attachment img {display: block;margin: 0 auto;max-width: 96%;}
.navigation {overflow: hidden;}
.navigation a:link, .navigation a:visited {text-decoration: none;}
.navigation a:active, .navigation a:hover {}
.nav-previous a {float: left;width: 50%;padding: 10px 1%;-webkit-transition: .3s all ease-in-out;transition: .3s all ease-in-out;}
.nav-next a {float: right;text-align: right;width: 50%;padding: 10px 1%;-webkit-transition: .3s all ease-in-out;transition: .3s all ease-in-out;}
.meta-nav-prev:before {font-family: "elusive";content: "";font-style: normal;margin-right: 5px;font-size: 9px;}
.meta-nav-next:before {font-family: "elusive";content: "";font-style: normal;margin-left: 5px;font-size: 9px;}
.single #nav-above {display: block;}
#nav-below {margin-bottom: 20px;margin-top: 5px;display: block;float: none;clear: both;}
#comments {padding: 10px 0;clear: both;}
#comments .navigation {padding: 0 0 18px 0;}
h3#comments-title, h3#reply-title {font-size: 1.7em;}
h3#comments-title {margin-bottom: 1em;line-height: 2;border-bottom: 1px solid transparent;}
h3#comments-title span {display: inline-block;padding: 0 30px;font-weight: 300;border-radius: 5px 5px 0 0;}
.commentlist {list-style: none;margin: 0;}
.commentlist li.comment {margin: 0;list-style: none;line-height: 1.5;}
.commentlist li.comment:hover {}
.commentlist .comment-body {padding: 10px 0;overflow: hidden;clear: both;margin-bottom: 20px;}
.commentlist li:last-child {}
#comments .comment-body ul, #comments .comment-body ol {}
#comments .comment-body p:last-child {margin-bottom: 6px;}
#comments .comment-body blockquote p:last-child {margin-bottom: 24px;}
.commentlist ol {list-style: decimal;}
.avatar-container {float: left;position: relative;height: 61px;overflow: hidden;}
.avatar-container:before {content: "";width: 100%;height: 1px;bottom: 0;position: absolute;}
.commentlist .avatar {padding-bottom: 1px;position: relative;top: 5px;border-radius: 5px 5px 0 0;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.comment > div:hover .avatar:nth-child(1) {top: 0;}
.comment-author {display: inline-block;line-height: 24px;-webkit-transition: background .3s ease;transition: background .3s ease;}
.comment-details {position: relative;float: left;padding: 7px 15px;height: 61px;border-bottom: 1px solid transparent;}
.comment-author cite {font-style: normal;font-weight: normal;font-size: 1.1em;}
.comment-meta {font-size: .9em;}
.comment-meta a:link, .comment-meta a:visited {text-decoration: none;}
.comment-meta a:active, .comment-meta a:hover {}
.commentlist .even {}
.commentlist .bypostauthor {}
.commentlist .comment-await {padding: 10px 0;display: block;clear: both;}
.comment .reply a {display: inline-block;font-size: 15px;padding: 0 15px;line-height: 2.4;border: 1px solid transparent;width: auto;text-align: right;-webkit-transition: all .2s ease;transition: all .2s ease;}
.comment .reply a:hover {}
.comment .reply a .crycon-reply:before {margin-right: 10px;position: relative;left: 0;top: 0;-webkit-transition: all .2s ease;transition: all .2s ease;}
.comment .reply a:hover .crycon-reply:before {left: -4px;top: -4px;-webkit-transform: rotate(225deg);-ms-transform: rotate(225deg);transform: rotate(225deg);}
@-webkit-keyframes reply-arrow {0% {left: 0;}
	50% {left: -10px;}
	100% {left: 0;}}
@keyframes reply-arrow {0% {left: 0;}
	50% {left: -10px;}
	100% {left: 0;}}
.commentlist .children {background-image: none;list-style: none;margin: 0;margin-left: 20px;}
.commentlist .children li {border: none;background-image: none;margin: 0;text-indent: 0;}
#content .nocomments, #content .nocomments2 {margin-bottom: 0;}
.hideme {display: none;}
#comments .pingback {border-bottom: 1px solid transparent;margin-bottom: 18px;padding-bottom: 18px;}
.commentlist li.comment+li.pingback {margin-top: -6px;}
#comments .pingback p {display: block;font-size: 12px;line-height: 18px;margin: 0;}
#comments .pingback .url {font-size: 13px;font-style: italic;}
#respond {margin: 0;overflow: hidden;position: relative;}
#respond p {margin: 0;}
#respond .comment-notes {margin-bottom: .2em;font-size: .8em;}
.form-allowed-tags {line-height: 1;}
.children #respond {margin: 0 48px 0 0;min-width: 400px;}
h3#reply-title {margin: 0;padding: 0;line-height: 1.5;font-weight: 300;}
#comments-list #respond {margin: 0 0 18px 0;}
#comments-list ul #respond {margin: 0;}
#cancel-comment-reply-link {font-size: 12px;font-weight: normal;line-height: 1.5;}
#respond .required {}
#commentform {max-width: 550px;display: block;}
#commentform > p {font-size: .9em;}
#respond label {}
#respond input:not([type="checkbox"]):not([type="radio"]) {width: 100%;}
#respond .comment-form-comment label, #respond .comment-form-author label, #respond .comment-form-email label, #respond .comment-form-url label {display: none;}
#respond .comment-form-cookies-consent {clear: both;}
#respond .form-submit input[type="submit"], #respond .form-submit input[type="reset"], #respond .form-submit button {width: auto;}
.comment-form-comment textarea {display: block;float: none;height: 150px;width: 100%;padding: 10px;}
.comment-form-author label, .comment-form-email label, .comment-form-email label, .comment-form-url label, .comment-form-comment label {display: block;float: none;}
.comment-form-author input, .comment-form-email input, .comment-form-email input, .comment-form-url input, .comment-form-comment input {display: block;float: none;}
#respond input:hover, #respond textarea:hover {}
#respond .form-allowed-tags {font-size: 12px;line-height: 1.5;width: 100%;clear: both;display: block;float: none;}
#respond .form-allowed-tags code {font-size: 11px;}
#respond .form-submit {margin: 12px 0;text-align: right;clear: both;}
#respond .form-submit input {font-size: 15px;width: auto;}
#respond .form-submit input#submit {border: 1px solid transparent;-webkit-transition: background-color .2s ease;transition: background-color .2s ease;}
#respond .form-submit input#submit:hover {cursor: pointer;}
.button {border: 1px solid transparent;padding: 4px 7px;-webkit-transition: background-color .2s ease;transition: background-color .2s ease;}
.file:hover, .button:hover {cursor: pointer;}
.widget-area ul, .widget-area ul ul {list-style: none;list-style-image: none;}
.widget-container {padding: 5px;margin: 0 0 20px 0;}
.widget-container > * {max-width: 100%;}
.widget-container ul li {display: block;float: none;margin-bottom: .5em;}
.widget-title {font-size: 16px;text-align: left;margin-bottom: 10px;border-bottom: 1px solid transparent;}
.widget-title span {display: inline-block;line-height: 2.2;padding: 0 10px;position: relative;top: 1px;border-bottom: 1px solid transparent;}
#footer-widget-area a:hover {text-decoration: underline;}
.widget-area a:link, .widget-area a:visited {text-decoration: none;word-wrap: break-word;}
.widget-area a:active, .widget-area a:hover {}
.widget-area .entry-meta {font-size: 11px;}
.searchform {display: block;height: auto;position: relative;overflow: hidden;max-width: 300px;}
.contentsearch {display: block;float: none;overflow: hidden;margin-bottom: 20px;margin-top: 20px;padding: 10px;}
.no-results .contentsearch {padding: 0;}
.searchform input[type="search"] {display: block;float: left;font-size: 18px;padding: 0 50px 0 10px;height: 52px;width: 100%;line-height: 1;}
.contentsearch .searchform input[type="search"] {margin-left: 0;}
.searchsubmit[type="submit"] {font-family: "elusive";display: block;position: absolute;right: 0;top: 0;height: 52px;width: 52px;padding: 0;font-size: 17px;vertical-align: middle;background: transparent;z-index: 4;border: none;-webkit-box-shadow: none;box-shadow: none;cursor: pointer;}
.searchform:after {display: block;position: absolute;content: "";right: 0;top: 0;z-index: 3;width: 52px;height: 100%;-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;outline: 1px solid transparent;}
.searchform:hover:after {-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);outline: 1px solid transparent;}
input[type="search"] {-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
.menu-header-search {margin: 1px 10px;width: 20px;}
.menu-header-search .searchform {position: absolute;margin-top: 33px;margin-left: -230px;z-index: 10;display: none;filter: alpha(opacity=0);opacity: 0;}
.menu-header-search .searchform:after, .menu-header-search .searchsubmit {display: none;}
.menu-header-search .searchform input[type="search"] {font-size: 16px;padding: 5px 30px 5px 10px;width: 260px;border: 0;height: 3em;line-height: 1;}
i.search-icon {position: absolute;cursor: pointer;z-index: 11;-webkit-transition: .3s all ease;transition: .3s all ease;}
i.search-icon:before {font-family: "Elusive";content: "";display: block;font-style: normal;font-size: inherit;font-size: 12px;line-height: 2.4;}
#access li.menu-main-search {float: right;margin-top: 4px;max-width: 200px;}
#access li.menu-main-search .searchform input[type="search"] {height: 48px;font-size: 17px;}
#access li.menu-main-search .searchsubmit[type="submit"] {height: 48px;width: 48px;}
li.menu-main-search  .searchform:after {background-color: transparent;}
li.menu-main-search .searchsubmit {font-size: 15px;top: 1px;}
.nirvana-boxed .menu-main-search {margin: 5px;}
li.menu-footer-search {max-width: 120px;}
li.menu-footer-search .searchform:after {background-color: transparent;}
li.menu-footer-search .searchform .s {font-size: 13px;line-height: 1.5;height: auto;border: none;padding: 5px 10px;}
li.menu-footer-search .searchform .s:hover {background: none;}
li.menu-footer-search .searchsubmit {font-size: 13px;line-height: 1.5;height: auto;width: auto;right: 10px;top: 5px;}
#wp-calendar {width: 100%;}
#wp-calendar caption {font-size: 14px;font-weight: bold;padding-bottom: 4px;margin-left: 10px;}
#wp-calendar thead {font-size: 11px;}
#wp-calendar tbody td {padding: 3px 0 2px;text-align: center;border: 1px solid transparent;}
#wp-calendar tbody td:hover {filter: alpha(opacity=80);opacity: .8;}
#wp-calendar tbody td a {border: none;background: none;padding: 0;margin: 0;}
#wp- tbody .pad {background: none;}
#wp-calendar tfoot #next {text-align: right;}
.widget_rss a.rsswidget {}
.widget_rss a.rsswidget:hover {}
.widget_rss .widget-title img {width: 11px;height: 11px;}
#main .widget-area ul {margin-left: 0;padding: 0;}
#main .widget-area ul ul {border: none;margin-left: 10px;padding: 10px 0 0 0;}
.yoyo .widget-title {background: none;padding: 0;margin: 0;}
#footer-widget-area {margin: 40px 0 30px 0;}
#footer-widget-area a {}
#footer {margin-top: 20px;margin-bottom: 0;}
#footer a {-webkit-transition: color .2s;transition: color .2s;}
#footer2 {display: block;padding: 35px 0 0;overflow: visible;width: 100%;}
#footer2-inside {display: block;float: none;margin: 0 auto;}
#footer2:after {content: "";display: table;clear: both;}
#colophon {margin: 0 30px;margin: 0 auto;overflow: hidden;display: block;float: none;}
#site-copyright {display: block;float: none;padding: 10px 0;font-style: italic;clear: both;margin: 0 auto;text-align: center;font-size: 15px;line-height: 1.5;}
#footer a, #footer a:hover {text-decoration: none;}
img#wpstats {display: block;margin: 0 auto 10px;}
pre {-webkit-text-size-adjust: 140%;}
code {-webkit-text-size-adjust: 160%;}
#access, .entry-meta, .entry-utility, .navigation, .widget-area {-webkit-text-size-adjust: 120%;}
#site-description {-webkit-text-size-adjust: none;}
.socials {float: right;position: relative;}
.socials a {display: block;float: left;position: relative;line-height: 0;border-radius: 2px;padding: 6px;}
.socials a:hover {border: 0;}
.socials img {position: relative;z-index: 99;}
.socials .socials-hover {display: block;position: absolute;left: 0;top: 0;width: 38px;height: 38px;border-radius: 2px;outline: 1px solid transparent;-webkit-transition: .3s all ease;transition: .3s all ease;}
.socials a:hover .socials-hover {z-index: 100;-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);outline: 1px solid transparent;}
.socials a:hover img {z-index: 101;}
#sheader {float: left;top: 5px;}
#sheader a {margin-right: -6px;}
#sheader.socials a {padding: 3px;}
#sheader.socials .socials-hover {width: 32px;height: 32px;}
#smenul, #smenur {float: none;margin: 0 auto;display: table;}
#smenul a, #smenur a {margin: 0 5px;}
#srights, #slefts {display: block;position: fixed;right: 0;top: 40%;height: auto;width: 42px;padding: 5px;margin: 0;filter: alpha(opacity=50);opacity: .5;z-index: 99;-webkit-transition: opacity .5s ease-in-out;transition: opacity .5s ease-in-out;}
#slefts {left: 0;}
#srights:hover, #slefts:hover {filter: alpha(opacity=100);opacity: 1;}
#srights a, #slefts a {display: block;float: none;clear: both;margin-top: -6px;}
#sfooter-full {width: 100%;display: block;overflow: hidden;clear: both;float: none;padding: 12px 0;margin-top: 20px;}
#sfooter {float: none;clear: both;display: table;margin: 0 auto;text-align: center;}
#sfooter a {margin-right: 10px;}
#sfooter.socials a {padding: 0;}
#sfooter.socials .socials-hover {width: 28px;height: 28px;}
article.post, article.page {display: block;overflow: hidden;margin: 0;padding: 0;margin-bottom: 36px;}
div.post, div.page, .yoyo > li {display: block;overflow: hidden;padding: 0;margin-bottom: 36px;}
.sticky h2.entry-title a {padding: 2px 5px;}
#toTop {display: block;width: auto;height: auto;position: fixed;bottom: -50px;right: 40px;cursor: pointer;padding: 14px;font-size: 14px;background: rgba(0,0,0,.06);filter: alpha(opacity=0);opacity: 0;z-index: 251;border: 1px solid rgba(255,255,255,.1);-webkit-box-shadow: 0 0 1px rgba(0,0,0,.28);box-shadow: 0 0 1px rgba(0,0,0,.28);-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
#toTop:hover {}
.crycon-back2top:before {content: "";-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#toTop:hover .crycon-back2top:before {}
.nirvana-image-none .entry-content img[class*='align'], .nirvana-image-none .entry-content [class*='wp-block'][class*='align'] img, .nirvana-image-none .entry-summary img[class*='align'], .nirvana-image-none .entry-summary [class*='wp-block'][class*='align'] img {}
.nirvana-image-one .entry-content img[class*='align'], .nirvana-image-one .entry-content [class*='wp-block'][class*='align'] img, .nirvana-image-one .entry-summary img[class*='align'], .nirvana-image-one .entry-summary [class*='wp-block'][class*='align'] img {padding: 1px;border: 1px solid transparent;-webkit-box-shadow: 0 0 5px #ccc;box-shadow: 0 0 5px #ccc;}
.nirvana-image-two .entry-content img[class*='align'], .nirvana-image-two .entry-content [class*='wp-block'][class*='align'] img, .nirvana-image-two .entry-summary img[class*='align'], .nirvana-image-two .entry-summary [class*='wp-block'][class*='align'] img {border-top: 4px solid transparent;border-bottom: 4px solid transparent;padding: 0;}
.nirvana-image-three .entry-content img[class*='align'], .nirvana-image-three .entry-content [class*='wp-block'][class*='align'] img, .nirvana-image-three .entry-summary img[class*='align'], .nirvana-image-three .entry-summary [class*='wp-block'][class*='align'] img {border: 1px solid #222;padding: 0;-webkit-box-shadow: 0 0 15px #ccc;box-shadow: 0 0 15px #ccc;}
.nirvana-image-four .entry-content img[class*='align'], .nirvana-image-four .entry-content [class*='wp-block'][class*='align'] img, .nirvana-image-four .entry-summary img[class*='align'], .nirvana-image-four .entry-summary [class*='wp-block'][class*='align'] img {padding: 10px;border: 1px solid #ddd;-webkit-box-shadow: 0 0 2px #ccc;box-shadow: 0 0 2px #ccc;}
.nirvana-image-five .entry-content img[class*='align'], .nirvana-image-five .entry-content [class*='wp-block'][class*='align'] img, .nirvana-image-five .entry-summary img[class*='align'], .nirvana-image-five .entry-summary [class*='wp-block'][class*='align'] img {border: 3px dashed #ccc;}
.nirvana-image-one .entry-content img[class*='align']:hover, .nirvana-image-one .entry-content [class*='wp-block'][class*='align'] img:hover, .nirvana-image-one .entry-summary img[class*='align']:hover, .nirvana-image-one .entry-summary [class*='wp-block'][class*='align'] img:hover {background-color: #eee;}
.nirvana-image-two .entry-content img[class*='align']:hover, .nirvana-image-two .entry-content [class*='wp-block'][class*='align'] img:hover, .nirvana-image-two .entry-summary img[class*='align']:hover, .nirvana-image-two .entry-summary [class*='wp-block'][class*='align'] img:hover {-webkit-box-shadow: none;box-shadow: none;}
.nirvana-image-three .entry-content img[class*='align']:hover, .nirvana-image-three .entry-content [class*='wp-block'][class*='align'] img:hover, .nirvana-image-three .entry-summary img[class*='align']:hover, .nirvana-image-three .entry-summary [class*='wp-block'][class*='align'] img:hover {-webkit-box-shadow: none;box-shadow: none;}
.caption-simple #content .wp-caption .wp-caption-text {position: inherit;padding: 7px 5px;font-style: italic;}
.caption-dark #content .wp-caption .wp-caption-text {padding: 20px 5px 10px;color: #eee;background: none repeat scroll 0 0 rgba(0,0,0,.6);background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),color-stop(50%,rgba(0,0,0,.6)),to(rgba(0,0,0,.8)));background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.6) 50%,rgba(0,0,0,.8));-webkit-text-shadow: 0 0 7px #000;-moz-text-shadow: 0 0 7px #000;text-shadow: 0 0 7px #000;}
.caption-light #content  .wp-caption .wp-caption-text {background: none repeat scroll 0 0 rgba(255,255,255,.7);background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.4)),to(rgba(255,255,255,.8)));background: linear-gradient(to bottom,rgba(255,255,255,.4),rgba(255,255,255,.8));color: #333;}
#breadcrumbs {display: block;position: relative;padding: 8px 0;font-size: .8em;}
#breadcrumbs-box {display: block;margin: 0 auto;padding: 0 5px;}
.crycon-homebread:before {content: "";font-size: 1em;cursor: pointer;}
#breadcrumbs a {}
#breadcrumbs a:hover {}
.pagination {display: table;float: none;margin: 20px auto;text-align: center;clear: both;border: 1px solid transparent;}
.pagination span, .pagination a {display: block;position: relative;float: left;margin-right: 0;padding: 15px 0;width: 50px;text-align: center;font-size: .9em;line-height: 20px;text-decoration: none;-webkit-transition: background .3s;transition: background .3s;}
.pagination span:first-child, .pagination a:first-child {border-left: 0;}
.pagination a:hover {}
.pagination .current {}
a.continue-reading-link {display: inline-block;position: relative;width: auto;float: none;padding: 4px 15px;margin-top: 3px;line-height: 2.5;font-size: .8em;letter-spacing: 1px;text-transform: uppercase;font-style: normal;clear: both;border: 2px solid transparent;-webkit-transition: .25s all ease-in-out;transition: .25s all ease-in-out;}
.continue-reading-link  .crycon-right-dir:before {margin-right: 0;}
.continue-reading-link span {position: relative;z-index: 99;}
a.continue-reading-link i.crycon-right-dir {position: relative;font-size: 13px;z-index: 99;-webkit-transition: color .5s ease-in;transition: color .5s ease-in;}
a.continue-reading-link:hover {}
.nivoSlider {position: relative;width: 100%;height: auto;overflow: hidden;}
.theme-default .nivoSlider img.nivo-main-image {display: block;position: relative;width: 100%;}
.nivoSlider a.nivo-imageLink {position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 0;padding: 0;margin: 0;z-index: 6;display: none;}
.nivo-slice {display: block;position: absolute;z-index: 5;height: 100%;top: 0;}
.nivo-box {display: block;position: absolute;z-index: 5;overflow: hidden;}
.nivo-box img {display: block;}
.nivo-caption {display: none;position: absolute;left: 10%;right: 10%;top: 15%;width: 80%;z-index: 8;margin: 0 auto;padding: 10px;overflow: hidden;text-align: center;border-radius: 0;pointer-events: none;}
.nivo-caption h2 {display: inline;width: auto;margin-bottom: 10px;line-height: 1.2;letter-spacing: 3px;padding: 5px;font-weight: 700;text-align: center;position: relative;-webkit-animation: myfirst .5s ease-out;animation: myfirst .5s ease-out;}
@-webkit-keyframes myfirst {0% {top: 50px;filter: alpha(opacity=0);opacity: 0;display: none;}
	75% {top: -10px;filter: alpha(opacity=75);opacity: .75;display: block;}
	100% {top: 0;filter: alpha(opacity=100);opacity: 1;display: block;}}
@keyframes myfirst {0% {top: 50px;filter: alpha(opacity=0);opacity: 0;display: none;}
	75% {top: -10px;filter: alpha(opacity=75);opacity: .75;display: block;}
	100% {top: 0;filter: alpha(opacity=100);opacity: 1;display: block;}}
h2.nivo-caption-mate {-webkit-animation: myfirst2 .5s ease-out;animation: myfirst2 .5s ease-out;opacity: 0;}
@-webkit-keyframes myfirst2 {from {top: 0px;filter: alpha(opacity=100);opacity: 1;display: block;}
	to {top: 50px;filter: alpha(opacity=0);opacity: 0;display: none;}}
@keyframes myfirst2 {from {top: 0px;filter: alpha(opacity=100);opacity: 1;display: block;}
	to {top: 50px;filter: alpha(opacity=0);opacity: 0;display: none;}}
.slide-text {text-align: left;line-height: 1.4;letter-spacing: 1px;font-weight: 300;width: 80%;display: block;display: block;margin: 0 auto;filter: alpha(opacity=100);opacity: 1;}
@-webkit-keyframes mysecond {0% {top: -50px;opacity: 0;display: none;}
	75% {top: 10px;opacity: 1;display: block;}
	100% {top: 0px;opacity: 1;display: block;}}
@keyframes mysecond {0% {top: -50px;filter: alpha(opacity=0);opacity: 0;display: none;}
	75% {top: 10px;filter: alpha(opacity=100);opacity: 1;display: block;}
	100% {top: 0px;filter: alpha(opacity=100);opacity: 1;display: block;}}
.inline-slide-text {position: relative;filter: alpha(opacity=100);opacity: 1;display: inline;-webkit-animation: mysecond .5s ease-in;animation: mysecond .5s ease-in;}
.theme-default .nivoSlider .slide-text a {display: inline;border-bottom: 1px dotted;}
.nivo-html-caption {display: none;}
.nivo-directionNav a {position: absolute;top: 40%;z-index: 9;cursor: pointer;}
.nivo-prevNav {left: 0px;}
.nivo-nextNav {right: 0px;}
.nivo-controlNav a {cursor: pointer;}
.nivo-controlNav a.active {font-weight: bold;}
.theme-default .nivoSlider {position: relative;z-index: 100;background: url("images/nivoslider/loading.gif") no-repeat 50% 50%;margin-bottom: 50px;}
.theme-default .nivoSlider img {position: absolute;top: 0px;left: 0px;display: none;}
.theme-default .nivoSlider a {border: 0;display: block;}
.theme-default .nivo-controlNav {display: table-cell;position: absolute;bottom: 20px;left: 0;right: 0;height: 30px;width: auto;margin: 0 auto;padding: 3px 20px 0;text-align: center;z-index: 250;-webkit-transition: .2s all ease-in-out;transition: .2s all ease-in-out;}
.slider-bullets .nivo-controlNav a {display: inline-block;width: 11px;height: 11px;margin: 10px 5px 0;opacity: .5;text-indent: -9999px;border-radius: 10px;-webkit-transition: all .2s;transition: all .2s;}
.theme-default .nivo-controlNav:hover a {filter: alpha(opacity=100);opacity: 1;}
.slider-bullets .nivo-controlNav a:hover {}
.slider-bullets .nivo-controlNav a.active {}
.slider-numbers .nivo-controlNav a {display: inline-block;padding: 2px 8px;margin-right: 5px;font-size: 12px;border-radius: 4px;-weblit-transition: all .3s;-webkit-transition: all .3s;transition: all .3s;}
.slider-numbers .nivo-controlNav a:hover {}
.slider-numbers .nivo-controlNav a.active {}
.theme-default.slider-none .nivo-controlNav {display: none;}
.theme-default .nivo-directionNav a {display: block;width: 60px;height: 70px;background: url("images/nivoslider/arrows.png") 15px 15px #fff no-repeat;text-indent: -9999px;border: 0;-webkit-transform: scale(.8);-ms-transform: scale(.8);transform: scale(.8);}
.theme-default a.nivo-nextNav {background-position: -82px 15px;-webkit-box-shadow: -1px 0 2px rgba(0,0,0,.4);box-shadow: -1px 0 2px rgba(0,0,0,.4);}
.theme-default a.nivo-prevNav {-webkit-box-shadow: 1px 0 2px rgba(0,0,0,.4);box-shadow: 1px 0 2px rgba(0,0,0,.4);}
.theme-default .nivo-directionNav a.nivo-prevNav:hover {background-position: 10px 15px;}
.theme-default .nivo-directionNav a.nivo-nextNav:hover {background-position: -77px 15px;}
.theme-default .nivo-controlNav.nivo-thumbs-enabled {width: 100%;}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {width: auto;height: auto;background: none;margin-bottom: 5px;}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {display: block;width: 120px;height: auto;}
a.nivo-imageLink {background-color: #fff;filter: alpha(opacity=0);opacity: 0;}
.slider-wrapper {display: block;float: none;position: relative;clear: both;left: 0;width: 100%;z-index: 100;}
#slider {margin: 0 auto;display: block;float: none;}
#pp-afterslider.entry-content {padding-top: 0;}
#pp-texttop, #pp-textmiddle, #pp-textbottom, #front-columns-box, .presentation-page #content {display: block;float: none;clear: both;padding: 75px 0;}
#front-columns-box {overflow: hidden;}
#front-text1 h2, #front-text2 h2, #front-text5 h2, #front-columns h2 {display: block;float: none;margin: 0 auto;text-align: center;font-size: 45px;line-height: 55px;clear: both;font-weight: 300;}
#front-columns h2 {margin-bottom: 80px;}
#front-text1, #front-text2, #front-text5 {display: block;float: none;padding: 0 0 80px;margin: 0 auto;}
#front-text3, #front-text4, #front-text6 {margin: 0 auto;overflow: hidden;}
#front-text3 blockquote, #front-text4 blockquote, #front-text6 blockquote {padding: 15px 0px;width: inherit;margin-bottom: 20px;font-size: 1.5em;line-height: 1.5;text-align: justify;}
#front-columns {margin: 0 auto;}
#front-columns > div, #front-columns > li {display: block;height: auto;float: left;}
.column1 {clear: both;}
.column-image {position: relative;}
.column-image img {display: block;margin: 0 auto;-webkit-backface-visibility: hidden;}
.slider-text-separator {display: block;float: none;clear: both;margin: 30px auto 40px;width: 120px;height: 1px;background: #fff;-webkit-box-shadow: 1px 1px 0px #333;box-shadow: 1px 1px 0px #333;}
.readmore {display: table;float: none;margin: 2.5em auto 0;min-width: 125px;border: 2px solid #fff;}
.theme-default .nivoSlider .readmore  a {font-size: 1.3em;padding: .5em .7em;display: block;float: none;font-weight: 700;text-transform: uppercase;letter-spacing: 1px;}
.readmore:hover {background: #fff;}
.readmore:hover a {color: #777;-webkit-text-shadow: none;-moz-text-shadow: none;text-shadow: none;}
.slider-navhover .nivo-directionNav a.nivo-prevNav {left: -100px;-webkit-transition: .3s all ease-in-out;transition: .3s all ease-in-out;}
.slider-navhover:hover .nivo-directionNav  a.nivo-prevNav {left: 30px;}
.slider-navhover .nivo-directionNav a.nivo-nextNav {right: -100px;-webkit-transition: .3s all ease-in-out;transition: .3s all ease-in-out;}
.slider-navhover:hover .nivo-directionNav  a.nivo-nextNav {right: 30px;}
#cryout_ajax_more_trigger {display: table;float: none;clear: both;min-width: 160px;padding: 12px 15px;margin: 0 auto;text-align: center;cursor: pointer;font-size: 14px;border-radius: 2px;text-transform: uppercase;letter-spacing: 1px;-webkit-transition: background-color .2s ease-in-out;transition: background-color .2s ease-in-out;}
#cryout_ajax_more_trigger.cryout_click_loading {background: url("images/loading.gif") transparent no-repeat center center;text-indent: -9999px;border: 0;}
#cryout_ajax_more_trigger.cryout_click_loading:hover {background-color: transparent;}
.presentation-page #main {margin-top: 0;}
.presentation-page #forbottom {padding: 0;max-width: 100%;}
.presentation-page #container {width: auto;margin: 0 auto;}
.presentation-page #footer {margin-top: 0;}
#frontpage #slider a#slider-stopper {display: none;}
#front-columns {display: block;width: auto;float: none;}
.widget-area div.ppcolumn {position: relative;}
.column-image {width: 100%;display: block;overflow: hidden;line-height: 0;}
.column-image-inside {width: 100%;height: 100%;position: absolute;top: 0;z-index: 250;padding: 0 30px;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.column-image-inside-centered {position: relative;top: 42%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.safari .column-image-inside-centered {top: 20%;}
.column-image-inside:hover {background: rgba(0,0,0,.7);}
.column-header-image {display: block;width: 100%;position: relative;top: 30px;text-align: center;-webkit-transition: all .3s .3s ease-in-out;transition: all .3s .3s ease-in-out;}
.column-text-separator {display: block;float: none;clear: both;width: 10px;height: 1px;background: #fff;margin: 20px auto;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.column-text {position: relative;top: -30px;font-size: .9em;padding: 0 20px;width: 100%;overflow: hidden;line-height: 1.3;z-index: 251;color: #eee;text-align: justify;-webkit-transition: all .3s .3s ease-in-out;transition: all .3s .3s ease-in-out;}
.column-link {position: absolute;width: 100%;height: 100%;display: block;}
.column-header-image, .column-text-separator, .column-text {filter: alpha(opacity=0);opacity: 0;}
.column-image-inside:hover .column-header-image, .column-image-inside:hover .column-text {filter: alpha(opacity=100);opacity: 1;top: 0;}
.column-image-inside:hover .column-text-separator {filter: alpha(opacity=100);opacity: 1;width: 50px;}
.column-image img {width: 100%;}
.coldisplay1 .column-image-inside-centered {position: relative;top: 0;padding-top: 20px;-webkit-transform: none;-ms-transform: none;transform: none;}
.coldisplay1 .column-header-image, .coldisplay1 .column-text-separator, .coldisplay1 .column-text {filter: alpha(opacity=90);opacity: .9;top: 0px;}
.coldisplay1 .column-image-inside .column-text-separator {width: 150px;}
.coldisplay1 .column-image-inside:hover .column-text-separator {width: 100%;}
.coldisplay2 .column-image-inside {position: relative;}
.coldisplay2 .column-image-inside:hover {background-color: transparent;}
.coldisplay2 .column-image-inside-centered {position: relative;top: 0;padding-top: 20px;-webkit-transform: none;-ms-transform: none;transform: none;}
.coldisplay2 .column-header-image, .coldisplay2 .column-text {filter: alpha(opacity=90);opacity: .9;top: 0px;color: inherit;}
.coldisplay2 .column-text {padding: 10px 10px 20px 10px;}
.coldisplay2 .column-text-separator {display: none;}
header, nav, section, article, aside, footer, hgroup {display: block;}
.tinynav {display: block;display: none;float: none;margin: 8px auto;min-width: 200px;width: 100%;padding: 10px;}
.tinynav option {}
.magazine-layout #content article.post, .magazine-layout.search #content article {float: left;width: 47%;padding: 0 0 10px;}
.magazine-layout #content article:nth-of-type(2n+1) {clear: both;margin-right: 6%;}
.magazine-layout .comments-link {float: left;}
.magazine-layout .entry-header .entry-meta {margin-top: 5px;}
.magazine-layout span.edit-link {float: left;margin-left: 0;margin-right: 10px;}
.magazine-layout .entry-header {clear: both;}
.sharedaddy ul > li {background: none !important;text-indent: 0 !important;}
.woocommerce .product .entry-summary {clear: none;}
#content embed, #content iframe {max-width: 100%;}
.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {width: 22.05%;}
body.woocommerce-page .entry-content .checkout ul > li, .woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li {list-style: none;}
body.woocommerce .page-title {display: inherit;margin-bottom: 20px;padding: 10px;font-weight: normal;}