<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>RIpple &#8211; Alt Coin &amp; Me</title>
	<atom:link href="http://altcoinandme.com/tag/ripple/feed/" rel="self" type="application/rss+xml" />
	<link>http://altcoinandme.com/</link>
	<description>CryptoCurrency Reviews</description>
	<lastBuildDate>Fri, 27 Apr 2018 12:41:20 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Ripple (XRP) Cryptocurrency Review</title>
		<link>http://altcoinandme.com/ripple-xrp-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/ripple-xrp-cryptocurrency-review/#respond</comments>
				<pubDate>Thu, 29 Mar 2018 15:38:14 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[RIpple]]></category>
		<category><![CDATA[Thumbs Down]]></category>
		<category><![CDATA[XRP]]></category>

		<guid isPermaLink="false">https://altcoinandme.com/?p=289</guid>
				<description><![CDATA[Opinion: For this article I will be referring to Ripple and XRP interchangeably since the control Ripple has over XRP is undeniable. I approached this crypto-currency with an open mind as I do with all of my evaluations. Unfortunately, they scored the lowest on customer support of any crypto-currency I&#8217;ve…<p> <a class="continue-reading-link" href="http://altcoinandme.com/ripple-xrp-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_99" style="width: 208px" class="wp-caption alignleft"><a href="http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency"><img aria-describedby="caption-attachment-99" class="wp-image-101 size-full" src="/wp-content/uploads/2018/03/ThumbsDown.jpg" alt="I do not recommend this cryptocurrency" width="198" height="240" srcset="/wp-content/uploads/2018/03/ThumbsDown.jpg 198w, /wp-content/uploads/2018/03/ThumbsDown-124x150.jpg 124w" sizes="(max-width: 198px) 100vw, 198px" /></a><p id="caption-attachment-99" class="wp-caption-text">Recommendation: <br /> Thumbs down. <a href="https://docs.google.com/spreadsheets/d/1_ZWqgux_UeRgRNeSEx-QJCy2SncNaBTMbd5DXxlUX4Q/edit?usp=sharing" target="_blank" rel="noopener">Click here to view a detailed analysis.</a></p></div>
<h3>Opinion:</h3>
<p>For this article I will be referring to Ripple and XRP interchangeably since the control Ripple has over XRP is undeniable. I approached this crypto-currency with an open mind as I do with all of my evaluations. Unfortunately, they scored the lowest on customer support of any crypto-currency I&#8217;ve rated yet so obtaining credible non-bias information was difficult. Here&#8217;s the facts: The &#8220;genius&#8221; programmers didn&#8217;t create Ripple. A real &#8220;genius&#8221; Canadian engineer named &#8220;Ryan Fugger&#8221; was the creator, not the current Ripple company. I was honored to establish direct contact with Ryan and he gave me permission to post his response to my questions. You can view Ryans inspirational email by [sg_popup id=&#8221;17&#8243; event=&#8221;click&#8221;]clicking here![/sg_popup]. Out of respect for Ryan, I won&#8217;t be disclosing any part of our conversation outside of the email above. Ironically between the week I spent researching and writing this article and the publication date the executive below is no longer listed under the leadership of the company. The assumed former executive chairman at Ripple describes Ryans project here:<br />
<code><iframe src="https://www.youtube.com/embed/3zW_DN9pkbM?rel=0&amp;start=15" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></code></p>
<p>The only product Ripple has created is a product they call &#8220;xCurrent&#8221; which is nothing more than proprietary software that banks can use to verify transactions over the ledger. Ripple is distributing 1 billion XRP to themselves monthly for 55 months. Don&#8217;t believe me? Watch the video below:</p>
<p><code><br />
<iframe src="https://www.youtube.com/embed/Y7fDEO15MGI?rel=0&amp;start=56" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe><br />
</code></p>
<p>They claim it&#8217;s to provide &#8220;supply predictability&#8221;. If Ripple were to sell 55 billion at once it would be worth almost nothing. That&#8217;s maximizing profits not obtaining supply predictability since Ripple can distribute or hold as much as they want under one billion XRP a month. At the time of this writing that&#8217;s valued around 500 million USD a month. I&#8217;m a firm believer in the free market but when you&#8217;re abusing the brilliant work of free thinkers for monetary gain you should be exiled from being labeled anything but &#8220;Ripple Bank&#8221;. Look at Ripples team and ask yourself whether you see a development team or a bank: <a href="https://ripple.com/company/leadership/" target="_blank" rel="noopener">View Team</a>.</p>
<h5>Technical issues with Ripple:</h5>
<p>Ripples main claim to fame is their transaction throughput, however if you dig into their &#8220;consensus algorithm&#8221; and architecture you&#8217;ll learn that it handles only part of the conditions required for a decentralized network. If you believe you are going to run a trusted node to contribute, don&#8217;t waste your time. First of all, you will receive no compensation. Secondly, you can get flagged as untrusted for something as simple as a network interruption. Ripple of course is operating the mass majority of the XRP nodes and if you finished watching the video above they&#8217;re planning on adding more in 2018.</p>
<p>The transaction throughput is possible because XRP is metaphorically nothing more than a centralized source of Ripple server databases. Anybody that has access to the internet can obtain the same throughput through the readily available cloud services of Amazon, Microsoft or Google. In the end the only positive contribution of Ripple has been marketing the mass adoption of crypto-currencies.</p>
<h3>Ripple Website:</h3>
<p><a href="https://ripple.com/" target="_blank" rel="noopener">Primary Website</a></p>
<h3>Ripple Whitepaper (documentation):</h3>
<p><a href="https://ripple.com/files/ripple_solutions_guide.pdf" target="_blank" rel="noopener">WhitePaper</a></p>
<h3>Usability:</h3>
<p>Third party applications are available that are extremely easy to use, however they aren&#8217;t listed directly on the Ripple website. If you would simply like to setup your wallet as a new user I would recommend you <a href="#WalletSetup">click here to scroll down</a> to the section titled &#8220;Wallet Setup Instructions&#8221;. For the more advanced users that would like to setup a full node to help support the ripple network, <a href="#NodeSetup">click here to scroll down</a> to the section on running a full node. Ripple refers to their nodes as &#8220;validators&#8221; and there is detailed documentation on how to set it up but it&#8217;s extremely complicated and should be reserved for advanced users only.</p>
<h3>Privacy:</h3>
<p>Nothing special here, they use a public ledger which is about the only resemblance they have to crypto-currencies.</p>
<h3>Credibility:</h3>
<p>The Ripple team is fully transparent and consists of 15 people including executives, marketers, legal council, sales, compliance officers, finance specialists, public relations and developers. A full list of the team is located here: <a href="https://ripple.com/company/" target="_blank" rel="noopener">company team</a>. The code is also open source and located here: <a href="https://github.com/ripple" target="_blank" rel="noopener">Github Project.</a></p>
<h3>Innovation:</h3>
<p>Ripple has created a &#8220;consensus algorithm&#8221; which theoretically allows XRP to handle 1500 transactions per second. Ripple also produces their own software by the name of &#8220;xCurrent&#8221; that enables banks to settle transactions in four seconds internationally. The software combined with the low transaction costs has led to the adoption of many banks worldwide.</p>
<h3>Customer Support:</h3>
<p>Non-existent. I attempted to contact Ripple over Twitter, Facebook and LinkedIn with no response. The email address listed on on the website is support@ripple.com. An immediate auto-reply from the email address will tell you to email another address. I attempted to email the other address twice with two completely different questions. I received the exact canned response twice to read online articles which had nothing to do with my question.</p>
<h3>Exchange Support:</h3>
<p>Ripple (XRP) is one of the most highly available currencies. Below is a list of high volume exchanges in rank from the highest to the lowest according to <a href="https://coinmarketcap.com/exchanges/volume/24-hour/" target="_blank" rel="noopener">https://coinmarketcap.com/exchanges/volume/24-hour/</a>. Exchanges must be listed and easily found on the company website.</p>
<p><a href="https://www.kraken.com" target="_blank" rel="noopener">Kraken(9th)</a><br />
<a href="https://www.bitstamp.net" target="_blank" rel="noopener">BitStamp(13th)</a><br />
<a href="https://coinone.co.kr/exchange/trade/xrp/" target="_blank" rel="noopener">CoinOne(22nd)</a><br />
<a href="https://www.korbit.co.kr/market/xrp_krw" target="_blank" rel="noopener">Korbit(33rd)</a><br />
<a href="https://www.qryptos.com/" target="_blank" rel="noopener">Qryptos(39th)</a></p>
<h3 id="WalletSetup">Wallet Setup Instructions:</h3>
<h5>iPhone and Android users:</h5>
<p>There&#8217;s a great application in the App Store called &#8220;Toast Wallet&#8221;. If you cannot find the toast application in the store you can download the application directly from the Toast website located here <a href="https://toastwallet.com/" target="_blank" rel="noopener">https://toastwallet.com/</a><a href="https://coinomi.com/" target="_blank" rel="noopener"><br />
</a></p>
<h5>PC Users:</h5>
<p>The wallets weren&#8217;t listed on Ripple, however if you navigate  to <a href="https://toastwallet.com" target="_blank" rel="noopener">ToastWallet.com</a>, there&#8217;s plenty of options. ToastWallet currently supports Windows 10, Mac OSX, Linux and even a chrome browser extension. Pretty impressive. After installation it will ask you to setup a pin number and a passphrase.</p>
<p>*(Windows 10 users with Sideloading error)<br />
<span style="font-family: 'Source Sans Pro';">If you encountered an error during installation complaining about &#8220;side-loading&#8221; you will need to reconfigure your settings. Click on the search bar and type &#8220;settings&#8221;. Click on the gear icon that pops up. On the next screen labeled &#8220;windows settings&#8221;. Click on &#8220;Update &amp; Security&#8221; at the bottom of the screen.Click the button on the left hand side of the screen labeled &#8220;For Developers&#8221;. As a last step, click on &#8220;Sideload Apps&#8221;. The installer will work now with-ought any errors.</span></p>
<h5 id="NodeSetup">Supporting the Ripple (XRP) network by running a &#8220;Full Node Validator&#8221;:</h5>
<p>Detailed instructions on how to setup an online node validator are located here: <a href="https://ripple.com/build/rippled-setup/" target="_blank" rel="noopener">online node validator instructions</a>. Setting up a node is extremely complicated and is only meant for advanced users. The node can also stop being trusted for mischievous behavior or erroneous issues such as network failures. If your node is marked as being untrustworthy it will still reside on the network but if there&#8217;s any conflicting transactions the trusted nodes will take precedence. Below is a YouTube video explaining how to set up and contribute to the Ripple network:</p>
<p><code><iframe src="https://www.youtube.com/embed/0-871XWa7qI?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></code></p>
<h5>Free Ripple (XRP) CryptoCurrency Faucets:</h5>
<p><a href="https://xrpfaucet.info/" target="_blank" rel="noopener">https://xrpfaucet.info/</a></p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/ripple-xrp-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
