<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Thumbs Up &#8211; Alt Coin &amp; Me</title>
	<atom:link href="http://altcoinandme.com/tag/thumbs-up/feed/" rel="self" type="application/rss+xml" />
	<link>http://altcoinandme.com/</link>
	<description>CryptoCurrency Reviews</description>
	<lastBuildDate>Mon, 07 May 2018 12:52:54 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Steem Cryptocurrency Review</title>
		<link>http://altcoinandme.com/steem-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/steem-cryptocurrency-review/#respond</comments>
				<pubDate>Fri, 27 Apr 2018 11:55:10 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[SBD]]></category>
		<category><![CDATA[Steem]]></category>
		<category><![CDATA[Steem Dollar]]></category>
		<category><![CDATA[Steem Power]]></category>
		<category><![CDATA[SteemIt]]></category>
		<category><![CDATA[Thumbs Up]]></category>

		<guid isPermaLink="false">http://altcoinandme.com/?p=446</guid>
				<description><![CDATA[Steem Website: Project Home Page Overview: Steem is a [sg_popup id=&#8221;33&#8243; event=&#8221;click&#8221;]blockchain[/sg_popup] based social media network. The website SteemIt.com is the primary website that utilizes steem. Contributions towards the SteemIt network are primarily distributed to the authors and curators. Steem actually consists of three currency components. The primary currency is…<p> <a class="continue-reading-link" href="http://altcoinandme.com/steem-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_99" style="width: 210px" class="wp-caption alignleft"><a href="http://altcoinandme.com/steem-cryptocurrency-review/"><img aria-describedby="caption-attachment-99" class="size-full wp-image-99" src="/wp-content/uploads/2018/03/ThumbsUp.jpg" alt="Approved" width="200" height="240" srcset="/wp-content/uploads/2018/03/ThumbsUp.jpg 200w, /wp-content/uploads/2018/03/ThumbsUp-125x150.jpg 125w" sizes="(max-width: 200px) 100vw, 200px" /></a><p id="caption-attachment-99" class="wp-caption-text">Recommended Crypto Currency. To view a detailed analysis of the score-sheet, <a href="https://docs.google.com/spreadsheets/d/1-i_3n4xPTEK7MEos7mZFSACIzJQMOt70B8crmpMXj4I/edit?usp=sharing" target="_blank" rel="noopener">click here!</a></p></div>
<h3>Steem Website:</h3>
<p><a href="https://steem.com/" target="_blank" rel="noopener">Project Home Page</a></p>
<h3>Overview:</h3>
<p>Steem is a [sg_popup id=&#8221;33&#8243; event=&#8221;click&#8221;]blockchain[/sg_popup] based social media network. The website SteemIt.com is the primary website that utilizes steem. Contributions towards the SteemIt network are primarily distributed to the authors and curators. Steem actually consists of three currency components.</p>
<ol>
<li>The primary currency is <span style="text-decoration: underline;">Steem</span> which can be transferred anytime to anyone and can be converted to Steem power within your SteemIt wallet account.</li>
<li><span style="text-decoration: underline;">Steem power (SP)</span> is similar to holding stock in a company. It gives your votes more weight. If you wish to cash out SP it takes 13 weeks and each payment is exactly 1/13 of your balance.</li>
<li><span style="text-decoration: underline;">Lastly, Steem Dollars (SD)</span> are pegged to the US dollar on a $1 to 1 SD conversion. This is not always the case, but they do their best to accomplish this through economic incentives referenced in their whitepaper.</li>
</ol>
<h3>Personal Opinion:</h3>
<p>I live in a country where we are taught that we have &#8220;free speech&#8221; unless you say something unpopular on Twitter or Facebook which will lead to your content being removed or possible legal ramifications. The Steem [sg_popup id=&#8221;33&#8243; event=&#8221;click&#8221;]blockchain[/sg_popup] negates this by making all posted material publicly available. I will note that SteemIt.com (a branch of steem) does censor their content which is understandable considering the aforementioned repercussions. I believe we are only in the infancy stage of this product and I personally plan to shift a good part of my crypto portfolio to STEEM in the future. It will be very interesting to see how this project evolves in the future but I believe the investment is worth supporting the ideals of this project.</p>
<h3>Usability (7/10):</h3>
<p>If you would like to get started fast, I would recommend you use the website &#8220;SteemIt.com&#8221;. <a href="#WalletSetup">To get started click here to scroll down to the setup instructions</a>. It provides everything you need including social media integration. To start a lightweight wallet as a desktop client &#8220;Vessel&#8221; was somewhat easy to use once you set the right server setup as <a href="#LightWeightSetup">explained blow</a>. The initial comprehension of the three different elements of Steem can be confusing for beginners. The website is lacking links to some of the components to get you started. Contributing computing power to a full node wallet or witness is too complicated for a new users. I would highly recommend sticking to the lightweight wallet. The transactional capacity of Steem is impressive at 10,000 transactions per second should the future require it.</p>
<h3>Privacy (5/10):</h3>
<p>Steem uses a standard [sg_popup id=&#8221;33&#8243; event=&#8221;click&#8221;]block-chain[/sg_popup] public ledger that&#8217;s fully transparent. This has obvious benefits but there&#8217;s no apparent privacy enhancing features of Steem.</p>
<h3>Credibility (7.5/10):</h3>
<p>Steem clearly has some brilliant people behind it but they were very difficult to locate from the home page with-ought doing a google search. Listing the team helps add trust in the public eye. Hopefully a member of the team will read this review and add a link on the home page. The information seems to be spread sporadically across the internet, however I was able to locate the company LinkedIn page <a href="https://www.linkedin.com/search/results/people/?facetCurrentCompany=%5B%2210498384%22%5D" target="_blank" rel="noopener">here</a>.</p>
<h3>Innovation (10/10):</h3>
<p>After reading through the whitepaper it&#8217;s very clear that the developers designed this product with every predicted scenario and consideration in mind. All of the promotion that I personally encountered for steem was towards earning rewards for contributions towards the network. However, I believe the most revolutionary aspect of this product is the inability of governments or corporations to censor the content. Any and all contributions posted to the steem network will reside on the public ledger as long as the network is operational.</p>
<h3>Customer Support (5.25/10):</h3>
<p>There were some strong points and some weak points of the community customer support. I was able to make direct contact with one of the developers via Email which by itself is very rare. To immediately reach customer support go to the SteemIt chat <a href="https://steem.chat/" target="_blank" rel="noopener">here</a>. Discord was equally effective in receiving support. To join the Discord chat <a href="https://discord.gg/B29Bbng" target="_blank" rel="noopener">click here</a>. I was unable to receive support on any of the other channels listed on the home page.</p>
<h3>Exchange Support (10/10):</h3>
<p>The easiest way to obtain additional Steem if you already own another cryptocurrency such as Bitcoin is to convert your coins at blocktrades.us by <a href="https://blocktrades.us/?input_coin_type=btc&amp;output_coin_type=steem" target="_blank" rel="noopener">clicking here</a>. The available centralized exchanges listed on the website are Bittrex and Poloniex, however you can pick up Steem on almost any exchange. Exchanges not listed on the website listed in higher to lower volume according to coinmarketcap.com are as follows: UpBit, Binance, GoPax, HitBTC, BuyUCoin and VeBitCoin.</p>
<h3 id="WalletSetup">Getting started:</h3>
<p>The first thing you&#8217;re going to want to do is to navigate to the SteemIt <a href="https://signup.steemit.com/" target="_blank" rel="noopener">signup form my clicking here</a>. Make sure to verify your email address and phone number. After the team reviews your information you will need to wait for verification. Personally, it took five days for my account to be validated however I&#8217;ve been told that it typically only takes a day or two. The customer support indicated that this is to make sure there&#8217;s no impostors pretending to be somebody they&#8217;re not.</p>
<h3>Phone Setup</h3>
<h5>Android:</h5>
<p>There&#8217;s a free nifty little program called SteemPay that you can use to send SBD or STEEM. It&#8217;s available for download from the google play store <a href="https://play.google.com/store/apps/details?id=com.kodaxx.steempay" target="_blank" rel="noopener">here</a>. Once you download the program, use your SteemIt.com login credentials to access the application.</p>
<h5>iPhone:</h5>
<p>None found.</p>
<h3>PC Setup:</h3>
<h5>Online wallet / Light Weight Wallet:</h5>
<p>The simplest way to use a Steem wallet is to use the wallet allocated to you on Steemit.com. Your account name (in my case altcoinandme) is your actual wallet address. Pretty simple right! You can transfer to and from your wallet Steem Power, Steem and Steem dollars. If you need to transfer from an exchange, they may also require you to have a &#8220;memo field&#8221; that you can locate by clicking on your profile photo in the top right hand corner. Next click on &#8220;Wallet&#8221; and then permissions. You will see the memo address listed on the bottom. <span id="LightWeightSetup"></span>Another alternative that gives you a great overview and control of your assets is a product called &#8220;Vessel&#8221; which can be downloaded <a href="https://github.com/aaroncox/vessel/releases" target="_blank" rel="noopener">here</a>. I did encounter some issues with vessel connecting. If you encounter the same issue, I resolved it by clicking on &#8220;Change server&#8221; at the top. The server that I found to work was &#8220;https://steemd.minnowsupportproject.org&#8221;.</p>
<h5>Download a Full Node Wallet (Witness node or Full Wallet):</h5>
<p>Unfortunately, the current method to setup a witness node is extremely complex and requires an extremely high amount of computer resources. The engineers purposely designed the architecture to allocate a large amount of computer memory to ensure network throughput. The current recommended amount of RAM required is 64 GB. If you would still like to proceed I would recommend installing docker CE free edition by <a href="https://www.docker.com/get-docker" target="_blank" rel="noopener">clicking here</a>.</p>
<p>Once you register, docker will appear in the toolbar on the bottom right hand side. Right click on the  docker and select &#8220;Kitematic&#8221;. Download the zip file and extract it to a folder on your desktop. Open the folder and double click on the Kitematic.exe file. You will see an image created by &#8220;teego&#8221;. Click on create and wait for the image to download. Once the image is downloaded click on the container on the left hand side then click on start. You will see the wallet come online with some errors. Now comes the complicated part. You will need to fine tune the config.ini file to optimize your image. This file can be found in: &#8220;C:\Users\{Your User Name}\Documents\Kitematic\steem-wallet\witness_node_data_dir&#8221;.</p>
<p>There&#8217;s an example server config.ini file is located <a href="https://github.com/steemit/steem/blob/master/contrib/fullnode.config.ini" target="_blank" rel="noopener">here</a>. You may need to manually adjust a lot of the parameters to get the image to work therefore disabling or enabling the plugins is a good place to start. Lastly, being compensated for being a witness can be difficult since witnesses are voted on by the public which means consequently you will need a high speed, reliable internet connection and high end hardware to appear on the community radar. There&#8217;s a list of the top witnesses getting paid <a href="https://steemd.com/witnesses" target="_blank" rel="noopener">here</a>. I&#8217;ve also been informed by the developers there&#8217;s no compensation for the actual mining of the blocks, only compensation for serving as a witness node.</p>
<h5>Free Steem Faucets:</h5>
<p>No obvious faucets could be found</p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/steem-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Ethereum (ETH) CryptoCurrency Review</title>
		<link>http://altcoinandme.com/ethereum-eth-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/ethereum-eth-cryptocurrency-review/#respond</comments>
				<pubDate>Fri, 13 Apr 2018 10:36:17 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[ETH]]></category>
		<category><![CDATA[Ethereum]]></category>
		<category><![CDATA[Thumbs Up]]></category>
		<category><![CDATA[Vitalik Buterin]]></category>

		<guid isPermaLink="false">https://altcoinandme.com/?p=351</guid>
				<description><![CDATA[Overview: Ethereum is a platform that provides the tools necessary for developers to innovate applications on the top of its network. Ethereum has strong community support that has made major contributions to the evolution of this project. Opinion: Ethereum has been a pioneer in its field and has a bright future.…<p> <a class="continue-reading-link" href="http://altcoinandme.com/ethereum-eth-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_99" style="width: 210px" class="wp-caption alignleft"><a href="http://altcoinandme.com/ethereum-eth-cryptocurrency/"><img aria-describedby="caption-attachment-99" class="wp-image-99 size-full" src="/wp-content/uploads/2018/03/ThumbsUp.jpg" alt="Recommended Cryptocurrency!" width="200" height="240" srcset="/wp-content/uploads/2018/03/ThumbsUp.jpg 200w, /wp-content/uploads/2018/03/ThumbsUp-125x150.jpg 125w" sizes="(max-width: 200px) 100vw, 200px" /></a><p id="caption-attachment-99" class="wp-caption-text">Thumbs Up! To view the score-sheet  <a href="https://docs.google.com/spreadsheets/d/1qCzyysjsOh2yzjvbOZoYboOv3fQ6mwtg95X9r9l3nM8/edit?usp=sharing" target="_blank" rel="noopener">Click Here!</a></p></div>
<h3>Overview:</h3>
<p>Ethereum is a platform that provides the tools necessary for developers to innovate applications on the top of its network. Ethereum has strong community support that has made major contributions to the evolution of this project.</p>
<h3>Opinion:</h3>
<p>Ethereum has been a pioneer in its field and has a bright future. The primary developer of Ethereum is a man by the name of <a href="https://en.wikipedia.org/wiki/Vitalik_Buterin" target="_blank" rel="noopener">Vitalik Buterin</a> that is solely focused on benefiting humanity and not financial profits. I firmly believe that it&#8217;s these beliefs that will pave the way for the future. Vitalik has set down a roadmap for the next few years that will lead to a lot of market innovation but it will undoubtedly cause some market instability. Unfortunately, the price of Ethereum has boomed in the previous year so it&#8217;s currently very expensive to purchase. If you decide to invest it should be viewed as a long term investment in the ideals of Ethereum and not for profit. This isn&#8217;t to say that it won&#8217;t be profitable but if market volatility causes you a lot of stress you should stay away.</p>
<h3>Ethereum Website:</h3>
<p><a href="https://ethereum.org" target="_blank" rel="noopener">Home Page</a></p>
<h3>Whitepaper (documentation):</h3>
<p><a href="http://www.ethdocs.org/en/latest/introduction/what-is-ethereum.html" target="_blank" rel="noopener">White Paper</a></p>
<h3>Usability (9/10):</h3>
<p>I was able to sync properly at high speeds but the program seemed to hang a bit at startup while &#8220;looking for peers&#8221;. Be patient and it will eventually come online. Due to the popularity, there&#8217;s a large amount of available applications. The primary PC client for Windows and Linux are available on their <a href="https://ethereum.org" target="_blank" rel="noopener">home page</a>.</p>
<p>There is a lightweight version of the wallet inside of the main application. It&#8217;s not truly lightweight in the sense that there is a small amount of hardware that&#8217;s needed but overall it&#8217;s great. If you would like to setup a wallet on your PC, <a href="#WalletSetup">click here to scroll down</a> for instructions on setting up a wallet on your computer. If you would like to setup the wallet on your phone <a href="#PhoneSetup">click here to scroll down</a> to the phone setup section.</p>
<h3>Privacy (5/10):</h3>
<p>Although privacy seems to be on the forefront of the next implementations of Ethereum it currently only comes with standard privacy. There is currently a project called ZoKrates that has been able to implement a technology called [sg_popup id=&#8221;24&#8243; event=&#8221;click&#8221;]zkSnarks[/sg_popup] to provide anonymous transactions. I was able to contact the lead developer of the project (Jacob Ebert). Here&#8217;s a description of ZoKrates in his own words:</p>
<blockquote><p>Hi Chris, <a href="https://github.com/JacobEberhardt/ZoKrates" target="_blank" rel="noopener">ZoKrates</a> is a research project I am working on. It also has community contributors and an active gitter community. It can be used to implement zkSnarks on Ethereum. We are working on adding more features and improving usability so these applications can become more powerful, performant and easier to use.</p></blockquote>
<p>Clearly this project has a bright future with the ongoing efforts of Jacob and the community. As Jacob mentioned it&#8217;s very difficult to implement and is only feasible for advanced users. ZoKrates is working to make the process easier for mass adoption. If you would like to contribute to the development of ZoKrates the homepage is listed here: <a href="https://github.com/JacobEberhardt/ZoKrates" target="_blank" rel="noopener">ZoKrates</a>.</p>
<h3>Credibility (10/10):</h3>
<p>The listed Ethereum team is small but there are large amounts of programmers contributing across the globe. It&#8217;s very easy to research Vitalik and his knowledge by searching for Vitalik Buterin on YouTube or by clicking here: <a href="https://www.youtube.com/results?search_query=vitalik+buterin" target="_blank" rel="noopener">Search YouTube</a>. If you would like to view the team listed on the website click here: <a href="https://www.ethereum.org/foundation" target="_blank" rel="noopener">View Team.</a> Everything with Ethereum has been and will be open source which enables the contribution of programmers across the globe. If you would like to contribute to the development of Ethereum their official GitHub page is located here: <a href="https://github.com/ethereum" target="_blank" rel="noopener">GitHub</a>.</p>
<p><span style="color: #444444; font-family: inherit; font-size: 2.0345em;">Innovation (10/10):</span></p>
<p>Ethereum has not only set the bar for other crypto-currencies but has created a structure to enable them to succeed. This currency may become the next big thing simply due to the fact that it&#8217;s constantly evolving to add technological improvements.</p>
<h3>Customer Support (6/10):</h3>
<p>It should be noted that although they scored a 6 out of 10, the customer support that I did receive was the best I&#8217;ve received yet. They are the only currency so far that has an operational chat box on their home page where you can receive immediate support. If you need support, <a href="https://www.ethereum.org/" target="_blank" rel="noopener">click here</a> then click on the chat box in the bottom right hand corner. The next best option is to post your question to the community forum. The forum can be found here: <a href="https://ethereum.stackexchange.com" target="_blank" rel="noopener">StackExchange</a>. I was unable to locate a customer support email address on the website and I did not receive a response on the Ethereum Reddit page.</p>
<h3>Exchange Support (10/10):</h3>
<p>Unfortunately, the exchanges are difficult to find on the website. They are linked on the home page through the documentation but it&#8217;s very difficult to locate. Luckily for Ethereum, they scored a 10 simply because of the large amount of exchanges available. Hopefully a developer at Ethereum will read through this review and make the changes.</p>
<p>The list of popular exchanges can be found here: <a href="http://www.ethdocs.org/en/latest/ether.html" target="_blank" rel="noopener">exchanges</a>. The exchanges listed in order are Poloniex, Kraken, Gatecoin, Bitfinex, Bittrex, Bluetrade, HitBTC, LiveCoin, Coinsquare and Bittylicious.</p>
<h3 id="WalletSetup">Wallet Setup Instructions (8/10):</h3>
<p>The PC version is located directly on the home page however if you would like to setup Ethereum on a phone you will find it in the app store. The team has introduced an installer in the beta version however this version isn&#8217;t the the main download listed on the website.</p>
<h5 id="PhoneSetup">iPhone and Android Users:</h5>
<p>The easiest way to get started is to search the app store for an application named &#8220;Ethereum wallet by FreeWallet. Sign in with an email address or a social media account. If you would like a tutorial on how to use the application click on &#8220;Explore your wallet&#8221; within the app.</p>
<h5>PC Users:</h5>
<p>Create a folder on your desktop and label it &#8220;Ethereum&#8221;. Next, download the zip file located here: <a href="https://github.com/ethereum/mist/releases/download/v0.10.0/Ethereum-Wallet-win32-0-10-0.zip">Wallet Download</a>. Open the file and press &#8220;ctrl + a&#8221; inside the window. Now, drag and drop the contents to the folder you created on the desktop.</p>
<p>Open the folder and double click on the icon labeled &#8220;Ethereum Wallet&#8221;. By default the application is set to &#8220;light mode&#8221; which synchronizes fast but you will need to wait until the &#8220;downloading blocks&#8221; screen disappears. Now that you&#8217;re inside the app, feel free to click around and explore.<br />
Note: If you would like to experiment with the beta version with an installer <a href="https://github.com/ethereum/mist/releases/download/v0.10.0/Ethereum-Wallet-installer-0-10-0.exe">click here</a>.</p>
<h5>Online wallets:</h5>
<p><a href="https://www.myetherwallet.com" target="_blank" rel="noopener">MyEtherWallet</a> is one of the most common online wallets. I&#8217;ve included a video below to explain how to setup an easy lightweight Ethereum account.<br />
<iframe src="https://www.youtube.com/embed/phht73IvUDI?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<h5>Free Ethereum CryptoCurrency Faucets:</h5>
<p>Get free Ethereum to get you started by clicking here: <a href="https://ethereum-faucet.org/" target="_blank" rel="noopener">Free Faucet.</a></p>
<h3>Mining Setup Instructions:</h3>
<p>Ethereum currently uses an algorithm known as EThash and was designed to utilize GPUs such as AMD or NVidia. Watch the video below for instructions on how to get started.</p>
<p><iframe src="https://www.youtube.com/embed/IMG98V6DPoU?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/ethereum-eth-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>GridCoin (GRC) CryptoCurrency Review</title>
		<link>http://altcoinandme.com/gridcoin-grc-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/gridcoin-grc-cryptocurrency-review/#respond</comments>
				<pubDate>Thu, 22 Mar 2018 15:02:02 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[GRC]]></category>
		<category><![CDATA[Grid Coin]]></category>
		<category><![CDATA[GridCoin]]></category>
		<category><![CDATA[Thumbs Up]]></category>

		<guid isPermaLink="false">http://altcoinandme.com/?p=173</guid>
				<description><![CDATA[Overview: Gridcoin offers rewards for donating your computer power to solving world issues such as cancer research, climate prediction, malaria control and even search for aliens! A full list of the amazing projects that reward GridCoin cryptocurrency are listed here: Project WhiteList. Opinion: I would highly recommend GridCoin because it has…<p> <a class="continue-reading-link" href="http://altcoinandme.com/gridcoin-grc-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_99" style="width: 210px" class="wp-caption alignleft"><a href="http://altcoinandme.com/grid-coin-cryptocurrency/"><img aria-describedby="caption-attachment-99" class="wp-image-99 size-full" src="/wp-content/uploads/2018/03/ThumbsUp.jpg" alt="Recommended Cryptocurrency!" width="200" height="240" srcset="/wp-content/uploads/2018/03/ThumbsUp.jpg 200w, /wp-content/uploads/2018/03/ThumbsUp-125x150.jpg 125w" sizes="(max-width: 200px) 100vw, 200px" /></a><p id="caption-attachment-99" class="wp-caption-text">Thumbs Up! To view a detailed analysis of the score-sheet, <a href="https://docs.google.com/spreadsheets/d/13Cfd9-24MQ7KJ8z7ABjEBvIO4TKRdUMcXB6hNKA7b9A/edit?usp=sharing" target="_blank" rel="noopener">click here!</a></p></div>
<h3>Overview:</h3>
<p>Gridcoin offers rewards for donating your computer power to solving world issues such as cancer research, climate prediction, malaria control and even search for aliens! A full list of the amazing projects that reward GridCoin cryptocurrency are listed here: <a href="https://www.gridcoin.us/Guides/whitelist.htm" target="_blank" rel="noopener">Project WhiteList</a>.</p>
<h3>Opinion:</h3>
<p>I would highly recommend GridCoin because it has a highly stable and supportive community. The contributors believe in not just making money but helping the planet. Optionally, you can just leave your wallet online to earn a 1.5% APY.</p>
<h3>GridCoin Website:</h3>
<p><a href="https://www.gridcoin.us/" target="_blank" rel="noopener">Project HomePage</a></p>
<h3>Usability:</h3>
<p>The online wallet, phone wallet and PC wallet are easy to set up. If you would only like to send and receive GridCoin, scroll down to the section titled &#8220;online wallets&#8221;. However, if you wish to set up mining it&#8217;s a very complicated process. Unfortunately, I believe this is the only major issue with GridCoin. While as a programmer I might understand the steps, it&#8217;s very difficult for a standard user to begin mining. I&#8217;ve included a video in the section titled &#8220;Mining Setup Instructions&#8221; if you would like to learn how to mine. The developers should consider packaging everything in a bundle as a single installer.</p>
<h3>Privacy:</h3>
<p>GridCoin uses the standard blockchain protocol with no enhanced privacy features.</p>
<h3>Credibility:</h3>
<p>The website does not list any of the core developers. The team is located on a third party website located here: <a href="https://gridcoin.science/team.html" target="_blank" rel="noopener">project team</a>. It appears as if the primary developer has chosen to remain anonymous which is understandable but at least he&#8217;s being up front about it. The customer support commented that they would put in a request to get the team listed on the home page.</p>
<h3>Innovation:</h3>
<p>Amazing! This project is a one of a kind attempt to help scientist cure the worlds problems. Most people aren&#8217;t aware of the damage Bitcoin mining is making on the environment. If Bitcoin were a country it would rank 48th in the world for power consumption as you can see here: <a href="https://digiconomist.net/bitcoin-energy-consumption" target="_blank" rel="noopener">https://digiconomist.net/bitcoin-energy-consumption</a>. The team addresses this issue by using that energy to help scientists. It&#8217;s a global effort, so do your best to get the word out.</p>
<h3>Customer Support (tested):</h3>
<p>Excellent customer support. Don&#8217;t hesitate to contact them about any questions you might have. All of my questions were quickly answered with polite and helpful answers. Although they are missing direct chat support there are plenty of other avenues you can use to contact them.</p>
<p>Direct chat support: N/A</p>
<p>Email: <a href="https://www.gridcoin.us/contact.htm" target="_blank" rel="noopener">Contact Page</a></p>
<p>Facebook: <a href="https://www.facebook.com/gridcoins" target="_blank" rel="noopener">Direct Chat</a></p>
<p>Discord: <a href="https://discord.gg/Bt4YHxJ" target="_blank" rel="noopener">Support Group</a></p>
<p>Telegram: <a href="https://web.telegram.org/#/im?p=@gridcoin" target="_blank" rel="noopener">Support Group</a></p>
<h3>Exchange Adoption:</h3>
<p>Gridcoin is supported by two high volume exchanges and one low volume exchange that are listed on their website. A high volume exchange is defined as ranking over 50th place in volume on https://coinmarketcap.com/exchanges/volume/24-hour/. The ranking from the highest volume to the lowest is Bittrex (11th), Poloniex (22nd) and C-Cex (115th).</p>
<h3>Mining Setup Instructions (optional):</h3>
<p>To mine I would suggest you watch the video below. If you would not like to mine scroll down to the section title &#8220;Wallet Setup Instructions&#8221;.<br />
<iframe src="https://www.youtube.com/embed/jm2E6pQ-Ifw?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<h3>Wallet Setup Instructions:</h3>
<h5>Download Wallet:</h5>
<p>To run a full node wallet, Scroll to the bottom of: <a href="https://www.gridcoin.us/" target="_blank" rel="noopener">the teams home page</a> and click on the wallet of your choice.</p>
<h5>Online wallets:</h5>
<p><span style="text-decoration: underline;">PC:</span><br />
An online wallet is the easiest way to send and receive GridCoins. The online wallet is located here: <a href="https://gridcoins.org/" target="_blank" rel="noopener">on their home page by clicking here!</a>.</p>
<p><span style="text-decoration: underline;">Android:</span><br />
Android users can use an application called &#8220;Coinimy&#8221; that supports GridCoin. Simply install the application from the Google Play Store and add the coin &#8220;GridCoin&#8221;. Please note that if you use the phone version you will not collect interest on your GridCoin(s).</p>
<p><span style="text-decoration: underline;">iPhone:</span></p>
<p>I was unable to find any support for the iPhone.</p>
<h5>Download wallet blocks using the GridCoin application:</h5>
<p>After the program has installed, double click on the GridCoin logo on your desktop. Once the client has loaded, click advanced on the toolbar, then click on &#8220;Download Blocks&#8221;.Click on &#8220;ok&#8221; and wait while the wallet brings it up to date.</p>
<h5>Free GridCoin CryptoCurrency Faucets:</h5>
<p><a href="http://uscore.net/" target="_blank" rel="noopener">UScore</a> (highly recommended)</p>
<p><a href="https://gridcoinstats.eu/faucet.php" target="_blank" rel="noopener">GCStats</a></p>
<p><a href="http://gridcoin.ch/faucet.php" target="_blank" rel="noopener">GC.ch</a></p>
<h5>Start collecting interest on your coins:</h5>
<p>You will need at least five GridCoin to start collecting interest. GridCoins are obtainable for free through the faucets, or you can purchase them through the exchanges. I would recommend using <a href="http://uscore.net/" target="_blank" rel="noopener">http://uscore.net/</a> to obtain your original GridCoin because they&#8217;ll send you enough to get started. Once your wallet is online and up to date it will start collecting interest in 24-48 hours.</p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/gridcoin-grc-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>BitCoin Private (BTCP) CryptoCurrency Review</title>
		<link>http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency-review/#respond</comments>
				<pubDate>Thu, 15 Mar 2018 16:13:54 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[Bitcoin Private]]></category>
		<category><![CDATA[BitcoinPrivate]]></category>
		<category><![CDATA[BTCP]]></category>
		<category><![CDATA[Thumbs Up]]></category>

		<guid isPermaLink="false">http://altcoinandme.com/?p=192</guid>
				<description><![CDATA[Overview: Bitcoin Private (BTCP) is a truly anonymous cryptocurrency using a technology called [sg_popup id=&#8221;24&#8243; event=&#8221;click&#8221;]zk-snarks[/sg_popup] to conceal the sender and receivers addresse. Embedded in the wallet is also the ability to split up your transaction to assist in concealing the transaction amount. Opinion: Thumbs up. This is a once…<p> <a class="continue-reading-link" href="http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_99" style="width: 210px" class="wp-caption alignleft"><a href="http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency"><img aria-describedby="caption-attachment-99" class="wp-image-99 size-full" src="/wp-content/uploads/2018/03/ThumbsUp.jpg" alt="Recommended Cryptocurrency!" width="200" height="240" srcset="/wp-content/uploads/2018/03/ThumbsUp.jpg 200w, /wp-content/uploads/2018/03/ThumbsUp-125x150.jpg 125w" sizes="(max-width: 200px) 100vw, 200px" /></a><p id="caption-attachment-99" class="wp-caption-text">Thumbs Up!</p></div>
<h3>Overview:</h3>
<p>Bitcoin Private (BTCP) is a truly anonymous cryptocurrency using a technology called [sg_popup id=&#8221;24&#8243; event=&#8221;click&#8221;]zk-snarks[/sg_popup] to conceal the sender and receivers addresse. Embedded in the wallet is also the ability to split up your transaction to assist in concealing the transaction amount.</p>
<h3>Opinion:</h3>
<p>Thumbs up. This is a once in a lifetime opportunity. Bitcoin Private is the next evolution of Bitcoin. We all should have a right to our privacy and with the new government regulations it&#8217;s being taken away! Do you feel like you missed out on Bitcoin in the early days? Here&#8217;s your chance. There&#8217;s major potential in the future because the privacy aspect is ground breaking. If you owned ZClassic or Bitcoin on February 28th, 2018 you are entitled to an equal amount of Bitcoin Private.</p>
<h3>Bitcoin Private Website:</h3>
<p><a href="https://btcprivate.org/" target="_blank" rel="noopener">Click here to view their home page.</a></p>
<h3>Bitcoin Private Whitepaper (documentation):</h3>
<p><a href="https://btcprivate.org/whitepaper.pdf" target="_blank" rel="noopener">Click here to view the WhitePaper!</a></p>
<h3>Usability:</h3>
<p>Not good. In comparison, it&#8217;s pretty complicated to set up. If you would like to run a full node wallet you will need to be familiar with Java which simply isn&#8217;t feasible for the average user. I do however have a solution in the section titled &#8220;Web Wallet&#8221; that doesn&#8217;t require Java.  Keep in mind that this project is only in the infancy stage and I&#8217;m sure the team will introduce better installers in the future. I&#8217;ll make sure to keep this article update up to date with improvements.</p>
<h3>Privacy:</h3>
<p>Incredible. There&#8217;s nothing that comes close to the privacy features on Bitcoin Private. They&#8217;re using a method called &#8220;[sg_popup id=&#8221;24&#8243; event=&#8221;click&#8221;]zk-snarks[/sg_popup]&#8221;. [sg_popup id=&#8221;24&#8243; event=&#8221;click&#8221;]Zk-Snarks[/sg_popup] conceals the sender address, receivers address and other data from the public. It also features the ability to send a transaction and split it multiple times so that matching the senders amount with the receivers amount becomes exponentially difficult. Please note that you need to set up a private address within the wallet to take full advantage of privacy features Bitcoin Private offers</p>
<h3>Credibility:</h3>
<p>The team is fully transparent about who is working on the project. You can find a list of the team by clicking here: <a href="https://btcprivate.org/team.html" target="_blank" rel="noopener">Developer Team</a>. The credibility and skills of the team are truly impressive including a roster of developers, marketers, designers and legal counsel.</p>
<h3>Innovation:</h3>
<p>Complete cutting edge technology. The speed of sending a transaction is 2-4 times faster than Bitcoin. Bitcoin Private is a pioneer in the cryptocurrency privacy arena. The team has also implemented something called BIP9. Due to BIP9, the future evolution of Bitcoin Private looks promising.</p>
<h3>Customer Support:</h3>
<p>I&#8217;m very unhappy to report that their customer support is non-existent. I was unable to get a response from their &#8220;live chat&#8221; button or any of the social media links. Attempts to contact the Bitcoin Private community support only resulted in insults. Attempting to ask a simple question about how to setup the wallet almost got me banned. I eventually got the support of a single user (thank you Timo) that was patient and led me through the pretend process of setting up a wallet..</p>
<h3>Exchange Support:</h3>
<p>Bitcoin Private is currently supported on three exchanges and is currently working on being listed in larger exchanges such as Binance. Binance announced that if the developers made some improvements they would support Bitcoin Private.</p>
<p><a href="https://tradesatoshi.com/Exchange?market=BTCP_BTC" target="_blank" rel="noopener">TradeSatoshi</a></p>
<p>The only problem with the next exchange is that you can only trade the cryptocurrency &#8220;NANO&#8221; to gain BTCP.</p>
<p><a href="https://nanex.co/exchange/BTCPNANO" target="_blank" rel="noopener">Nanex</a></p>
<p><a href="https://exrates.me/dashboard" target="_blank" rel="noopener">Exrates</a></p>
<h3>Wallet Setup Instructions:</h3>
<h5>Phone users:</h5>
<p>Download and install an App called Coinomi.</p>
<p>Android users click here:<br />
<a href="https://play.google.com/store/apps/details?id=com.coinomi.wallet" target="_blank" rel="noopener">https://play.google.com/store/apps/details?id=com.coinomi.wallet</a></p>
<p>iPhone users::<br />
None available.<a href="https://coinomi.com/" target="_blank" rel="noopener"><br />
</a><br />
Click on create a new wallet. Write down the passphrase on the next screen. Click the checkbox and hit next. Confirm your passphrase by tapping on the correct words (you will only need to do this once), then click next. Now create a password (it must be at least 10 characters long). Congratulations, you have now setup Bitcoin Private on your phone. You can now browse the different features of the application.</p>
<h5>PC Users:</h5>
<h5>Online wallets:</h5>
<p>An online wallet is the fastest, easiest way to set up your own Bitcoin Private wallet. If you setup a lightweight wallet you do not need a full node wallet.</p>
<p>(Windows users)<br />
<span style="font-family: 'Source Sans Pro';">Electrum is not technically an online wallet but it&#8217;s lightweight and you don&#8217;t have to worry about the difficulties of running a full node. You can download the Electrum wallet here:</span></p>
<p><a href="https://github.com/BTCPrivate/electrum-btcp/releases/" target="_blank" rel="noopener">Download Electrum Wallet</a></p>
<p>Download a full node wallet:</p>
<p>Unfortunately setting up a wallet as a full node is only available using Java. I&#8217;ve attached a zip file with some modifications to make the process much simpler.</p>
<p>Step 1: Make sure you have the latest version of Java installed.</p>
<p>Download and install Java: <a href="https://java.com/en/download/" target="_blank" rel="noopener">https://java.com/en/download/</a></p>
<p>Step 2:</p>
<p>(Windows only)</p>
<p>I&#8217;ve taken a few of the steps out of the process to help you with the installation and included them in a zip file located here:</p>
<p><a href="https://altcoinandme.blob.core.windows.net/downloads/BitcoinPrivateDesktopWallet_1.0.2_windows.zip" rel="noopener">Full node Installer</a></p>
<p>Simply extract the folder to your desktop and double click on the run.bat file located in the folder to start the wallet.</p>
<p>(Linux)</p>
<p>Download and follow the instructions here:</p>
<p><a href="https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/releases" target="_blank" rel="noopener">Linux GitHub instructions</a></p>
<h5>Download the wallet blocks using the Bitcoin Private wallet:</h5>
<p>The synchronization is extremely fast so just open the wallet and wait. If you&#8217;re running the Electrum wallet, it&#8217;s already up to date.</p>
<h5>Free Bitcoin Private CryptoCurrency Faucets:</h5>
<p>None yet, I&#8217;m sure there will be a few in the near future.</p>
<h3>Mining Setup Instructions:</h3>
<p>Bitcoin Private uses Equihash which is an algorithm that is only efficient to mine if you have a modern graphics card.</p>
<p>Below is a great video on how to get you started.</p>
<p><iframe src="https://www.youtube-nocookie.com/embed/QY-6P5c6V-8?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
