<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Alt Coin &amp; Me	</title>
	<atom:link href="http://altcoinandme.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://altcoinandme.com/</link>
	<description>CryptoCurrency Reviews</description>
	<lastBuildDate>Mon, 07 May 2018 19:43:17 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
