<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>NEO &#8211; Alt Coin &amp; Me</title>
	<atom:link href="http://altcoinandme.com/tag/neo/feed/" rel="self" type="application/rss+xml" />
	<link>http://altcoinandme.com/</link>
	<description>CryptoCurrency Reviews</description>
	<lastBuildDate>Mon, 07 May 2018 17:08:41 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>NEO CryptoCurrency Review</title>
		<link>http://altcoinandme.com/neo-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/neo-cryptocurrency-review/#respond</comments>
				<pubDate>Sun, 06 May 2018 17:23:02 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[NEO]]></category>
		<category><![CDATA[NEOS]]></category>
		<category><![CDATA[Thumbs Down]]></category>

		<guid isPermaLink="false">http://altcoinandme.com/?p=545</guid>
				<description><![CDATA[NEO Website: Project Home Page Overview: NEO is often termed as the &#8220;Chinese Ethereum&#8220;. The reason people refer to this reference is because NEO provides &#8220;smart contracts&#8221; which are an ability for developers to implement applications within the network giving it potential to be whatever the programmers can think up.…<p> <a class="continue-reading-link" href="http://altcoinandme.com/neo-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_101" style="width: 208px" class="wp-caption alignleft"><a href="http://altcoinandme.com/neo-cryptocurrency-review/"><img aria-describedby="caption-attachment-101" class="wp-image-101 size-full" src="/wp-content/uploads/2018/03/ThumbsDown.jpg" alt="I do not recommend this cryptocurrency" width="198" height="240" srcset="/wp-content/uploads/2018/03/ThumbsDown.jpg 198w, /wp-content/uploads/2018/03/ThumbsDown-124x150.jpg 124w" sizes="(max-width: 198px) 100vw, 198px" /></a><p id="caption-attachment-101" class="wp-caption-text">AltCoin recommendation. View the ScoreSheet <a href="https://docs.google.com/spreadsheets/d/1zlo62HA5WYSqeDj4fw0AVT4dDm_XidInQpWBuwe2z9U/edit?usp=sharing" target="_blank" rel="noopener">here</a>:</p></div>
<h3>NEO Website:</h3>
<p><a href="https://neo.org/" target="_blank" rel="noopener">Project Home Page</a></p>
<h3>Overview:</h3>
<p>NEO is often termed as the &#8220;Chinese <a href="http://altcoinandme.com/ethereum-eth-cryptocurrency-review/">Ethereum</a>&#8220;. The reason people refer to this reference is because NEO provides &#8220;smart contracts&#8221; which are an ability for developers to implement applications within the network giving it potential to be whatever the programmers can think up. Another similarity is the transaction fees being covered by &#8220;gas&#8221; which is the amount needed to perform a transaction and is a completely separate cryptocurrency by itself. The main difference is that developers are able to develop in a programming language of their choice on the NEO network which is a big deal. The throughput is also impressive at 1000 practical (not theoretical) transactions per second.</p>
<h3>Personal Opinion:</h3>
<p>This is one of the most difficult ratings I&#8217;ve given since at the beginning of my research I discovered that I had the ability to develop in my native programming language (C#). However, the truth is NEO isn&#8217;t a fully decentralized network. The main reason for the throughput is because they only cover part of the requirements for a decentralized network. This is actually the reason why NEO is able to achieve such throughput. They don&#8217;t hide this fact and have stated they plan on decentralization in the future. <a href="http://altcoinandme.com/ripple-xrp-cryptocurrency-review/" target="_blank" rel="noopener">See my Ripple Review on centralization.</a> Supporting a cryptocurrency that isn&#8217;t fully decentralized is like saying &#8220;I have full trust my government will do the right thing and not intervene&#8221;. The fact that the nodes are based in China is also scary since the Chinese government is known for its censorship policies.</p>
<p>Also very disheartening (taken from their whitepaper):</p>
<blockquote><p>&#8220;10 million tokens (10% total) will be used to motivate NEO developers and members of the NEO Council</p>
<p>10 million tokens (10% total) will be used to motivate developers in the NEO ecosystem</p>
<p>15 million tokens (15% total) will be used to cross-invest in other block-chain projects, which are owned by the NEO Council and are used only for NEO projects</p>
<p>15 million (15% total) will be retained as contingency&#8221;</p></blockquote>
<p>Given their amount of self-distribution or control violates the concept of any one entity containing too much power. This is a huge negative flag and should be taken seriously. It&#8217;s not as awful as <a href="http://altcoinandme.com/ripple-xrp-cryptocurrency-review/" target="_blank" rel="noopener">Ripples distribution</a> of currency however it&#8217;s still a major problem. It encourages the self interest of the party in control and not the community.</p>
<h3>Usability (7/10):</h3>
<p>If you would like to get started quickly with NEOs on a PC I would recommend clicking <a href="#PcSetup">here to scroll</a> down to the &#8220;PC Online / LightWeight Setup&#8221; section. To quickly setup on your phone <a href="#PhoneSetup">click here to scroll down</a> to the phone setup section. Unfortunately the full node doesn&#8217;t include an installer but it pretty straightforward. It took three days to synchronize with the network which is pretty good.</p>
<h3>Privacy (5/10):</h3>
<p>NEO uses a standard [sg_popup id=&#8221;33&#8243; event=&#8221;click&#8221;]block-chain[/sg_popup] public ledger that&#8217;s fully transparent. This has obvious benefits but there&#8217;s no apparent privacy enhancing features of NEO.</p>
<h3>Credibility (10/10):</h3>
<p>Congratulations to the NEO team for getting a 10/10 which is very rare for the cryptocurrencies I review. A full roster of the team can be located <a href="https://neo.org/home/team" target="_blank" rel="noopener">here</a>. If you would like to do your own reading of the documentation (whitepaper) it is located <a href="http://docs.neo.org/en-us/index.html" target="_blank" rel="noopener">here</a>. The code of the project is fully transparent and can be found by navigating <a href="https://github.com/neo-project" target="_blank" rel="noopener">here</a>.</p>
<h3>Innovation (10/10):</h3>
<p>Neo has shown great innovation particularly in the field of enabling any programming language to run on its platform. NEO also contains some trendsetting features labeled NeoFX, NeoFS and NeoQS. For the simplicity of this review I will not be expanding on these topics.</p>
<h3>Customer Support (5.25/10):</h3>
<p>Customer support wasn&#8217;t the best but it does exist. There&#8217;s a couple Chinese support forums that I was unable to evaluate due to not supporting English. If you have a basic question and speak English I would recommend the Neos community <a href="https://discord.gg/DtzSb2Z" target="_blank" rel="noopener">discord chat</a>. The chat can be a hit or miss so you may need to call out an admin to get an answer. For questions you can&#8217;t resolve within the community Neo an email is listed at contact@neo.org which I got a response from within 24 hours. The Facebook messaging doesn&#8217;t work and getting a response from reddit can be a gamble.</p>
<h3>Exchange Support (10/10):</h3>
<p>Unfortunately, I couldn&#8217;t locate any of the exchanges on the website however NEO was able to make the points up with the large amount of support across exchanges. Here&#8217;s a list according to CoinMarketCap.com in order from the highest volume to the lowest volume: UpBit, Binance, Bitfinex, OKEx, CoinEgg, Bittrex, Huobi, LbankLBank, DragonEx, HitBTC.</p>
<h3 id="WalletSetup">Getting started &#8211; Wallet Usability (7/10):</h3>
<p>The development community has developed many different versions on NEO. Several full and lightweight PC versions are located <a href="https://neo.org/client" target="_blank" rel="noopener">here</a>. They don&#8217;t list phone app versions on the website but I&#8217;ve included some below.</p>
<h3 id="PhoneSetup">Phone Setup</h3>
<h5>Android:</h5>
<p>I chose to download and use a wallet by the name of O3Wallet <a href="https://play.google.com/store/apps/details?id=network.o3.o3wallet" target="_blank" rel="noopener">located here</a>. Click &#8220;Create a new wallet&#8221; on the first screen after installation. The next screen will display a public address and a private key. The public address is an address you can give out to receive your funds. Don&#8217;t ever disclose your private address to anybody! The private address is the key to unlock your account. Write it down on a piece of paper and hide it. Screenshots are not recommended because if a person gains access to your photos they essentially will gain access to your wallet.</p>
<h5>iPhone:</h5>
<p>None found.</p>
<h3 id="PcSetup">PC Setup:</h3>
<h5>Online wallet / Light Weight Wallet:</h5>
<p>Download a lightweight wallet by &#8220;CityOfZion&#8221; for Windows or Linux located <a href="https://github.com/CityOfZion/neon-wallet/releases" target="_blank" rel="noopener">here</a>. Click on &#8220;Create a new wallet&#8221; on the next screen or use another one of the options to login. Choose a password and select &#8220;Generate Keys&#8221;. Make sure to copy the information on the next screen in the situation that you may need to recover your wallet. After you are done saving the information the only method I could personally view to start the wallet was to close the window, double click on the application on your desktop. Click on &#8220;login using a saved wallet&#8221;. Select your wallet then enter the passphrase. You now have full access to your wallet, Congratulations!</p>
<h5>Download a Full Node Wallet (Witness node or Full Wallet):</h5>
<p>The full node PC wallet for Windows is available for download by clicking <a href="https://github.com/neo-project/neo-gui/releases/download/v2.6.0/neo-gui-windows.zip">here</a>. Open the zip file and drag and drop the folder your desktop. Next, double click on &#8220;neo-gui.exe&#8221; inside of the folder. Click &#8220;yes&#8221; on installing the certificate and your wallet will automatically start downloading the blocks.</p>
<h5>Free NEO Faucets:</h5>
<p>No obvious faucets could be found. This is because the minimum amount of NEO that can be transferred from wallet to wallet is 1 so the faucet would have to pay out 1 NEO per interaction which is a very large amount.</p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/neo-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
