<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>BitcoinPrivate &#8211; Alt Coin &amp; Me</title>
	<atom:link href="http://altcoinandme.com/tag/bitcoinprivate/feed/" rel="self" type="application/rss+xml" />
	<link>http://altcoinandme.com/</link>
	<description>CryptoCurrency Reviews</description>
	<lastBuildDate>Fri, 27 Apr 2018 07:14:38 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>BitCoin Private (BTCP) CryptoCurrency Review</title>
		<link>http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency-review/</link>
				<comments>http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency-review/#respond</comments>
				<pubDate>Thu, 15 Mar 2018 16:13:54 +0000</pubDate>
		<dc:creator><![CDATA[Chris]]></dc:creator>
				<category><![CDATA[CryptoCurrency]]></category>
		<category><![CDATA[Bitcoin Private]]></category>
		<category><![CDATA[BitcoinPrivate]]></category>
		<category><![CDATA[BTCP]]></category>
		<category><![CDATA[Thumbs Up]]></category>

		<guid isPermaLink="false">http://altcoinandme.com/?p=192</guid>
				<description><![CDATA[Overview: Bitcoin Private (BTCP) is a truly anonymous cryptocurrency using a technology called [sg_popup id=&#8221;24&#8243; event=&#8221;click&#8221;]zk-snarks[/sg_popup] to conceal the sender and receivers addresse. Embedded in the wallet is also the ability to split up your transaction to assist in concealing the transaction amount. Opinion: Thumbs up. This is a once…<p> <a class="continue-reading-link" href="http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency-review/"><span>Continue reading</span><i class="crycon-right-dir"></i></a> </p>]]></description>
								<content:encoded><![CDATA[<div id="attachment_99" style="width: 210px" class="wp-caption alignleft"><a href="http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency"><img aria-describedby="caption-attachment-99" class="wp-image-99 size-full" src="/wp-content/uploads/2018/03/ThumbsUp.jpg" alt="Recommended Cryptocurrency!" width="200" height="240" srcset="/wp-content/uploads/2018/03/ThumbsUp.jpg 200w, /wp-content/uploads/2018/03/ThumbsUp-125x150.jpg 125w" sizes="(max-width: 200px) 100vw, 200px" /></a><p id="caption-attachment-99" class="wp-caption-text">Thumbs Up!</p></div>
<h3>Overview:</h3>
<p>Bitcoin Private (BTCP) is a truly anonymous cryptocurrency using a technology called [sg_popup id=&#8221;24&#8243; event=&#8221;click&#8221;]zk-snarks[/sg_popup] to conceal the sender and receivers addresse. Embedded in the wallet is also the ability to split up your transaction to assist in concealing the transaction amount.</p>
<h3>Opinion:</h3>
<p>Thumbs up. This is a once in a lifetime opportunity. Bitcoin Private is the next evolution of Bitcoin. We all should have a right to our privacy and with the new government regulations it&#8217;s being taken away! Do you feel like you missed out on Bitcoin in the early days? Here&#8217;s your chance. There&#8217;s major potential in the future because the privacy aspect is ground breaking. If you owned ZClassic or Bitcoin on February 28th, 2018 you are entitled to an equal amount of Bitcoin Private.</p>
<h3>Bitcoin Private Website:</h3>
<p><a href="https://btcprivate.org/" target="_blank" rel="noopener">Click here to view their home page.</a></p>
<h3>Bitcoin Private Whitepaper (documentation):</h3>
<p><a href="https://btcprivate.org/whitepaper.pdf" target="_blank" rel="noopener">Click here to view the WhitePaper!</a></p>
<h3>Usability:</h3>
<p>Not good. In comparison, it&#8217;s pretty complicated to set up. If you would like to run a full node wallet you will need to be familiar with Java which simply isn&#8217;t feasible for the average user. I do however have a solution in the section titled &#8220;Web Wallet&#8221; that doesn&#8217;t require Java.  Keep in mind that this project is only in the infancy stage and I&#8217;m sure the team will introduce better installers in the future. I&#8217;ll make sure to keep this article update up to date with improvements.</p>
<h3>Privacy:</h3>
<p>Incredible. There&#8217;s nothing that comes close to the privacy features on Bitcoin Private. They&#8217;re using a method called &#8220;[sg_popup id=&#8221;24&#8243; event=&#8221;click&#8221;]zk-snarks[/sg_popup]&#8221;. [sg_popup id=&#8221;24&#8243; event=&#8221;click&#8221;]Zk-Snarks[/sg_popup] conceals the sender address, receivers address and other data from the public. It also features the ability to send a transaction and split it multiple times so that matching the senders amount with the receivers amount becomes exponentially difficult. Please note that you need to set up a private address within the wallet to take full advantage of privacy features Bitcoin Private offers</p>
<h3>Credibility:</h3>
<p>The team is fully transparent about who is working on the project. You can find a list of the team by clicking here: <a href="https://btcprivate.org/team.html" target="_blank" rel="noopener">Developer Team</a>. The credibility and skills of the team are truly impressive including a roster of developers, marketers, designers and legal counsel.</p>
<h3>Innovation:</h3>
<p>Complete cutting edge technology. The speed of sending a transaction is 2-4 times faster than Bitcoin. Bitcoin Private is a pioneer in the cryptocurrency privacy arena. The team has also implemented something called BIP9. Due to BIP9, the future evolution of Bitcoin Private looks promising.</p>
<h3>Customer Support:</h3>
<p>I&#8217;m very unhappy to report that their customer support is non-existent. I was unable to get a response from their &#8220;live chat&#8221; button or any of the social media links. Attempts to contact the Bitcoin Private community support only resulted in insults. Attempting to ask a simple question about how to setup the wallet almost got me banned. I eventually got the support of a single user (thank you Timo) that was patient and led me through the pretend process of setting up a wallet..</p>
<h3>Exchange Support:</h3>
<p>Bitcoin Private is currently supported on three exchanges and is currently working on being listed in larger exchanges such as Binance. Binance announced that if the developers made some improvements they would support Bitcoin Private.</p>
<p><a href="https://tradesatoshi.com/Exchange?market=BTCP_BTC" target="_blank" rel="noopener">TradeSatoshi</a></p>
<p>The only problem with the next exchange is that you can only trade the cryptocurrency &#8220;NANO&#8221; to gain BTCP.</p>
<p><a href="https://nanex.co/exchange/BTCPNANO" target="_blank" rel="noopener">Nanex</a></p>
<p><a href="https://exrates.me/dashboard" target="_blank" rel="noopener">Exrates</a></p>
<h3>Wallet Setup Instructions:</h3>
<h5>Phone users:</h5>
<p>Download and install an App called Coinomi.</p>
<p>Android users click here:<br />
<a href="https://play.google.com/store/apps/details?id=com.coinomi.wallet" target="_blank" rel="noopener">https://play.google.com/store/apps/details?id=com.coinomi.wallet</a></p>
<p>iPhone users::<br />
None available.<a href="https://coinomi.com/" target="_blank" rel="noopener"><br />
</a><br />
Click on create a new wallet. Write down the passphrase on the next screen. Click the checkbox and hit next. Confirm your passphrase by tapping on the correct words (you will only need to do this once), then click next. Now create a password (it must be at least 10 characters long). Congratulations, you have now setup Bitcoin Private on your phone. You can now browse the different features of the application.</p>
<h5>PC Users:</h5>
<h5>Online wallets:</h5>
<p>An online wallet is the fastest, easiest way to set up your own Bitcoin Private wallet. If you setup a lightweight wallet you do not need a full node wallet.</p>
<p>(Windows users)<br />
<span style="font-family: 'Source Sans Pro';">Electrum is not technically an online wallet but it&#8217;s lightweight and you don&#8217;t have to worry about the difficulties of running a full node. You can download the Electrum wallet here:</span></p>
<p><a href="https://github.com/BTCPrivate/electrum-btcp/releases/" target="_blank" rel="noopener">Download Electrum Wallet</a></p>
<p>Download a full node wallet:</p>
<p>Unfortunately setting up a wallet as a full node is only available using Java. I&#8217;ve attached a zip file with some modifications to make the process much simpler.</p>
<p>Step 1: Make sure you have the latest version of Java installed.</p>
<p>Download and install Java: <a href="https://java.com/en/download/" target="_blank" rel="noopener">https://java.com/en/download/</a></p>
<p>Step 2:</p>
<p>(Windows only)</p>
<p>I&#8217;ve taken a few of the steps out of the process to help you with the installation and included them in a zip file located here:</p>
<p><a href="https://altcoinandme.blob.core.windows.net/downloads/BitcoinPrivateDesktopWallet_1.0.2_windows.zip" rel="noopener">Full node Installer</a></p>
<p>Simply extract the folder to your desktop and double click on the run.bat file located in the folder to start the wallet.</p>
<p>(Linux)</p>
<p>Download and follow the instructions here:</p>
<p><a href="https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/releases" target="_blank" rel="noopener">Linux GitHub instructions</a></p>
<h5>Download the wallet blocks using the Bitcoin Private wallet:</h5>
<p>The synchronization is extremely fast so just open the wallet and wait. If you&#8217;re running the Electrum wallet, it&#8217;s already up to date.</p>
<h5>Free Bitcoin Private CryptoCurrency Faucets:</h5>
<p>None yet, I&#8217;m sure there will be a few in the near future.</p>
<h3>Mining Setup Instructions:</h3>
<p>Bitcoin Private uses Equihash which is an algorithm that is only efficient to mine if you have a modern graphics card.</p>
<p>Below is a great video on how to get you started.</p>
<p><iframe src="https://www.youtube-nocookie.com/embed/QY-6P5c6V-8?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
]]></content:encoded>
							<wfw:commentRss>http://altcoinandme.com/bitcoin-private-btcp-cryptocurrency-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
